<template>
  <StackLayout class="wrapper" orientation="horizontal" >
    <Image class="user-picture" :src="userPicture" verticalAlignment="top" @tap="profileClick($event)"></Image>
    <GridLayout rows="auto,auto,auto,auto" paddingLeft="8" columns="auto,auto,auto,auto,auto,auto,*,auto">
      <Label row="0" col="0" colSpan="7" @tap="profileClick($event)">
        <FormattedString>
          <Span :text="name" style="font-weight:bold; font-size:15;"/>
          <Span text=" - "></Span>
          <Span :text="date" style="color:#8f8f8f; font-size:11;"/>
        </FormattedString>
      </Label>
      <Label row="1" col="0" colSpan="7" class="content" textWrap="true" :text="content" @tap="showLess($event)"/>
      <Image row="2" col="0" ref="likeButton" :src="likeIcon" :class="likeButtonClasses" @tap="likeClick($event)" />
      <Label row="2" col="1" class="pretty-counts" @tap="likeClick($event)" :text="likes"/>
      <Image row="2" col="2" ref="commentButton" :src="commentIcon" class="fa action-icon" @tap="commentClick($event)"/>
      <Label row="2" col="3" class="pretty-counts" :text="commentsCount" @tap="commentClick($event)"/>
      <Image row="2" col="4" ref="replyButton" :src="replyIcon" class="fa action-icon" @tap="replyClick($event)"/>
      <Label row="2" col="5" class="pretty-counts" text="Reply" @tap="replyClick($event)"/>
      <Image row="2" col="7" src.decode="font://&#xf142;" padding="4" color="black" class="fa action-icon"/>
      <Label v-if="commentsCount>0" row="3" col="0" colSpan="7" class="replies-count" :text="showRepliesText" @tap="commentClick($event)"/>
    </GridLayout>
  </StackLayout>

</template>

<script>
import {AnimationCurve} from "@nativescript/core/ui/enums";

import User_Profile from "../UserProfile";
import Replies from "../Replies";
import { isAndroid, isIOS} from "@nativescript/core/platform";

export default {

name: "Comment",
  components: {
    Replies
  },

  props: {
    userPicture:{
      type: String,
    },
    username: {
      type: String,
    },
    fullName: {
      type: String,
    },
    content:{
      type: String,
    },
    isLiked: {
      type: Boolean,
      default: false,
    },
    likeCount: {
      type: Number,
    },
    isCommented: {
      type: Boolean,
      default: false,
    },
    commentCount: {
      type: Number,
    },
    date:{
      type: String
    },
    commentId:{
      type:Number,
    },
    ownerId:{
      type:Number,
    },
    newsId:{
      type: Number,
    },
  },
  computed:{
    likeIcon(){
      if(this.liked){
        return "font://"+String.fromCharCode(0xf004);
      }else{
        return "font://"+String.fromCharCode(0xf08a);
      }
    },
    commentIcon(){
      if(this.commented){
        return "font://"+String.fromCharCode(0xf086);
      }else{
        return "font://"+String.fromCharCode(0xf0e6);
      }
    },
    replyIcon(){
      return "font://"+String.fromCharCode(0xf112);
    },
    likeButtonClasses(){
      if(this.liked){
        return "fa action-icon red";
      }else{
        return "fa action-icon";
      }
    },
    name(){
      let name = ''

      if(this.fullName){
        name = this.fullName;
      }else{
        name = this.username;
      }
      return name;
    },
    commentsCount(){
      return this.comments;
    },
    showRepliesText(){
      return this.commentsCount>1 ? '+ Show '+this.commentsCount+' Replies' : '+ Show '+this.commentsCount+' Reply';
    },

  },
  methods: {
    buttonOnTouch(event){
      if(event.action==="down"){
        this.buttonClasses = ['context-button-active'];
      }
      else if(event.action==="up"){
        this.buttonClasses = [];
      }
    },
    likeClick() {
      this.liked = !this.liked;
      console.log("Like button clicked");
      this.$refs.likeButton.nativeView.animate({
        scale:{x:0.5 , y:0.5},
        curve:AnimationCurve.ease,
        duration:0
      });
      this.$refs.likeButton.nativeView.animate({
        scale:{x:1 , y:1},
        curve:AnimationCurve.ease,
        duration:250
      });
    },
    profileClick(){
      this.$navigateTo(User_Profile, {
        props: {
          profile_id: this.ownerId,
          pp_src: this.userPicture,
          username: this.username,
        }
      });
    },
    commentClick(){
      this.$emit("navigation", {
        userPicture:this.userPicture,
        username: this.username,
        fullName: this.fullName,
        content: this.content,
        isLiked: this.isLiked,
        likeCount: this.likeCount,
        isCommented: this.isCommented,
        commentCount: this.commentCount,
        date: this.date,
        commentId: this.commentId,
        ownerId: this.ownerId,
        isReplyComment: false,
        newsId: this.newsId,
        type:'main'
      })
    },
    replyClick(){
      this.$emit("navigation", {
        userPicture:this.userPicture,
        username: this.username,
        fullName: this.fullName,
        content: this.content,
        isLiked: this.isLiked,
        likeCount: this.likeCount,
        isCommented: this.isCommented,
        commentCount: this.commentCount,
        date: this.date,
        commentId: this.commentId,
        ownerId: this.ownerId,
        isReplyComment: true,
        newsId:this.newsId,
        type:'main',
      })
    },
    showOptionsClick(){
      this.$emit("showOptions", {
        userPicture:this.userPicture,
        username: this.username,
        fullName: this.fullName,
        content: this.content,
        isLiked: this.isLiked,
        likeCount: this.likeCount,
        isCommented: this.isCommented,
        commentCount: this.commentCount,
        date: this.date,
        commentId: this.commentId,
        ownerId: this.ownerId,
      })
    },
    showLess(){
      console.log("Show less....");
      this.$emit('showLessContent',{
        commentId:this.commentId,
      })
    }
  },
  data(){
    return {
      buttonClasses: [],
      liked : this.isLiked,
      commented : this.isCommented,
      likes: this.likeCount,
      comments: this.commentCount,
      longContent: false,
    }
  },
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../comment';
// Custom classes
/*Context menu*/

</style>