<template>
  <StackLayout :class="[animation ? 'active' : '', 'wrapper']" orientation="horizontal" >
    <Image class="user-picture" :src="userPicture" verticalAlignment="top" @tap="profileClick($event)"></Image>
    <GridLayout rows="auto,auto,auto" paddingLeft="8" columns="auto,auto,auto,auto,*,auto">
      <Label row="0" col="0" colSpan="6" @tap="profileClick($event)">
        <FormattedString>
          <Span :text="name" style="font-weight:bold; font-size:15;"/>
          <Span text=" - "></Span>
          <Span :text="date" style="color:#8f8f8f; font-size:13;"/>
        </FormattedString>
      </Label>
      <Label row="1" col="0" colSpan="6" @loaded="contentLoaded" class="content" textWrap="true" @tap="showMore($event)">
        <FormattedString>
          <Span :text="'@'+parentUser" style="color:#3366BB; font-weight: bold;" @linkTap="goToUserProfile"/>
          <Span text="  "></Span>
          <Span :text="content" />
        </FormattedString>
      </Label>
      <Image row="2" col="0" ref="likeButton" :src="likeIcon" :class="likeButtonClasses" @tap="likeClick($event)" />
      <Label row="2" col="1" class="pretty-counts" @tap="likeClick($event)" :text="likes"/>
      <Image row="2" col="2" ref="replyButton" :src="replyIcon" class="fa action-icon" @tap="replyClick($event)"/>
      <Label row="2" col="3" class="pretty-counts" text="Reply" @tap="replyClick($event)"/>
      <Image row="2" col="5" src.decode="font://&#xf142;" @tap="showOptions" padding="4" color="black" class="fa action-icon" />

    </GridLayout>
  </StackLayout>

</template>

<script>
import {AnimationCurve} from "@nativescript/core/ui/enums";
import User_Profile from "../UserProfile";
import CommentActionsContextMenu from "../contextMenuComponents/CommentActionsContextMenu";
import {Dialogs} from "@nativescript/core";
import {isAndroid, isIOS} from "@nativescript/core/platform";
import MyProfile from "../MyProfile";
export default {

name: "Reply",
  components: {
    CommentActionsContextMenu
  },
  props: {
    userPicture:{
      type: String,
    },
    username: {
      type: String,
    },
    fullName: {
      type: String,
    },
    content:{
      type: String,
    },
    isLiked: {
      type: Boolean,
      default: false,
    },
    likeCount: {
      type: Number,
    },
    isCommented: {
      type: Boolean,
      default: false,
    },
    commentCount: {
      type: Number,
    },
    date:{
      type: String
    },
    commentId:{
      type: Number,
    },
    ownerId:{
      type: Number,
    },
    parentUser:{
      type: String,
    },
    parentId:{
      type: Number,
    },
    animation:{
      type:Boolean,
    },
  },
  computed:{
    globalProfile(){
      return this.$store.getters.getProfile;
    },
    globalProfileFetched(){
      return this.$store.getters.getProfileFetchState;
    },
    cacheProfileState(){
      return this.$store.getters.getCacheProfileState;
    },
    profilePicture(){
      if(this.globalProfileFetched &&
          this.globalProfile.profile &&
          this.globalProfile.profile.active_profile_picture &&
          (this.globalProfile.profile.active_profile_picture.picture||
              this.globalProfile.profile.active_profile_picture.picture_raw)
      ) {
        if(this.globalProfile.profile.active_profile_picture.picture)
          return this.globalProfile.profile.active_profile_picture.picture;
        else{
          return this.globalProfile.profile.active_profile_picture.picture_raw;
        }
      }
      else
        return this.$helpers.firstLetter(this.globalProfile.first_name,this.myUsername);
    },
    myUsername(){
      if(this.cacheProfileState) {
        return (this.globalProfile.username ? this.globalProfile.username : '');
      }
      return '';
    },
    likeIcon(){
      if(this.liked){
        return "font://"+String.fromCharCode(0xf004);
      }else{
        return "font://"+String.fromCharCode(0xf08a);
      }
    },
    commentIcon(){
      if(this.commented){
        return "font://"+String.fromCharCode(0xf086);
      }else{
        return "font://"+String.fromCharCode(0xf0e6);
      }
    },
    replyIcon(){
      return "font://"+String.fromCharCode(0xf112);
    },
    likeButtonClasses(){
      if(this.liked){
        return "fa action-icon red";
      }else{
        return "fa action-icon";
      }
    },
    name(){
      let name = ''
      if(this.fullName){
        name = this.fullName;
      }else{
        name = this.username;
      }
      return name;
    },
  },
  methods: {
    buttonOnTouch(event){
      if(event.action==="down"){
        this.buttonClasses = ['context-button-active'];
      }
      else if(event.action==="up"){
        this.buttonClasses = [];
      }
    },
    likeClick() {
      this.liked = !this.liked;
      console.log("Like button clicked");
      this.$refs.likeButton.nativeView.animate({
        scale:{x:0.5 , y:0.5},
        curve:AnimationCurve.ease,
        duration:0
      });
      this.$refs.likeButton.nativeView.animate({
        scale:{x:1 , y:1},
        curve:AnimationCurve.ease,
        duration:250
      });
    },
    profileClick() {
      if(this.username === this.myUsername){
        this.$navigateTo(MyProfile);
      }else{
        this.$navigateTo(User_Profile, {
          props: {
            profile_id: this.ownerId,
            pp_src: this.userPicture,
            username: this.username,
          }
        });
      }
    },
    goToUserProfile(){
      if(this.parentUser === this.myUsername){
        this.$navigateTo(MyProfile);
      }else{
        this.$navigateTo(User_Profile, {
          props: {
            profile_id: '',
            pp_src: '',
            username: this.parentUser,
          }
        });
      }
    },
    replyClick(){
      this.$emit("replyClick", {
        userPicture:this.userPicture,
        username: this.username,
        fullName: this.fullName,
        content: this.content,
        isLiked: this.isLiked,
        likeCount: this.likeCount,
        isCommented: this.isCommented,
        commentCount: this.commentCount,
        date: this.date,
        commentId: this.commentId,
        ownerId: this.ownerId,
        isReplyComment: false,
        parentUser:this.parentUser,

      })
    },
    async showOptions(){
      console.log("Show Options clicked");
      let bottomSheetResult = await this.$showBottomSheet(CommentActionsContextMenu, {
        transparent: true,
        props:{
          comment:{
            username:this.username,
            from:'reply',
          }
        }
      });
      if (bottomSheetResult === "goToParent") {
        console.log("go to parent message");
        this.$emit('goToParentMessage', {parentId:this.parentId});
      }
      if(bottomSheetResult === "delete"){
        console.log("Delete this message");
        let response = await Dialogs.confirm({
          title: "Delete ?",
          message: "You cannot undo this action. Do you want to delete this reply?",
          okButtonText: "Delete",
          cancelButtonText: "Cancel"
        });
        if (response) {
          console.log("Ok delete this message");
          this.$emit('deleteComment',{commentId:this.commentId});
        } else {
          console.log("Do not delete this message.");
        }
      }
    },
    async animate(){},
    onWrapperLoaded(args) {
      if(this.animation){
        console.log("Animation true");
        args.object.animate({
          scale:{x:2.1 , y:2.1},
          curve:AnimationCurve.ease,
          duration:1250
        });
      }else{
        console.log("Animation false");

      }
    },
    contentLoaded(args){
      let view = args.object;
      if (isAndroid) {
        view.android.setSingleLine(false);
        view.android.setMaxLines(this.maxLine);
        view.android.setEllipsize(android.text.TextUtils.TruncateAt.END);
      }
      else if (isIOS) {
        view.ios.numberOfLines = this.maxLine;
        view.ios.adjustsFontSizeToFitWidth = false;
        view.ios.lineBreakMode = NSLineBreakMode.ByTruncatingTail;
      }
    },
    showMore(){
      this.$emit('showMoreContent',{
        commentId:this.commentId,
      })
    }
  },
  data(){
    return {
      buttonClasses: [],
      liked : this.isLiked,
      commented : this.isCommented,
      likes: this.likeCount,
      comments: this.commentCount,
      longContent: false,
      maxLine:20, // if "show more and less" would be wanted, this parameter should be adjusted.

    }
  },

}

</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../comment';
// Custom classes
/*Context menu*/
@keyframes bg-animation {
  from {background-color: #fff;}
  to {background-color: #54abd9;}
}
.active {
  background: #aaaaaa;
  padding:$xshort-padding;

}
</style>