<template>
  <StackLayout class="wrapper" orientation="horizontal" >
    <GridLayout rows="auto,auto" class="unavailable" columns="auto,*" @tap="commentClick($event)">
      <Label row="0" col="0" colSpan="2" class="content" textWrap="true" :text="content"/>
      <Image row="1" col="0" ref="commentButton" :src="commentIcon" class="fa action-icon" />
      <Label row="1" col="1" class="pretty-counts" :text="commentsCount" />

    </GridLayout>
  </StackLayout>

</template>

<script>
import {AnimationCurve} from "@nativescript/core/ui/enums";

import ChildComments from "../Replies";

export default {

  name: "UnavailableComment",
  components: {
    ChildComments
  },

  props: {
    content:{
      type: String,
    },
    isCommented: {
      type: Boolean,
      default: false,
    },
    commentCount: {
      type: Number,
    },
    commentId:{
      type:Number,
    },
    newsId:{
      type: Number,
    },
  },
  computed:{
    commentIcon(){
      if(this.commented){
        return "font://"+String.fromCharCode(0xf086);
      }else{
        return "font://"+String.fromCharCode(0xf0e6);
      }
    },
    name(){
      let name = ''

      if(this.fullName){
        name = this.fullName;
      }else{
        name = this.username;
      }
      return name;
    },
    commentsCount(){
      return this.comments;
    },
  },
  methods: {
    buttonOnTouch(event){
      if(event.action==="down"){
        this.buttonClasses = ['context-button-active'];
      }
      else if(event.action==="up"){
        this.buttonClasses = [];
      }
    },
    commentClick(){
      this.$emit("navigation", {
        type:'unavailable',
        content: this.content,
        isCommented: this.isCommented,
        commentCount: this.commentCount,
        commentId: this.commentId,
        newsId: this.newsId,
      })
    },
  },
  data(){
    return {
      buttonClasses: [],
      liked : this.isLiked,
      commented : this.isCommented,
      likes: this.likeCount,
      comments: this.commentCount,
    }
  },
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../comment';
// Custom classes
/*Context menu*/

</style>