<template>
  <StackLayout class="wrapper" orientation="horizontal" >
    <GridLayout rows="auto" class="unavailable">
      <Label row="0" col="0" colSpan="2" class="content" textWrap="true" :text="content"/>
    </GridLayout>
  </StackLayout>

</template>

<script>
export default {

  name: "UnavailableReply",
  components: {

  },
  props: {
    content:{
      type: String,
    },
    commentId:{
      type:Number,
    },
    newsId:{
      type: Number,
    },
  },
  computed:{

  },
  methods: {
    buttonOnTouch(event){
      if(event.action==="down"){
        this.buttonClasses = ['context-button-active'];
      }
      else if(event.action==="up"){
        this.buttonClasses = [];
      }
    },
  },
  data(){
    return {
      buttonClasses: [],
    }
  },
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../comment';
// Custom classes
/*Context menu*/

</style>