<template>
  <GridLayout rows="48" columns="4*,5*" class="post-footer" @tap="footerClick">
    <GridLayout row="0" col="0" columns="30,*,1">
      <Image col="0" id="userPicture" :src="userPicture"></Image>
      <Label col="1" :text="username" textAlign="left"/>
      <Label col="2" id="vertical-separator"/>
    </GridLayout>

    <GridLayout row="0" col="1" rows="*,auto" verticalAlignment="center" columns="*,auto,auto">
      <Label row="0" col="0" class="category" :text="category"/>
      <Image row="0" col="1" ref="commentButton" :src="commentIcon" :class="likeButtonClasses" @tap="commentClick($event)"/>
      <Image row="0" col="2" ref="likeButton" :src="likeIcon" :class="likeButtonClasses" @tap="likeClick($event)" />
      <Label row="1" col="0" class="pretty-date" :text="date"/>
      <Label row="1" col="1" class="pretty-counts" @tap="commentClick($event)" :text="comments"/>
      <Label row="1" col="2" class="pretty-counts" @tap="likeClick($event)" :text="likes"/>
    </GridLayout>
  </GridLayout>
</template>

<script>
import {AnimationCurve} from "@nativescript/core/ui/enums";
import SubscriptedUsers from "../../SubscriptedUsers";
import Comments from "../../Comments";

export default {
name: "StandardPostFooter",
  props: {
    userPicture:{
      type: String,
    },
    username: {
      type: String,
    },
    isLiked: {
      type: Boolean,
      default: false,
    },
    likeCount: {
      type: String,
    },
    isCommented: {
      type: Boolean,
      default: false,
    },
    commentCount: {
      type: String,
    },
    category: {
      type: String
    },
    date:{
      type: String
    },
    newsId:{
      type:Number,
    },

    resultKey: {
      type: String,
      default: "",
    }
  },
  computed:{
    likeIcon(){
      if(this.liked){
        return "font://"+String.fromCharCode(0xf004);
      }else{
        return "font://"+String.fromCharCode(0xf08a);
      }
    },
    commentIcon(){
      if(this.isCommented){
        return "font://"+String.fromCharCode(0xf086);
      }else{
        return "font://"+String.fromCharCode(0xf0e6);
      }
    },
    likeButtonClasses(){
      if(this.liked){
        return "fa action-icon red";
      }else{
        return "fa action-icon";
      }
    },
  },
  methods: {
    buttonOnTouch(event){
      if(event.action==="down"){
        this.buttonClasses = ['context-button-active'];
      }
      else if(event.action==="up"){
        this.buttonClasses = [];
      }
    },

    likeClick() {
      this.liked = !this.liked;
      console.log("Like button clicked");
      this.$refs.likeButton.nativeView.animate({
        scale:{x:0.5 , y:0.5},
        curve:AnimationCurve.ease,
        duration:0
      });
      this.$refs.likeButton.nativeView.animate({
        scale:{x:1 , y:1},
        curve:AnimationCurve.ease,
        duration:250
      });
    },
    footerClick(){
      console.log("Footer clicked.")
    },
    commentClick(){
      this.$navigateTo(Comments, {
        props: {
          newsId:2,
          commentCount:this.commentCount
        }
      });
    },
  },
  data(){
    return {
      buttonClasses: [],
      liked : this.liked,
      commented : this.isCommented,
      likes: this.likeCount,
      comments: this.commentCount,
    }
  }
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../../app-variables';
@import '../../../app-common';
// Custom classes
/*Context menu*/
$userPictureSize: 30;
$actionIconSize: 24;

.post-footer {
  padding: 0 $standard-padding 0 $standard-padding ;
  margin: $xshort-margin;
}

#userPicture {
  width: $userPictureSize;
  height: $userPictureSize;
  border-radius: $userPictureSize;
  border-width: 1;
  border-color: $seperator-color;
  strecth: aspectFill;
}
.action-icon{
  margin:0 $xshort-margin 0 $xshort-margin;
  width:$actionIconSize;
  height:$actionIconSize;
  strecth: aspectFill;
  color: $primary;
}
#vertical-separator {
  border-width: 0 0 0 1;
  border-color: $seperator-color;
  border-style: solid;
}

.red {
  color: $accent-burgundy;
}
.pretty-counts{
  font-size: $xxshort-font-size;
  color:$primary;
  padding: (0-$xxshort-font-size/4) 0 0 0;
  text-align: center;
}
.pretty-date {
  font-size: $xxshort-font-size;
  color:$secondary;
  padding: (0-$xxshort-font-size/4) 0 0 $xshort-padding;
  margin:0;
}
.category {
  font-size: $xshort-font-size;
  color:$primary;
  text-align: left;
  padding-left: $xshort-padding;
  margin:0;
}
</style>