<template>
  <GridLayout rows="*, auto, *" id="button-container">
    <Label row="1" class="fa" :text="text"></Label>
  </GridLayout>
</template>

<script>
export default {
name: "StyleButton",
  props: {
    text: ""
  }
}
</script>

<style lang="scss" scoped>
// Start custom common variables
@import '../../../app-variables';
@import '../../../app-common';

#button-container{
  border-color: $primary;
  border-width: 1;
  width: $post-style-button-size;
  height: $post-style-button-size;
  Label{
    text-align: center;
    font-size: $post-style-button-font-size;
  }
}
</style>