<template>
  <GridLayout @tap="tapped($event)" @touch="buttonOnTouch($event)" class="context-menu-button" :class="buttonClasses" rows="auto,auto" columns="auto, *, auto" >
    <Label row="0" col="0" class="context-menu-button-icon fa" column="0" :text="icon"></Label>
    <Label row="0" col="1" class="context-menu-button-text" column="1" :text="text"></Label>
    <Label row="0" col="2" class="context-menu-button-text" :text="price"></Label>
    <Label row="1" colSpan="3" class="context-menu-button-hint" :text="hint"></Label>
  </GridLayout>
</template>

<script>
export default {
name: "SubscriptionPlanButton",
  props: {
    icon: {
      type: String,
    },
    text: {
      type: String
    },
    price:{
      type: String
    },
    hint:{
      type: String
    },
    resultKey: {
      type: String,
      default: -1,
    }
  },
  methods: {
    buttonOnTouch(event){
      if(event.action==="down"){
        this.buttonClasses = ['context-button-active'];
      }
      else if(event.action==="up"){
        this.buttonClasses = [];
      }
    },
    tapped(event){
      this.$emit("tap", event);
      if(this.resultKey!==""){
        this.$closeBottomSheet(this.resultKey);
      }
    }
  },
  data(){
    return {
      buttonClasses: []
    }
  }
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../../app-variables';
@import '../../../app-common';
// Custom classes
/*Context menu*/
.context-menu-button{
  background-color: $white;
  height: $context-menu-button-height;
  color: #0f0f0f;
  font-family: $standard-font-family;
  font-size: $big-font-size;
  .context-menu-button-icon{
    vertical-align: middle;
    padding: $xshort-padding;
  }
  .context-menu-button-text{
    vertical-align: middle;
    padding: $xshort-padding;
  }
  .context-menu-button-hint{
    font-size:$xshort-font-size;
    color:$secondary;
    text-align: right;
    padding-top: -4;
  }
}
.context-button-active{
  color: $context-menu-button-active-color !important;
}

</style>