<template lang="html">
  <RadSideDrawer @drawerClosing="drawerClosing"
                 @drawerClosed="drawerClosed"
                 @loaded="drawerLoaded($event)"
                 ref="drawer" drawerLocation="Left"
                 :gesturesEnabled="gesturesEnabled"
                 :drawerTransition="transition">
    <StackLayout ~drawerContent backgroundColor="#ffffff">
      <slot name="drawerContent"></slot>
    </StackLayout>
    <Frame :transition="navigationTransition" background="#000000" ~mainContent>
      <slot name="mainContent" ></slot>
    </Frame>
  </RadSideDrawer>
</template>

<script>
    import { SlideInOnTopTransition, PushTransition } from 'nativescript-ui-sidedrawer';
    import { OrientationHelper } from "../shared/orientationUtils";
    import {refreshTokenSecureKeyName, tokenSecureKeyName} from "../persistence/config";
    import Home from './Home';
    import Login from './Login';
    import {OverSlideModernTransitionAndroid} from "../transitions/overSlideModernTransition";
    import AccountRepository from "../repositories/accountRepository";
    import AgencyNewsRepository from "../repositories/agencyNewsRepository";

    export default {
        data () {
          return {
            transition: new SlideInOnTopTransition(),
            drawerTempState: true,
            navigationTransition: {
              instance: new OverSlideModernTransitionAndroid("left", 200, "easeInOut")
            }
          }
        },
      created () {
        this.loadLoginState();
      },
      methods: {
        async loadLoginState (){
          const token = await this.$secureStorage.get({key: tokenSecureKeyName});
          const refreshToken = await this.$secureStorage.get({key: refreshTokenSecureKeyName});
          await this.$store.dispatch("loadLoginState", {token, refreshToken});
        },
        drawerLoaded(event) {
          const orientationHelper = new OrientationHelper(event.object);
          orientationHelper.initialize();
        },
        drawerClosing(e){
          this.drawerTempState = false;
        },
        drawerClosed(e){
          this.drawerTempState = true;
        }
      },
      computed: {
          gesturesEnabled() {
            return this.$store.getters.getNavigationGesturesEnabled && this.drawerTempState;
          },
          loggedIn(){
            return this.$store.getters.getLoggedIn;
          }
      },
      watch: {
          loggedIn(to, prev){
            if(to){
              this.$navigateTo(
                Home,
                {
                  transition: {
                    name: "slideLeft",
                    duration: 150,
                    curve: "easeInOut"
                  },
                  clearHistory: true
                }
              );
            }
            else{
              this.$navigateTo(
                  Login,
                  {
                    transition: {
                      name: "slideRight",
                      duration: 150,
                      curve: "easeInOut"
                    },
                    clearHistory: true
                  }
              );
              this.$showInfo("Oturum kapatıldı.");
            }
          }
        }

  }
</script>

<style lang="css">
</style>
