<template>
  <Page class="page" @loaded="pageLoaded">
    <ActionBar class="action-bar">
      <!--
      Use the NavigationButton as a side-drawer button in Android
      because ActionItems are shown on the right side of the ActionBar
      -->
      <NavigationButton ios:visibility="collapsed" icon="res://back" @tap="onBackButtonTap"></NavigationButton>
      <!--
      Use the ActionItem for IOS with position set to left. Using the
      NavigationButton as a side-drawer button in iOS is not possible,
      because its function is to always navigate back in the application.
      -->
      <ActionItem icon="res://back"
                  android:visibility="collapsed"
                  @tap="onBackButtonTap"
                  ios.position="left">
      </ActionItem>
      <Label class="action-bar-title" text="Comments"></Label>
    </ActionBar>
    <GridLayout rows="*,auto" @tap="dismissKeyboard">
      <ActivityIndicator v-if="!isCommentsFetched&&(getCommentCount!==0)" color="black" row="0" busy="true" />
      <Label v-if="getCommentCount===0" row="0" textWrap="true" verticalAlignment="center" class="no-comment">
        <FormattedString>
          <Span text="There is no comment yet." style="font-size: 24; font-weight: bold"/>
          <Span text="\nBe the first one!" style="font-size: 16; " />
        </FormattedString>
      </Label>
      <RadListView v-if="isCommentsFetched&&(commentsList.length!==0)" row="0" ref="comments" for=" item in commentsList " pullToRefresh="true"
                   @pullToRefreshInitiated="onPullToRefresh" @scrollStarted="radListScrollStarted"
                   loadOnDemandMode="Auto" loadOnDemandBufferSize="4" @loadMoreDataRequested="onLoadMoreItemsRequested"
                   @itemTap="onItemTap"
      >
        <v-template if="item.type==='available'">
          <Comment
            :comment-id="item.id"
            :username="item.username",
            :is-liked="item.isLiked"
            :like-count="item.likeCount"
            :comment-count="item.commentCount"
            :is-commented="item.isCommented"
            :user-picture="item.imgSrc"
            :full-name="item.fullName"
            :date="item.date"
            :content="item.content"
            :owner-id="item.owner"
            @navigation="goCommentDetail($event)"
            @deleteComment="deleteComment($event)"
            @showMoreContent="showMore($event)"
            :news-id="newsId"
          >
          </Comment>
        </v-template>
        <v-template if="item.type==='expanded'">
          <ExpandedComment
              :comment-id="item.id"
              :username="item.username",
              :is-liked="item.isLiked"
              :like-count="item.likeCount"
              :comment-count="item.commentCount"
              :is-commented="item.isCommented"
              :user-picture="item.imgSrc"
              :full-name="item.fullName"
              :date="item.date"
              :content="item.content"
              :owner-id="item.owner"
              @navigation="goCommentDetail($event)"
              @deleteComment="deleteComment($event)"
              @showLessContent="showLess($event)"
              :news-id="newsId"
          >

          </ExpandedComment>
        </v-template>
        <v-template if="item.type==='unavailable'">
          <UnavailableComment
              :comment-id="item.id"
              :comment-count="item.commentCount"
              :is-commented="item.isCommented"
              :content="item.content"
              @navigation="goCommentDetail($event)"
              :news-id="newsId"
          >
          </UnavailableComment>
        </v-template>
      </RadListView>



      <GridLayout row="1" rows="auto" columns="auto,*,auto" class="message-container">
          <ImageCacheIt row="0" col="0" :src="profilePicture" verticalAlignment="bottom" class="bordered-thick profile-image"></ImageCacheIt>
          <TextView ref="myComment" row="0" col="1" :text="commentFormData.content" maxLines="7" height="40" textWrap="true"
                    hint="Enter your comment..." class="new-comment-area" @textChange="textViewTextChanged" maxLength="1000"
          />

          <Label row="0" col="2" @tap="sendComment" class="action-icon fa" verticalAlignment="bottom" text.decode="&#xf1d9;"></Label>
        </GridLayout>


    </GridLayout>
  </Page>

</template>

<script>
import SelectedPageService from "../shared/selected-page-service";
import {DrawerSetup} from "../mixins/drawerPageMixin";
import {ObservableArray} from "@nativescript/core/data/observable-array";
import { isAndroid, isIOS} from "@nativescript/core/platform";
import {Dialogs} from "@nativescript/core";
import CommentsRepository from "../repositories/comments";
import Comment from "./comment/Comment";
import { screen, ScreenMetrics } from "platform";
import ChildComments from "./Replies";
import InternationalComponent from "../mixins/internationalComponent";
import UnavailableComment from "./comment/UnavailableComment";
import ExpandedComment from "./comment/ExpandedComment";
let screenScale = screen.mainScreen.scale;

export default {
  name:"Comments",
  mixins: [DrawerSetup,InternationalComponent],
  components: {Comment,UnavailableComment,ExpandedComment},

  created() {
    setTimeout(()=>{
      this.getComments();
    }, 300);
  },
  props:[
      'newsId',
      'commentCount'
  ],
  data () {
    return {
      commentsList: new ObservableArray([]),
      commentsListFetched:false,
      limit:0,
      offset:0,
      counter: 0,
      commentFormData:{
        content:"",
        newsId:this.newsId,
      },
      sending:false,
      commentsCount:this.commentCount
    }
  },
  computed:{
    getCommentCount(){return this.commentsCount},
    getSelectedIndex(){
      return this.selectedIndex
    },
    globalProfile(){
      return this.$store.getters.getProfile;
    },
    globalProfileFetched(){
      return this.$store.getters.getProfileFetchState;
    },
    cacheProfileState(){
      return this.$store.getters.getCacheProfileState;
    },
    transparentAreaHeight(){
      return this.transparentArea;
    },
    profilePicture(){
      if(this.globalProfileFetched &&
          this.globalProfile.profile &&
          this.globalProfile.profile.active_profile_picture &&
          (this.globalProfile.profile.active_profile_picture.picture||
              this.globalProfile.profile.active_profile_picture.picture_raw)
      ) {
        console.log("1");
        if(this.globalProfile.profile.active_profile_picture.picture) {
          return this.globalProfile.profile.active_profile_picture.picture;
          console.log("2");
        }
        else{
          return this.globalProfile.profile.active_profile_picture.picture_raw;
        }
      }
      else {
        let src = "res://" + this.firstLetter(this.globalProfile.first_name, this.globalProfile.username);
        return src;
      }
    },
    myUsername(){
      if(this.cacheProfileState) {
        return (this.globalProfile.username ? this.globalProfile.username : '');
      }
      return '';
    },
    isCommentsFetched(){

      return this.commentsListFetched;
    }
  },
  methods: {
    pageLoaded(args){
      let page = args.object;
      page.android.setFitsSystemWindows(true);

    },
    textViewTextChanged(args){
      let maxLine = 7;
      let TV = args.object;
      this.commentFormData.content = TV.text;
      let lineCount = TV.android.getLineCount();
      let targetHeight = TV.height;
      let maxHeight = (maxLine-1)*20 + 40;
      if(lineCount>=1){
        targetHeight = (lineCount-1)*20 + 40;
      }
      if(targetHeight>maxHeight){
        targetHeight = maxHeight;
      }
      TV.height = targetHeight;
    },
    onBackButtonTap() {
      this.$navigateBack();
    },
    async getComments(){
      console.log("Comments requested.");
      try {
        let response = await CommentsRepository.getParentCommentsofNews(this.newsId);
        let comments = response.json;

        for(let i=0; i<comments.length; i++){
          let comment = comments[i];
          let content = comment.active ? comment.text : "This comment is not available more.";
          let imgSrc = comment.profil_photo ? comment.profil_photo.picture : this.$helpers.firstLetter(comment.user_fullname,comment.user_name);
          let type = comment.active ? "available": "unavailable"
          let item={
            id:comment.id,
            type:type,
            username: comment.user_name,
            fullName: comment.user_fullname.trim(),
            imgSrc: imgSrc,
            date: comment.published_date_beautified["en-us"],
            content: content,
            isLiked: comment.faved_by_me,
            likeCount:comment.fav_number,
            isCommented:false,
            commentCount:comment.count_of_child_comment,
            ownerId:comment.owner,
          };
          console.log(item);
          this.commentsList.unshift(item);

        }
        this.commentsListFetched = true;

      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured: \n",e.name,"\n",e.message);
          this.$showError(this.L("There is a client error. Please wait for a while and try again."));
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured: \n",e.name,"\n",e.message);
          return false;
        }
      }
    },
    radListScrollStarted(args){
      this.dismissKeyboard();
    },
    dismissKeyboard(){
      let view = this.$refs.myComment.nativeView;
      view.dismissSoftInput();
    },
    goCommentDetail(e){
      this.$navigateTo(ChildComments, {
        props: e
      })
    },
    onItemTap({item}){
      this.dismissKeyboard();
    },
    onPullToRefresh({object}) {
      console.log("Pull to refresh");
      object.notifyPullToRefreshFinished();
    },
    onLoadMoreItemsRequested({object}){
      /*
      this.$nextTick(() => {
        this.getAgencyNews(this.limit, this.offset);
        object.notifyAppendItemsOnDemandFinished(true);

      });
       */
      object.notifyAppendItemsOnDemandFinished(true);
    },
    sendComment(args){
      this.createNewComment();
      this.sending = true;
    },
    async createNewComment(){
      try {
        let response = await CommentsRepository.createSingleComment(
            this.commentFormData.content,
            this.commentFormData.newsId,
        );
        console.log(response.json);
        if(response.json.id){
          this.sending=false;
          this.cleanForm();
        }
      }catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured: \n",e.name,"\n",e.message);
          this.$showError(this.L("There is a client error. Please wait for a while and try again."));
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured: \n",e.name,"\n",e.message);
          return false;
        }
      }
      finally {
        this.sending=false;
      }

    },
    cleanForm(){
      this.commentFormData.content = "";
      this.commentFormData.parent = "";
    },
    deleteComment(args){
      let response = this.deleteItem(args.commentId);
    },
    async deleteItem(commentId){
      try {
        console.log("Request will be sent...");
        let response = await CommentsRepository.deleteComment(commentId);
        if(response.json.id){
          let comment = response.json;
          let type = comment.active ? 'available': 'unavailable';
          // change item type to 'unavailable'.
          for(let i=0;i<this.commentsList.length;i++){
            let item = this.commentsList.getItem(i);
            if(item.id === commentId){
              item.type = type;
              this.commentsList.splice(i,1,item);
              this.itemChangedAtIndex(i);
              break;
            }
          }
          this.cleanForm();
        }else{
          console.log("Comment could not deleted.");
        }
        this.sending=false;
      }catch (e) {
        if (e.name === "ClientError") {
          console.log("There is a client error. Please wait for a while and try again.");
          this.$showError(this.L("There is a client error. Please wait for a while and try again."));
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured");
          return false;
        }
      }
    },
    itemChangedAtIndex(i){
      if (isIOS) {
        let indexPaths = NSMutableArray.new();
        indexPaths.addObject(NSIndexPath.indexPathForRowInSection(i, event.groupIndex));
        this.$refs.comments.nativeView.ios.reloadItemsAtIndexPaths(indexPaths);
      }
      if (isAndroid) {
        this.$refs.comments.nativeView.androidListView.getAdapter().notifyItemChanged(i);
      }
    },
    showMore(args){
      /*
      let item;
      for(let i=0; i<this.commentsList.length; i++){
        item = this.commentsList.getItem(i);
        if(item.id === args.commentId){
          item.type = 'expanded';
          this.commentsList.splice(i,1,item);
          this.itemChangedAtIndex(i);
          break;
        }
      }

       */
    },
    showLess(args){
      /*
      let item;
      for(let i=0; i<this.commentsList.length; i++){

        item = this.commentsList.getItem(i);
        if(item.id === args.commentId){
          item.type = 'available';
          this.commentsList.splice(i,1,item);
          this.itemChangedAtIndex(i);
          break;
        }
      }

       */
    },
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../app-variables';
@import '../app-common';
@import '../comment';
// End custom common variables

// Custom styles
.action-bar{
  margin-top:-22;
}
.message-container{
  padding: 0 $xshort-padding $xshort-padding $xshort-padding;
  border-width: 1 0 0 0;
  border-radius:20;
  border-color: $seperator-color;
}
.profile-image{
  width:$comment-image-size;
  height:$comment-image-size;
  border-radius:$comment-image-size;
}
.action-icon{
  width:$comment-image-size;
  height:$comment-image-size;
  color:$accent-burgundy;
}
.new-comment-area{

  border-width: 0 0 0 0;
  font-family: $standard-font-family;
  font-size: $short-font-size;
}
.no-comment{
  text-align: center;
  margin:$big-margin;
  padding:$big-padding;

}
</style>
