<template lang="html">
  <GridLayout rows="50,100,*,auto" columns="*" class="sidebar" @loaded="drawerLoaded">
    <StackLayout row="0" col="0" class="brand-container">
      <ImageCacheIt class="brand-logo" height="30" src="res://logo"></ImageCacheIt>
    </StackLayout>
    <MDRipple row="1" col="0" @tap="profileTap" class="sidebar-profile-container" :class="profileContainerClass">
      <StackLayout orientation="horizontal">
        <ImageCacheIt :src="profilePicture" class="sidebar-profile-photo bordered-thick"></ImageCacheIt>
        <StackLayout class="sidebar-profile-info-container" orientation="vertical">
          <Label id="profileName" :text="(this.fullName && this.fullName.length>0)?this.fullName:this.username"></Label>
          <Label id="subscriberCount" :text="this.subscribersCount + ' Subscriber'"></Label>
        </StackLayout>
      </StackLayout>
    </MDRipple>

    <GridLayout row="2" col="0" rows="auto,*, auto" columns="*,auto" class="followings">
      <WrapLayout row="0" col="1" horizontalAlignment="right">
        <Label class="header" @tap="goToSubscribedList" :text="subscribedList"></Label>
      </WrapLayout>

      <ListView row="1" col="0" colSpan="2" v-if="subscribedExist" ref="followingList" for="item in followingList" @itemTap="followingsItemTap">
        <v-template>
          <!-- Shows the list item label in the default color and style. -->
          <StackLayout orientation="horizontal" class="following-list-element">
            <Image class="bordered-thin " :src="item.imgSrc"></Image>
            <Label :text="item.text"/>
          </StackLayout>

        </v-template>
      </ListView>
      <Label row="1" col="0" colSpan="2" @loaded="labelLoaded" @tap="goToBrowse" textWrap="true" v-else class="not-subscribed-warning-message" :text="notSubscribedAnyone"></Label>

      <WrapLayout row="2" col="1" horizontalAlignment="right">
        <Label v-if="moreSubscribedExist" @tap="goToSubscribedList" class="footer" :text="moreSubscribed"></Label>
      </WrapLayout>
    </GridLayout>

    <StackLayout row="3" col="0" class="buttons">
      <MDRipple orientation="horizontal" @tap="settingsPageTap" class="sidebar-button-item">
        <Label text.decode="&#xf013;" class="fa"></Label>
        <Label text="Settings"></Label>
      </MDRipple>
      <MDRipple orientation="horizontal" @tap="samplePageButtonTap" class="sidebar-button-item">
        <Label text.decode="&#xf128;" class="fa"></Label>
        <Label text="Design Samples"></Label>
      </MDRipple>
      <MDRipple orientation="horizontal" @tap="policyPageTap" class="sidebar-button-item">
        <Label text.decode="&#xf15c;" class="fa"></Label>
        <Label text="Journalism Policy"></Label>
      </MDRipple>

    </StackLayout>


  </GridLayout>
</template>

<script>
import Home from "./Home";
import SelectedPageService from "~/shared/selected-page-service";
import MyProfile from "./MyProfile";
import User_Profile from "./UserProfile";
import SamplePage from "./SamplePage";
import SubscriptedUsers from "./SubscriptedUsers";
import ProfileRepository from "../repositories/profile";
import SubscriptionRepository from "../repositories/subscription";
import { isAndroid, isIOS} from "@nativescript/core/platform";
import {ObservableArray} from "@nativescript/core/data/observable-array";
import * as utils from "~/shared/utils";
import {AnimationCurve} from "@nativescript/core/ui/enums";
import InternationalComponent from "../mixins/internationalComponent";


export default {
  mixins: [InternationalComponent],
  mounted() {
    SelectedPageService.getInstance().selectedPage$
        .subscribe((selectedPage) => this.selectedPage = selectedPage);

  },
  created() {
    console.log("Drawer Content is Created..");
    console.log("Logged In? ",this.$store.getters.getLoggedIn);
    if(this.$store.getters.getLoggedIn) {
      setTimeout(() => {
        this.getSubscribedList();
      }, 300);
    }
  },
  computed: {
    drawerOpened(){
      return this.$store.getters.getSideBarOpened;
    },
    globalProfile(){
      console.log("Global Profile:",this.$store.getters.getProfile);
      return this.$store.getters.getProfile;
    },
    globalProfileFetched(){
      console.log("Global Profile Fetched?:",this.$store.getters.getProfileFetchState);
      return this.$store.getters.getProfileFetchState;
    },
    cacheProfileState(){
      console.log("Cache Profile State?:",this.$store.getters.getCacheProfileState);
      return this.$store.getters.getCacheProfileState;
    },
    profilePicture(){
      if(this.globalProfileFetched){
        console.log("1");
        if(this.globalProfile.profile){
          console.log("2");
          if(this.globalProfile.profile.active_profile_picture){
            console.log("3");
            if(this.globalProfile.profile.active_profile_picture.picture_raw){
              console.log("4");
              return this.globalProfile.profile.active_profile_picture.picture_raw;
              if(this.globalProfile.profile.active_profile_picture.picture) {
                console.log("5");
                return this.globalProfile.profile.active_profile_picture.picture;
              }
            }
          }
        }
      }
      return this.$helpers.firstLetter(this.fullName,this.username);

    },
    fullName(){
      let _fullName = '';
      if(this.cacheProfileState) {
        if(this.globalProfile){
          _fullName += this.globalProfile.first_name ? this.globalProfile.first_name : '';
          _fullName += ' ' + (this.globalProfile.last_name ? this.globalProfile.last_name : '');
        }
      }
      return _fullName.trim();
    },
    username(){
      if(this.cacheProfileState && this.globalProfile) {
        return '@' + (this.globalProfile.username ? this.globalProfile.username : '');
      }
      return '';
    },
    subscribersCount(){
      if(this.cacheProfileState){
        console.log("6");
        let res = String(this.globalProfile.profile.subscribers_count);
        console.log("7");
        return res;
      }
      return '';
    },
    moreSubscribed(){
      if(this.followingList.length>5){
        return 'and '+ this.followingList.length - 5+ 'more...'
      }else{
        return ''
      }
    },
    moreSubscribedExist(){
      if(this.followingList.length>5){
        return true;
      }else{
        return false;
      }
    },
    subscribedExist(){
      let exist = false;
      exist = this.followingList.length > 0;
      return exist;
    },
    shouldRefresh(){
      return this.$store.getters.getRefreshFollowingList;
    },
  },
  props: {
    browseClicked:{
      default: false,
      type: Boolean
    },

  },
  data() {
    return {
      // Hard Coded Text Variables
      subscribedList: "Following List",
      notSubscribedAnyone: "You are not subscribed anyone.\nTap here to start browsing!",
      // Hard Coded Text Variables End

      Home: Home,
      continueAnimation : true,
      selectedPage: "",
      profileContainerClass: '',
      followingList: new ObservableArray([]),

    };
  },
  components: {
    Home
  },
  methods: {
    samplePageButtonTap(e) {
      this.$navigateTo(SamplePage);
    },
    followingsItemTap({index}) {
      let item = this.followingList.getItem(index);
      console.log(item);
      this.$navigateTo(User_Profile, {
        props: {
          profile_id: item.id,
          pp_src: item.imgSrc,
          username: item.username,
        }
      });
    },
    profileTap(e) {
      let app = this;
      this.$navigateTo(MyProfile);
    },
    settingsPageTap(e){
      console.log("Settings button is tapped");
    },
    policyPageTap(e){
      console.log("Journalism Policy button is tapped");
    },
    goToSubscribedList(e){
      this.$navigateTo(SubscriptedUsers, {
        props: {
          tabviewIndex:0,
          username:this.username.substr(1,this.username.length),
        }
      });
    },
    goToBrowse(){
      utils.closeDrawer();
      this.$store.commit("setActiveTab", 2);
    },
    labelLoaded(args){
      let label = args.object;
      label.animate({
        opacity: 0.6,
        duration: 1000,
        curve:AnimationCurve.linear,
        iterations: Number.POSITIVE_INFINITY,
      })
    },
    async getSubscribedList(){
      try {
        let response = await SubscriptionRepository.getMySubscribedList();
        let res = response.json;
        for(let i = 0; i<res.length; i++){
          let element = res[i];
          let image = element.following.profile_photo ? element.following.profile_photo.picture_raw : this.$helpers.firstLetter(element.following_full_name,element.following.username);
          let user = {
            id: element.following.id,
            text: element.following_full_name,
            imgSrc: image,
            username:element.following.username,
          }
          let isExist = false;
          for(let i=0; i<this.followingList.length; i++){
            if(user.id === this.followingList.getItem(i).id){
              // already exist skip
              isExist = true;
              break;
            }
          }
          if(!isExist){
            this.followingList.push(user);
          }
        }

      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
      }
    },
    async compareSubscribedList(){
      try {
        let response = await SubscriptionRepository.getMySubscribedList();
        let res = response.json;
        let newList = [];
        for(let i = 0; i<res.length; i++){
          let element = res[i];
          // if there is no picture in article dont push it to array
          let image = element.following.profile_photo ? element.following.profile_photo.picture_raw : this.$helpers.firstLetter(element.following_full_name,element.following.username);

          let user = {
            id: element.following.id,
            text: element.following_full_name,
            imgSrc: image,
            username:element.following.username,
          }
          newList.push(user);
        }

        // check for removed items
        for(let i = 0; i<this.followingList.length; i++){
          let e = this.followingList.getItem(i);
          let exist = false;
          for(let j=0; j<newList.length; j++){
            if(e.id == newList[j].id){
              exist = true;
              break;
            }
          }
          if(!exist){
            this.followingList.splice(i,1);
            this.followingList._notifyLengthChange();
          }
        }

        // check for new items
        for(let i = 0; i<newList.length; i++){
          let e = newList[i];
          let exist = false;
          for(let j=0; j<this.followingList.length; j++){
            if(e.id == this.followingList.getItem(j).id){
              exist = true;
              break;
            }
          }
          if(!exist){
            this.followingList.unshift(e);
            this.followingList._notifyLengthChange();
          }
        }
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
      }
    },
    drawerLoaded(){
      console.log("Drawer Loaded..");
      if(this.$store.getters.getLoggedIn) {
        this.$store.dispatch("fetchProfile");
        this.compareSubscribedList();
      }
    },

  },
  watch:{
    shouldRefresh(to,from){
      //this.compareSubscribedList();
    },
    drawerOpened(to,from){
      console.log("drawer opened");
      this.compareSubscribedList();
    }
  }
};
</script>

<style scoped lang="scss">
// Custom common variables
@import '../app-variables';
@import '../app-common';

// Custom variables
$profile-image-width: 75;
$profile-image-height: 75;
$profile-image-radius: 75;
$following-item-image-width: 40;
$following-item-image-height: 40;
$following-item-image-radius: 40;
$ripple-color : rgba(239, 243, 243, 0.3);

// Drawer navigation custom styles
.sidebar {
  padding: $standard-padding+$actionbar-height-android 0 $standard-padding 0;
  color:$headings-color;
}

.brand-container {
  padding: 0;
  margin: 0;

  border-width: 0 0 1 0;
  border-color: $seperator-color;
}

.brand-logo {
  stretch: aspectFit;
}

.sidebar-profile-container {
  padding: $standard-padding;
  ripple-color: $ripple-color;
}


.sidebar-profile-photo {
  width: $profile-image-width;
  height: $profile-image-height;
  border-radius: $profile-image-radius;
  stretch: aspectFill;
}

.sidebar-profile-info-container {
  margin-left: $standart-margin;
  vertical-align: center;
}

#profileName {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
}

#subscriberCount {
  font-family: $main-subtitle-font;
  font-size: $short-font-size;
  color: $secondary;
  border-style: solid;
  padding-top: 0 - $short-font-size/5;

}
.followings{
  border-bottom-color: $seperator-color;
  border-bottom-width: 1;
  .header {
    font-family: $main-subtitle-font;
    font-weight: bold;
    padding: $standard-padding $standard-padding 0 $standard-padding;
    text-align: right;

  }
  .footer{
    text-align: right;
    color: $secondary;
    padding-right: $standard-padding;
    font-size: $short-font-size;
    font-family: $main-subtitle-font;
  }
}
.following-list-element {
  padding: $standard-padding/2 $standard-padding $standard-padding/2 $standard-padding;
  Image {
    width: $following-item-image-width;
    height: $following-item-image-height;
    border-radius: $following-item-image-radius;
    margin-right: $xshort-margin;
  }

  Label {
    font-family: $standard-font-family;
    font-size: $short-font-size;
  }

  .avatar-letter{
    width: $following-item-image-width;
    height: $following-item-image-height;
    border-radius: $following-item-image-radius;
    margin-right: $xshort-margin;
    font-family: $standard-font-family;
    font-size: $big-font-size;
    background-color: $accent-burgundy;
    color: $btn-text-color-primary;
    text-align: center;
    vertical-align: center;
  }

}


.not-subscribed-warning-message{
  padding:$standard-padding;
  //background-color:$seperator-color;
  color:$secondary;
  font-family: $standard-font-family;
  font-size: $short-font-size;
  text-align: center;
}


.buttons {
  .sidebar-button-item {
    padding-left: $standard-padding;
    margin-left: $standart-margin;

    Label {
      vertical-align: center;
      font-size: $standard-font-size;
      padding: $short-padding $short-padding 0 0;
      font-family: $standard-font-family;
    }

  }
}

.buttons MDRipple {
  ripple-color: $ripple-color;
  .fa{
    font-family: FontAwesome;
  }
}

</style>
