<template>
    <Page class="page">
        <ActionBar class="action-bar">
            <!--
            Use the NavigationButton as a side-drawer button in Android
            because ActionItems are shown on the right side of the ActionBar
            -->
            <NavigationButton ios:visibility="collapsed" icon="res://back" @tap="onBackButtonTap"></NavigationButton>
            <!--
            Use the ActionItem for IOS with position set to left. Using the
            NavigationButton as a side-drawer button in iOS is not possible,
            because its function is to always navigate back in the application.
            -->
            <ActionItem icon="res://back"
                        android:visibility="collapsed"
                        @tap="onBackButtonTap"
                        ios.position="left">
            </ActionItem>
            <Label class="action-bar-title" text="PAROLAYI DEĞİŞTİR"></Label>
        </ActionBar>

        <GridLayout class="forgot-password-container" rows="*">
            <StackLayout >
                <Label :textWrap="true" class="forgot-password-label" :text="message"></Label>>
                <MDTextField dock="right"
                             :text="formData.sourceEmail"
                             :error="formErrors.sourceEmail"
                             @textChange="(e)=>{formData.sourceEmail=e.value;clearFieldErrors()}"
                             ref="sourceEmailField"
                             @returnPress="focusMaterialTextField('sourceEmailField')"
                             :class="activeEditableField==='LoginEmail'?'active':''"
                             @focus="editableOnFocus('LoginEmail')"
                             @blur="editableOnBlur" column="1"
                             class="material-editable-field"
                             keyboardType="email"
                             hint="Eposta Adresi"
                             returnKeyType="go"
                             variant="outline"
                />
                <GridLayout class="login-editable-button-container" rows="*">
                  <GridLayout>
                    <Button :isEnabled="sendButtonActive" row="0" @tap="sendButtonTap" class="btn btn-large btn-burgundy">{{loading?'':'Gönder'}}</Button>
                  </GridLayout>
                  <ActivityIndicator v-show="loading" row="0" busy="true" color="white" :width="loadingIndicatorSize" :height="loadingIndicatorSize"></ActivityIndicator>
                </GridLayout>
            </StackLayout>
            <StackLayout backgroundColor="rgba(0,0,0,0)" v-show="loading" @touch="()=>{}"  row="0">
              <!--This element locks user input while in loading state-->
            </StackLayout>
        </GridLayout>

    </Page>

</template>

<script>
    import SelectedPageService from "../shared/selected-page-service";
    import UpdateRenderState from "../mixins/updateRenderState";
    import InternationalComponent from '../mixins/internationalComponent';
    import * as utilsKB from "@nativescript/core/utils/utils";
    import {Frame} from "@nativescript/core/ui/frame";
    import AccountRepository from "../repositories/accountRepository";
    import {DrawerSetup} from "../mixins/drawerPageMixin";

    export default {
        components: {},
        mixins: [InternationalComponent, DrawerSetup],
        mounted() {
            SelectedPageService.getInstance().updateSelectedPage("ForgotPassword");
        },
        computed: {
            sendButtonActive(){
                if(this.formData.sourceEmail.trim().length>0)
                    return true;
                return false;
            }
        },
        data () {
            return {
                loading: false,
                loadingIndicatorSize:27,
                message: "Hesabınıza ait eposta adresi girmelisiniz. \n\nParolanızı sıfırlayabilmeniz için eposta adresinize bağlantı göndereceğiz.",
                activeEditableField: "",
                formData: {
                    sourceEmail: ""
                },
                formErrors: {
                    sourceEmail: ""
                }
            }
        },

        methods: {
            unfocusFields(){
              Frame.topmost().focus();
            },
            clearFieldErrors(){
              this.formErrors.sourceEmail = "";
            },
            onBackButtonTap() {
                this.$navigateBack();
            },
            async sendButtonTap(){
              this.clearFieldErrors();
              try {
                this.loading = true;
                let response = await AccountRepository.passwordReset(this.formData.sourceEmail);
                this.$showInfo("Parola sıfırlama epostası gönderildi.")
                this.$navigateBack();
              }
              catch(e){
                console.log(e);
                if(e.name === "ClientError"){
                  let response = e.response;
                  if(response.statusCode!==400 && response.json.detail){
                    this.$showError(this.L(response.json.detail));
                  }
                  else if(response.statusCode===400){
                    if("email" in response.json){
                      this.formErrors.sourceEmail = response.json.email.join("\n");
                    }
                  }
                  else {
                    this.$showError(this.L("There is an error. Please wait for a while and try again."));
                  }
                }
                else{
                  this.$showError(this.L("There is an error. Please wait for a while and try again."));
                }
              }
              finally {
                this.loading = false;
              }
            },
            focusMaterialTextField(fieldName){
                let view = this.$refs[fieldName];
                let NsView = view._nativeView;
                if (NsView.ios) {
                  NsView.focus();
                }

                if (NsView.android) {
                  setTimeout(function() {
                    if(NsView.android.getChildCount()==1){
                      let imm = utilsKB.ad.getInputMethodManager();
                      imm.showSoftInput(NsView.android, 0);
                      NsView.android.getChildAt(0).requestFocus();
                    }


                  }, 100);
                }
            },
            editableOnFocus(editableKey){
              this.$nextTick(()=>{
                this.activeEditableField = editableKey;

              });
            },
            editableOnBlur(){
              this.activeEditableField = "";
            },
        },
        created(){

        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    @import '../app-common';
    @import '../app';
    // End custom common variables

    // Custom styles
    .forgot-password-container{
        vertical-align: top;
        margin: $standart-margin 1.4*$standart-margin;
        background-color: $background;
        padding-left: $standard-horizontal-padding;
        padding-right: $standard-horizontal-padding;
        padding-top: $standard-vertical-padding;
        border-radius: $standard-border-radius;
    }
    .forgot-password-label{
        font-family: $standard-font-family;
        font-size: $big-font-size;
    }

    .login-editable-row{
        margin: 0 $standart-margin;
        font-family: $standard-font-family;
        min-height: $editable-row-height;
    }

    .login-editable-button-container{
      height: 1.5*$editable-row-height;
      font-family: $standard-font-family;
      vertical-align: top;
    }
</style>
