<template>
    <Page class="page">
        <ActionBar class="action-bar">
            <!--
            Use the NavigationButton as a side-drawer button in Android
            because ActionItems are shown on the right side of the ActionBar
            -->
            <NavigationButton ios:visibility="collapsed" icon="res://menu" @tap="onDrawerButtonTap"></NavigationButton>
            <!--
            Use the ActionItem for IOS with position set to left. Using the
            NavigationButton as a side-drawer button in iOS is not possible,
            because its function is to always navigate back in the application.
            -->
            <ActionItem icon="res://navigation/menu"
                android:visibility="collapsed"
                @tap="onDrawerButtonTap"
                ios.position="left">
            </ActionItem>
            <StackLayout>
                <Label textWrap="true" class="action-bar-title" :text="activePage"></Label>
            </StackLayout>

        </ActionBar>

        <BottomNavigation :selectedIndex="selectedIndex" @selectedIndexChanged = "onSelectedIndexChanged">
            <TabStrip >
                <TabStripItem class="tabstripitem" @tap="onHomeClick">
                    <Image :src="'res://home' + (selectedIndex===0?1:2)"></Image>
                </TabStripItem>
                <TabStripItem class="tabstripitem">
                    <Image :src="'res://new' + (selectedIndex===1?1:2)"></Image>
                </TabStripItem>
                <TabStripItem class="tabstripitem">
                    <Image :src="'res://explore' + + (selectedIndex===2?1:2)"></Image>
                </TabStripItem>
            </TabStrip>

            <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
            <TabContentItem>
                <feed-tab :home-clicked="homeClicked">
                </feed-tab>
            </TabContentItem>
            <TabContentItem>
                <new-post-tab></new-post-tab>
            </TabContentItem>
            <TabContentItem>
                <browse-tab></browse-tab>
            </TabContentItem>

        </BottomNavigation>

    </Page>
</template>

<script>
    import * as utils from "~/shared/utils";
    import SelectedPageService from "../shared/selected-page-service";
    import FeedTab from "./mainTabs/FeedTab";
    import BrowseTab from "./mainTabs/BrowseTab";
    import NewPostTab from "./mainTabs/NewPostTab";
    import {DrawerSetup} from "../mixins/drawerPageMixin";
    import InternationalComponent from "../mixins/internationalComponent";

    export default {
        mixins:[DrawerSetup, InternationalComponent],
        data() {
            return {
                activePage: "SON HABERLER",
                drawer: true,
                homeClicked: false,
            }
        },
        async mounted() {
            SelectedPageService.getInstance().updateSelectedPage("Home");
            // Fetch profile info
          try {
            const cacheProfile = await this.$store.dispatch("loadCacheProfile");
            const responseData = await this.$store.dispatch("fetchProfile");
            if(!responseData.profile.email_confirmed){
              this.$showInfo("Hesabınızı onayladıktan sonra yazılar yazabileceksiniz.", "Tamam");
            }
          }
          catch(e){
            if(e.response.statusCode === 401)
              return;
            if(e.name === "ClientError"){
              this.$showError(this.L("There is an error. Please wait for a while and try again."));
            }
            else{
              this.$showError(this.L("There is an error. Please wait for a while and try again."));
            }
          }

        },
        computed: {
            tabTitles(){
                return [
                    "SON HABERLER",
                    "OLUŞTUR",
                    "KEŞFET"
                ]
            },
            selectedIndex(){
              return this.$store.getters.getActiveTab;
            }
        },
        methods: {
            onDrawerButtonTap() {
                utils.showDrawer();
            },
            onSelectedIndexChanged(e){
                this.$store.commit("setActiveTab",e.object.selectedIndex);
                this.activePage = this.tabTitles[e.object.selectedIndex];
            },
          onHomeClick(e){
            if(this.selectedIndex===0){
              this.homeClicked=true;
              this.$nextTick(()=>{
                this.homeClicked = false;
              });
            }
          }
        },
        components: {BrowseTab, FeedTab, NewPostTab},
      watch:{

      }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    @import '../app-common';
    // End custom common variables
    $strip-color: black;
    $strip-color-active: white;
    TabStripItem.tabstripitem {
        background-color: $strip-color;
    }

    TabStripItem.tabstripitem:active {
        background-color: $strip-color-active;
    }

    // Custom styles
</style>
