<template>
    <Page ref="pages" @loaded="pageLoaded" actionBarHidden="true" class="page no-action-bar">
        <GridLayout v-if="renderPage" rows="auto, *">
            <StackLayout row="0">
                <Image id="top-image" src="res://logo_shape"></Image>
                <Label id="top-text" :text="messageBelowLogo"></Label>
            </StackLayout>
            <GridLayout rows="*" row="1" id="login-scroll-container">
                <GridLayout ref="scrollContainer" rows="*, 46" row="0"  >
                    <StackLayout id="login-scroll-container">
                      <TabView @touch="loginSignupTabViewOnTouchMove" row="0" @loaded="tabViewLoaded($event)" @selectedIndexChange="loginSignupTabSelectedIndexChange($event)" :selectedIndex="selectedIndex" >
                        <TabViewItem @touch="loginSignupTabViewOnTouchMove">
                            <ScrollView class="login-scroll" >
                                <GridLayout verticalAlignment="center">
                                    <StackLayout id="login-new-account" class="login-container">
                                        <DockLayout class="login-editable-row" stretchLastChild="true">
                                            <Image  dock="left" class="login-editable-icon" :src="activeEditableField=='SignupEmail'?'res://usericonactive':'res://usericon'" stretch="aspectFill"></Image>
                                            <MDTextField dock="right" :text="formData.signupEmail" :error="formErrors.signupEmail" @textChange="(e)=>{formData.signupEmail=e.value;clearFieldErrors()}" ref="signupEmailField" @returnPress="focusMaterialTextField('signupPasswordField')" :class="activeEditableField=='SignupEmail'?'active':''" @focus="editableOnFocus('SignupEmail')" @blur="editableOnBlur" column="1" class="material-editable-field" keyboardType="email"
                                                         hint="Eposta" returnKeyType="next"/>
                                        </DockLayout>
                                        <DockLayout class="login-editable-row"  stretchLastChild="true">
                                            <Image dock="left" class="login-editable-icon"  :src="activeEditableField=='SignupPassword'?'res://passiconactive':'res://passicon'" stretch="aspectFill"></Image>
                                            <MDTextField dock="right" :text="formData.signupPassword" :error="formErrors.signupPassword" @textChange="(e)=>{formData.signupPassword=e.value;clearFieldErrors()}" @returnPress="focusMaterialTextField('signupPassword2Field')" ref="signupPasswordField" :class="activeEditableField=='SignupPassword'?'active':''" @focus="editableOnFocus('SignupPassword')" @blur="editableOnBlur" column="1" class="material-editable-field" secure="true"
                                                          hint="Şifre" returnKeyType="next"/>
                                        </DockLayout>
                                        <DockLayout class="login-editable-row"  stretchLastChild="true">
                                            <Image dock="left" class="login-editable-icon"  :src="activeEditableField=='SignupPassword2'?'res://passiconactive':'res://passicon'" stretch="aspectFill"></Image>
                                            <MDTextField dock="right" :text="formData.signupPassword2"
                                                         :error="formErrors.signupPassword2"
                                                         @textChange="(e)=>{formData.signupPassword2=e.value;clearFieldErrors()}"
                                                         ref="signupPassword2Field"
                                                         :class="activeEditableField=='SignupPassword2'?'active':''"
                                                         @focus="editableOnFocus('SignupPassword2')"
                                                         @blur="editableOnBlur" column="1" class="material-editable-field"
                                                         secure="true"
                                                         hint="Şifre Tekrar" returnKeyType="go"/>
                                        </DockLayout>
                                        <GridLayout class="login-editable-button-container" rows="*">
                                            <GridLayout>
                                                <Button row="0" :isEnabled="signupButtonActive" @tap="signupButtonTap" class="btn btn-large btn-burgundy">{{loading?'':'KAYDOL'}}</Button>
                                            </GridLayout>
                                            <ActivityIndicator v-show="loading" row="0" busy="true" color="white" :width="loadingIndicatorSize" :height="loadingIndicatorSize"></ActivityIndicator>
                                        </GridLayout>
                                    </StackLayout>
                                </GridLayout>
                            </ScrollView>
                        </TabViewItem>
                        <TabViewItem >
                            <ScrollView class="login-scroll" >
                                <GridLayout verticalAlignment="center">
                                    <StackLayout id="login-existing-account" class="login-container">
                                        <DockLayout class="login-editable-row"  stretchLastChild="true">
                                            <Image dock="left"
                                                   class="login-editable-icon"
                                                   :src="activeEditableField=='LoginEmail'?'res://usericonactive':'res://usericon'"
                                                   stretch="aspectFill"
                                            />
                                            <MDTextField dock="right"
                                                         :text="formData.loginEmail"
                                                         :error="formErrors.loginEmail"
                                                         @textChange="(e)=>{formData.loginEmail=e.value;clearFieldErrors()}"
                                                         ref="loginEmailField"
                                                         @returnPress="focusMaterialTextField('loginPasswordField')"
                                                         :class="activeEditableField=='LoginEmail'?'active':''"
                                                         @focus="editableOnFocus('LoginEmail')"
                                                         @blur="editableOnBlur" column="1"
                                                         class="material-editable-field"
                                                         keyboardType="email"
                                                         hint="Eposta veya Kullanıcı"
                                                         returnKeyType="next"
                                            />
                                        </DockLayout>
                                        <DockLayout class="login-editable-row" stretc hLastChild="true">
                                            <Image
                                                    dock="left"
                                                    class="login-editable-icon"
                                                    :src="activeEditableField=='LoginPassword'?'res://passiconactive':'res://passicon'"
                                                    stretch="aspectFill"
                                            />
                                            <MDTextField
                                                    dock="right"
                                                    :text="formData.loginPassword"
                                                    :error="formErrors.loginPassword"
                                                    @textChange="(e)=>{formData.loginPassword=e.value;clearFieldErrors()}"
                                                    ref="loginPasswordField"
                                                    :class="activeEditableField=='LoginPassword'?'active':''"
                                                    @focus="editableOnFocus('LoginPassword')"
                                                    @blur="editableOnBlur"
                                                    column="1"
                                                    class="material-editable-field"
                                                    secure="true"
                                                    hint="Şifre"
                                                    returnKeyType="go"
                                            />
                                        </DockLayout>
                                        <StackLayout class="forgot-password-container">
                                            <Label @tap="forgotPasswordTap" :text="L('Şifreni mi unuttun?')" :class="forgotPasswordClasses" @touch="forgotPasswordTouch" order="0">
                                            </Label>
                                        </StackLayout>
                                        <GridLayout class="login-editable-button-container" rows="*">
                                            <GridLayout>
                                                <Button :isEnabled="loginButtonActive" row="0" @tap="loginButtonTap" class="btn btn-large btn-burgundy">{{loading?'':'GİRİŞ'}}</Button>
                                            </GridLayout>
                                            <ActivityIndicator v-show="loading" row="0" busy="true" color="white" :width="loadingIndicatorSize" :height="loadingIndicatorSize"></ActivityIndicator>
                                        </GridLayout>
                                    </StackLayout>
                                </GridLayout>
                            </ScrollView>
                        </TabViewItem>
                    </TabView>
                    </StackLayout>
                    <FlexboxLayout row="1" class="login-footer" >
                      <Label class="bottom-menu-item" :class="termsClasses" @touch="termsTouch" @tap="termsTap" order="0">{{L('Şartlar')}}</Label>
                      <Label class="bottom-menu-item" v-if="selectedIndex===0" :class="alreadyHaveAccountClasses" @tap="selectedIndex=1" @touch="alreadyHaveAccountTouch" order="1">{{L('Zaten bir hesabım var')}}</Label>
                      <Label class="bottom-menu-item"  v-else :class="loginLabelClasses" @tap="selectedIndex=0" @touch="loginLabelTouch" order="1">{{L('Kayıt ol')}}</Label>
                    </FlexboxLayout>
                </GridLayout>
                <!--<StackLayout backgroundColor="rgba(0,0,0,0)" v-show="loading" @touch="()=>{}"  row="0">
                </StackLayout>-->
            </GridLayout>
        </GridLayout>
    </Page>
</template>

<script>
    import { isAndroid, isIOS} from "@nativescript/core/platform";
    import SelectedPageService from "../shared/selected-page-service";
    import {Frame} from "@nativescript/core/ui/frame"
    import InternationalComponent from '../mixins/internationalComponent';
    import * as utilsKB from "@nativescript/core/utils/utils";
    import {ClientError, ServerError} from "../webServices/exceptions";
    import AccountRepository from "../repositories/accountRepository";
    import {OverSlideModernTransitionAndroid} from "../transitions/overSlideModernTransition";
    import ForgotPassword from "./ForgotPassword";
    import WebViewPage from "./WebViewPage";
    import {DrawerSetup} from "../mixins/drawerPageMixin";
    export default {
        mixins: [InternationalComponent, DrawerSetup],
        async mounted() {
            SelectedPageService.getInstance().updateSelectedPage("login");
        },
        watch:{
          passwordsEqual(to){
            console.log(to);
            if(!to){
              this.$set(this.formErrors, "signupPassword2", "Passwords does not match.");
            }
            else{
              this.$set(this.formErrors, "signupPassword2", "");
            }
          }
        },
        computed: {
            renderPage() {
                return this.$store.getters.getRenderBackStackPage;
            },
            message() {
                return "<!-- Page content goes here -->";
            },
            loginButtonActive(){
              return this.formData.loginEmail.trim().length > 0
                  && this.formData.loginPassword.length > 0;

            },
            signupButtonActive(){
              return this.formData.signupEmail.trim().length > 0
                  && this.formData.signupPassword.length > 0
                  && this.formData.signupPassword === this.formData.signupPassword2;

            },
            passwordsEqual(){
              return this.formData.signupPassword===this.formData.signupPassword2
            }
        },
        data(){
            return {
                messageBelowLogo: "\"Seni gördüğümüze sevindik!\"",
                activeEditableField: "",
                alreadyHaveAccountClasses: [],
                termsClasses: [],
                loginLabelClasses: [],
                forgotPasswordClasses: [],
                selectedIndex:0,
                blockContent: false,
                loading: false,
                loadingIndicatorSize:27,
                initialLoad: false,
                formData:{
                    signupEmail: "",
                    signupPassword: "",
                    signupPassword2: "",
                    loginEmail: "",
                    loginPassword: ""
                },
                formErrors: {
                    signupEmail: "",
                    signupPassword: "",
                    signupPassword2: "",
                    loginEmail: "",
                    loginPassword: ""
                }
            }
        },
        methods: {
          pageLoaded(args) {
            let page = args.object;
            page.android.setFitsSystemWindows(true);
          },
            unfocusFields(){
                Frame.topmost().focus();
            },
            focusMaterialTextField(fieldName){
                let view = this.$refs[fieldName];
                let NsView = view._nativeView;
                if (NsView.ios) {
                    NsView.focus();
                }

                if (NsView.android) {
                    setTimeout(function() {
                        if(NsView.android.getChildCount()===1){
                            let imm = utilsKB.ad.getInputMethodManager();
                            imm.showSoftInput(NsView.android, 0);
                            NsView.android.getChildAt(0).requestFocus();
                        }


                    }, 100);
                }
            },
            clearFieldErrors(){
                this.formErrors.loginEmail = "";
                this.formErrors.loginPassword = "";
                this.formErrors.signupEmail = "";
                this.formErrors.signupPassword = "";
            },
            async signupButtonTap(){
                this.clearFieldErrors();
                try {
                  this.loading = true;
                  let response = await AccountRepository.signup(this.formData.signupEmail, this.formData.signupPassword);
                  response = await this.$store.dispatch("login",
                      {
                        username:this.formData.signupEmail,
                        password:this.formData.signupPassword
                      });

                }
                catch(e){
                  if(e.name === "ClientError"){
                    let response = e.response;
                    if(response.statusCode!==400 && response.json.detail){
                      this.$showError(this.L(response.json.detail));
                    }
                    else if(response.statusCode===400){
                      if("email" in response.json){
                        this.formErrors.signupEmail = response.json.email.join("\n");
                      }
                      if("password" in response.json){
                        this.formErrors.signupPassword = response.json.password.join("\n");
                      }
                    }
                    else {
                      this.$showError(this.L("There is an error. Please wait for a while and try again."));
                    }
                  }
                  else{
                    this.$showError(this.L("There is an error. Please wait for a while and try again."));
                  }
                }
                finally {
                  this.loading = false;
                }
            },
            async loginButtonTap(){
                this.clearFieldErrors();
                try {
                    this.loading = true;
                    let response = await this.$store.dispatch("login",
                        {
                          username:this.formData.loginEmail,
                          password:this.formData.loginPassword
                        });

                }
                catch(e){
                    if(e.name === "ClientError"){
                        let response = e.response;
                        if(response.statusCode!=400 && response.json.detail){
                            this.$showError(this.L(response.json.detail));
                        }
                        else if(response.statusCode===400){
                            if("username" in response.json){
                                this.formErrors.loginEmail = response.json.username.join("\n");
                            }
                            if("password" in response.json){
                                this.formErrors.loginPassword = response.json.password.join("\n");
                            }
                        }
                        else {
                            this.$showError(this.L("There is an error. Please wait for a while and try again."));
                        }
                    }
                    else{
                        this.$showError(this.L("There is an error. Please wait for a while and try again."));
                    }
                }
                finally {
                    this.loading = false;
                }
            },
            async forgotPasswordTap(){
              this.$navigateTo(ForgotPassword);
            },
            loginSignupTabViewOnTouchMove(args){

            },
            loginSignupTabSelectedIndexChange(e){
                this.selectedIndex = e.object.selectedIndex;
                this.forgotPasswordClasses = [];
            },
            editableOnFocus(editableKey){
                this.$nextTick(()=>{
                    this.activeEditableField = editableKey;

                });
            },
            editableOnBlur(){
                this.activeEditableField = "";
            },
            tabViewLoaded(event){
                const tabView = event.object;
                if (isIOS) {
                    tabView.viewController.tabBar.hidden = true;
                }
                if (isAndroid) {
                    const tabLayout = tabView.nativeViewProtected.tabLayout;
                    tabLayout.getLayoutParams().height = 0;
                    tabLayout.requestLayout();
                }
            },
            alreadyHaveAccountTouch(event){
                switch(event.action){
                    case 'up':
                        this.alreadyHaveAccountClasses = []
                        break;
                    case 'down':
                        this.alreadyHaveAccountClasses = ['label-active']
                        break;
                }
            },
            termsTouch(event){
                switch(event.action){
                    case 'up':
                        this.termsClasses = []
                        break;
                    case 'down':
                        this.termsClasses = ['label-active']
                        break;
                }
            },
            termsTap(event){
              this.$navigateTo(WebViewPage, {
                props:{
                  title: "ŞARTLAR",
                  src: "https://me.journior.com/legal/terms/?nolink=1"
                },
                transition: {
                  instance: new OverSlideModernTransitionAndroid("top", 300, "easeInOut", false)
                }
              });
            },
            forgotPasswordTouch(event){
                switch(event.action){
                    case 'up':
                        this.forgotPasswordClasses = []
                        break;
                    case 'down':
                        this.forgotPasswordClasses = ['label-active']
                        break;
                }
            },
            loginLabelTouch(event){
                switch(event.action){
                    case 'up':
                        this.loginLabelClasses = []
                        break;
                    case 'down':
                        this.loginLabelClasses = ['label-active']
                        break;
                }
            }
        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    @import '../app';
    // End custom common variables

    // Custom styles
    #top-image{
        width: $top-logo-width;
        margin-top: $top-logo-to-page-margin;
    }
    #top-text{
        font-family: $top-logo-font-family;
        font-style: italic;
        text-align: $top-logo-text-align;
        font-size: $top-logo-font-size;
        margin-top: $top-logo-text-margin;
        margin-bottom: $top-logo-text-margin;
    }

    #login-scroll-container {
        padding: 0;
        .login-container{
            margin: $standart-margin 1.4*$standart-margin;
            border-width: 1;
            border-color: $secondary;
            padding-left: $standard-horizontal-padding;
            padding-right: $standard-horizontal-padding;
            padding-top: $standard-vertical-padding;
        }
        #login-new-account{
        }

        #login-existing-account{
        }
    }

    .login-editable-row{
        margin: 0 $standart-margin;
        font-family: $standard-font-family;
        min-height: $editable-row-height;
    }

    .forgot-password-container{
        horizontal-align: right;
        flex-direction: row;
        padding: 0 $standard-horizontal-padding;
        margin-top: $standart-margin;
        font-size: $short-font-size;
    }

    .login-editable-button-container{
        margin: $standart-margin/2;
        height: 1.5*$editable-row-height;
        font-family: $standard-font-family;
        vertical-align: top;
    }

    .login-editable-icon{
        margin-top: $standart-margin;
        width: $editable-icon-size;
        height: $editable-icon-size;
    }

    .login-button{
        border-width: 2;
        border-color: $accent-burgundy;
        text-transform: uppercase;
        font-size: $button-font-size;
        font-family: $bold-font-family;
        font-weight: bold;
        color: $accent-burgundy;
    }
    .login-footer{
        margin-top: $standart-margin;
        padding: 0 2*$standart-margin $standart-margin 2*$standart-margin;
        align-content: center;
        justify-content: space-between;
        flex-direction: row;
        font-family: $standard-font-family;
        font-size: $standard-font-size;
    }
    .label-active{
        color: $accent-burgundy;
    }
    .bottom-menu-item{
      font-size: $short-font-size;
    }

</style>
