<template>
    <Page class="page">
        <ActionBar class="action-bar">
            <!--
            Use the NavigationButton as a side-drawer button in Android
            because ActionItems are shown on the right side of the ActionBar
            -->
            <NavigationButton ios:visibility="collapsed" icon="res://back" @tap="onBackButtonTap"></NavigationButton>
            <!--
            Use the ActionItem for IOS with position set to left. Using the
            NavigationButton as a side-drawer button in iOS is not possible,
            because its function is to always navigate back in the application.
            -->
            <ActionItem icon="res://back"
                        android:visibility="collapsed"
                        @tap="onBackButtonTap"
                        ios.position="left">
            </ActionItem>
            <Label class="action-bar-title" text="PROFİL"></Label>
          <ActionItem @tap="edit" icon="res://edit" position="right">
          </ActionItem>

        </ActionBar>
        <GridLayout rows="*">
          <GridLayout rows="7*, 3*" row="0">
            <GridLayout :translateY="contentTabTranslateYComputed-profileContentHeight" ref="profileContainer" row="0" rows="auto, auto, auto, auto, *, auto" class="profile-container" >
              <ImageCacheIt row="0" id = "profilePhoto" width="150" height="150" :src="profilePicture" />
              <Label row="1" id = "profileName" class="p-l-16 p-r-16" :text="fullName" />
              <Label row="2" id = "username" class="p-l-16 p-r-16" :text="username" />
              <WrapLayout row="3" id="location_container">
                <Label id = "location_icon" text.decode="&#xf041;" class="fa" ></Label>
                <Label id = "location" text="Location" />
              </WrapLayout>
              <ScrollView row="4">

                <Label id = "bio" :text="bio" class="detail-text-quote" />
              </ScrollView>
              <StackLayout row="5" class="information-panel" orientation="horizontal">
                <StackLayout @tap="goToSubscribers(1)" class="information-panel-item" width="33%">
                  <Label class="count-value" :text="subscribersCount" />
                  <Label class = "count-label"  text="Subscriber" />
                </StackLayout>
                <StackLayout @tap="goToSubscribers(0)" class="information-panel-item" width="33%">
                  <Label class="count-value" :text="subscriptionCount" />
                  <Label class = "count-label"  text="Subscription" />
                </StackLayout>
                <StackLayout @tap="goToPosts" class="information-panel-item" width="33%">
                  <Label class="count-value" :text="newsCount" />
                  <Label class = "count-label"  text="Posts" />
                </StackLayout>


              </StackLayout>
            </GridLayout>
          </GridLayout>
          <TabView :translateY="contentTabTranslateYComputed" @loaded="onTabviewLoaded($event)" row="0" ref="contentTab" minHeight="200" :selectedIndex="selectedIndex" @selectedIndexChange="indexChange">
            <TabViewItem title="YAZILARIM">
              <AbsoluteLayout :translateY="-contentTabTranslateYComputed">
                <RadListView :scrollPosition="scrollPosition" ref="postsListView" left="0" top="0" layout="linear"  @scrolled="onScrollLists($event, 0,'postsListView', 'savedListView')"  for=" item in postItems ">
                  <v-template name="margin-element" if="item.elementType === '_top_margin_'">
                    <GridLayout :height="item.height">

                    </GridLayout>
                  </v-template>
                  <v-template>
                    <StackLayout class="post-container" orientation="vertical">
                      <Label text="You don't have any post yet!"></Label>
                      <Image src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_23-2148298503.jpg?size=626&ext=jpg"></Image>
                    </StackLayout>
                  </v-template>

                </RadListView>
              </AbsoluteLayout>
            </TabViewItem>
            <TabViewItem title="OKUMA LİSTESİ">
              <AbsoluteLayout :translateY="-contentTabTranslateYComputed">
                <RadListView ref="savedListView" left="0" top="0" layout="linear"  @scrolled="onScrollLists($event, 1,'savedListView','postsListView')"  for=" item in savedItems">
                  <v-template name="margin-element" if="item.elementType === '_top_margin_'">
                    <GridLayout :height="item.height">

                    </GridLayout>
                  </v-template>
                  <v-template>
                    <StackLayout class="post-container" orientation="vertical">
                      <Label text="You don't have any post yet!"></Label>
                      <Image src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_23-2148298503.jpg?size=626&ext=jpg"></Image>
                    </StackLayout>
                  </v-template>

                </RadListView>
              </AbsoluteLayout>
            </TabViewItem>
          </TabView>
        </GridLayout>
    </Page>

</template>

<script>
    import { ObservableArray } from '@nativescript/core/data/observable-array'
    import StandardPost from "./postTemplates/StandardPost";
    import * as utils from "~/shared/utils";
    import SelectedPageService from "../shared/selected-page-service";
    import Home from "./Home";
    import UpdateProfile from "./UpdateProfile";
    import {DrawerSetup} from "../mixins/drawerPageMixin";
    import InternationalComponent from "../mixins/internationalComponent";
    import {ListViewItemSnapMode, ListViewScrollPosition} from "nativescript-ui-listview";
    import SubscriptedUsers from "./SubscriptedUsers";
    import {CubicBezierAnimationCurve} from "@nativescript/core/ui/animation";
    const animDuration = 250;
    export default {
        mixins: [DrawerSetup, InternationalComponent],
        components: {StandardPost},
        async mounted() {
          SelectedPageService.getInstance().updateSelectedPage("Profile");

          try {
            await this.$store.dispatch("fetchProfile");
          } catch (e) {
            console.log(e);
            if (e.name === "ClientError") {
              let response = e.response;
              if (response.json.detail) {
                this.$showError(this.L(response.json.detail));
              } else {
                this.$showError(this.L("There is an error. Please wait for a while and try again."));
              }
            } else {
              this.$showError(this.L("There is an error. Please wait for a while and try again."));
            }
          }
        },
        computed: {
          contentTabTranslateYComputed(){
            let calculatedTranslateY = this.profileContentHeight - this.contentTopTranslateY;
            if(calculatedTranslateY<0){
              return 0;
            }
            else if(calculatedTranslateY>this.profileContentHeight){
              return this.profileContentHeight;
            }
            else{
              return calculatedTranslateY;
            }
          },
          message() {
              return "<!-- Page content goes here -->";
          },
          globalProfile(){
            return this.$store.getters.getProfile;
          },
          globalProfileFetched(){
            return this.$store.getters.getProfileFetchState;
          },
          profilePicture(){
            if(this.globalProfileFetched &&
                this.globalProfile.profile &&
                this.globalProfile.profile.active_profile_picture &&
                (this.globalProfile.profile.active_profile_picture.picture||
                    this.globalProfile.profile.active_profile_picture.picture_raw)
            ) {
              if(this.globalProfile.profile.active_profile_picture.picture)
                return this.globalProfile.profile.active_profile_picture.picture;
              else{
                return this.globalProfile.profile.active_profile_picture.picture_raw;
              }
            }
            else
              return this.$helpers.firstLetter(this.fullName,this.globalProfile.username);
          },
          fullName(){
            let _fullName = '';
            if(this.globalProfileFetched){
              _fullName += this.globalProfile.first_name?this.globalProfile.first_name:'';
              _fullName += ' ' + (this.globalProfile.last_name?this.globalProfile.last_name:'');
            }
            return _fullName.trim();
          },
          username(){
            if(this.globalProfileFetched) {
              return '@' + (this.globalProfile.username?this.globalProfile.username:'');
            }
            return '';
          },
          bio(){
          if(this.globalProfileFetched) {
            return (this.globalProfile.profile.bio?this.globalProfile.profile.bio:'');
          }
          return '';
        },
          newsCount(){
            if(this.globalProfileFetched&&
                this.globalProfile.profile){
              return String(this.globalProfile.profile.news_count_beautified['tr-tr']);
            }
            return '';
          },
          subscribersCount(){
            if(this.globalProfileFetched&&
                this.globalProfile.profile){
              return String(this.globalProfile.profile.subscribers_count);
            }
            return '';

      },
          subscriptionCount(){
            if(this.globalProfileFetched&&
                this.globalProfile.profile){
              return String(this.globalProfile.profile.subscription_count);
            }
            return '';
          }
        },

        data () {
            return {
                Home: Home,
                selectedPage: "",
                profileBadged: true,
                selectedIndex:0,
                postItems: new ObservableArray([{elementType: "_top_margin_", height: 0}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}]),
                savedItems: new ObservableArray([{elementType: "_top_margin_", height: 0}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}]),
                stepIndex:0,
                contentTopTranslateY: 0,
                profileContentHeight: 0,
                scrollPosition: ListViewScrollPosition.Right
            }
        },

        methods: {
            onTabviewLoaded(event){
              const tabView = event.object;
              setTimeout(() => {
                this.calculateProfileHeight();
              },1);

            },
            calculateProfileHeight(){
              try{
                this.profileContentHeight = this.$refs.profileContainer.nativeView.getActualSize().height;
                this.postItems.setItem(0, Object.assign(this.postItems.getItem(0), {height: this.profileContentHeight}))
                this.savedItems.setItem(0, Object.assign(this.savedItems.getItem(0), {height: this.profileContentHeight}))

              }
              catch(e){

              }
            },
            onScrollLists(e, currentTabIndex, currentRefName=null, otherRefName=null){
              if(currentTabIndex !== this.selectedIndex){
                return
              }
              if(e.scrollOffset<=this.profileContentHeight){
                this.contentTopTranslateY = e.scrollOffset;
                if(otherRefName && this.$refs[otherRefName]){
                  otherRefName && this.$refs[otherRefName].scrollToIndex(0, false, ListViewItemSnapMode.Start);
                  otherRefName && this.$refs[otherRefName].nativeView.scrollWithAmount(e.scrollOffset, true);
                }
              }
              else{
                this.contentTopTranslateY = this.profileContentHeight;
              }
            },
            onDrawerButtonTap() {
                utils.showDrawer();
            },
            onBackButtonTap() {
                this.$navigateBack();
            },
            edit(e){
                this.$navigateTo(UpdateProfile);

            },
            indexChange: function(args) {
              this.selectedIndex = args.value;
            },
            goToSubscribers(index){
              this.$navigateTo(SubscriptedUsers, {
                props: {
                  tabviewIndex:index,
                  username:this.username.substr(1,this.username.length),
                }
              });
            },
            goToPosts(){
              if(this.selectedIndex !== 0){
                this.selectedIndex = 0;
              }
              setTimeout(()=>{
                this.$refs.postsListView.nativeView.scrollWithAmount(this.contentTabTranslateYComputed, true);
              }, 200);
            },
        },
        watch: {
        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    @import '../app';
    @import '../app-common';
    @import '../profile';
    // End custom common variables

    // Custom styles

.information-panel{
  margin-bottom: 40;
}

</style>
