<template>
  <Page class="page" @loaded="pageLoaded">
    <ActionBar class="action-bar">
      <!--
      Use the NavigationButton as a side-drawer button in Android
      because ActionItems are shown on the right side of the ActionBar
      -->
      <NavigationButton ios:visibility="collapsed" icon="res://back" @tap="onBackButtonTap"></NavigationButton>
      <!--
      Use the ActionItem for IOS with position set to left. Using the
      NavigationButton as a side-drawer button in iOS is not possible,
      because its function is to always navigate back in the application.
      -->
      <ActionItem icon="res://back"
                  android:visibility="collapsed"
                  @tap="onBackButtonTap"
                  ios.position="left">
      </ActionItem>
      <Label class="action-bar-title" text="Comments"></Label>
    </ActionBar>
    <GridLayout rows="auto,*,auto" columns="*" @tap="dismissKeyboard">


      <ActivityIndicator v-if="!isCommentsFetched" color="black" row="1" busy="true" />
      <RadListView v-else row="1" ref="replies" for=" item in replyList " pullToRefresh="true"
                   @pullToRefreshInitiated="onPullToRefresh" @scrollStarted="radListScrollStarted"
                   loadOnDemandMode="Auto" loadOnDemandBufferSize="4" @loadMoreDataRequested="onLoadMoreItemsRequested"
                   @itemTap="onItemTap"
      >
        <v-template if="item.type==='main'">
          <GridLayout rows="auto,auto" columns="auto,*" class="wrapper main" >
            <Image row="0" col="0" rowSpan="2" class="user-picture" :src="item.imgSrc" verticalAlignment="top" @tap="profileClick($event)"></Image>
            <Label row="0" col="1" @tap="profileClick($event)">
              <FormattedString>
                <Span :text="item.fullName?item.fullName:item.username" style="font-weight:bold; font-size:15;"/>
                <Span text=" - "></Span>
                <Span :text="item.date" style="color:#8f8f8f; font-size:13;"/>
              </FormattedString>
            </Label>
            <Label row="1" col="1" class="content" textWrap="true" :text="item.content" />

          </GridLayout>>
        </v-template>
        <v-template if="item.type==='unavailable'">
          <UnavailableReply
              :comment-id="item.id"
              content="This comment is not available more"
              :news-id="newsId"
          >
          </UnavailableReply>
        </v-template>
        <v-template if="item.type==='available'">
          <Reply
              :comment-id="item.id"
              :username="item.username",
              :is-liked="item.isLiked"
              :like-count="item.likeCount"
              :comment-count="item.commentCount"
              :is-commented="item.isCommented"
              :user-picture="item.imgSrc"
              :full-name="item.fullName"
              :date="item.date"
              :content="item.content"
              :owner-id="item.ownerId"
              :news-id="item.newsId"
              :parent-user="item.parentUser"
              :parent-id="item.parentId"
              :animation="item.animation"
              @replyClick="replyComment($event)"
              @goToParentMessage="goToParentMessage($event)"
              @deleteComment="deleteComment($event)"
              @showMoreContent="showMore($event)"
          >
          </Reply>
        </v-template>
        <v-template if="item.type==='expanded'">
          <ExpandedReply
              :comment-id="item.id"
              :username="item.username",
              :is-liked="item.isLiked"
              :like-count="item.likeCount"
              :comment-count="item.commentCount"
              :is-commented="item.isCommented"
              :user-picture="item.imgSrc"
              :full-name="item.fullName"
              :date="item.date"
              :content="item.content"
              :owner-id="item.ownerId"
              :news-id="item.newsId"
              :parent-user="item.parentUser"
              :parent-id="item.parentId"
              :animation="item.animation"
              @replyClick="replyComment($event)"
              @goToParentMessage="goToParentMessage($event)"
              @deleteComment="deleteComment($event)"
              @showLessContent="showLess($event)"
          >
          </ExpandedReply>
        </v-template>
      </RadListView>

      <GridLayout row="2" rows="auto,auto" columns="auto,*,auto" class="message-container">
        <GridLayout row="0" col="0" colSpan="3" columns="*,auto" class="replied-user-wrapper">
          <Label row="0" col="0" class="replied-user">
            <FormattedString>
              <Span text="Reply to "></Span>
              <Span :text="toBeRepliedUsername" style="color:#3366BB; font-weight: bold;"></Span>
            </FormattedString>
          </Label>
          <Label v-if="commentFormData.parent!==commentId" row="0" col="2" text.decode="&#xf00d;" class="fa" @tap="deleteRepliedUser"/>
        </GridLayout>
          <ImageCacheIt row="1" col="0" :src="profilePicture" verticalAlignment="bottom" class="bordered-thick profile-image"></ImageCacheIt>
          <TextView ref="myComment" row="1" col="1" maxLines="7" :text="this.commentFormData.content" height="40" textWrap="true" hint="Enter your reply..." class="new-comment-area"
            @textChange="textViewTextChanged" @loaded="textViewLoaded" maxLength="1000"
          />

          <Label row="1" col="2" class="action-icon fa" verticalAlignment="bottom" text.decode="&#xf1d9;"
                 @tap="sendComment"
          />
        </GridLayout>

    </GridLayout>
  </Page>

</template>

<script>
import SelectedPageService from "../shared/selected-page-service";
import {DrawerSetup} from "../mixins/drawerPageMixin";
import {ObservableArray} from "@nativescript/core/data/observable-array";
import { isAndroid, isIOS} from "@nativescript/core/platform";
import {Dialogs} from "@nativescript/core";
import CommentsRepository from "../repositories/comments";
import User_Profile from "./UserProfile";
import InternationalComponent from "../mixins/internationalComponent";
import Reply from "./comment/Reply";
import ExpandedReply from "./comment/ExpandedReply";
import UnavailableReply from "./comment/UnavailableReply";
import MyProfile from "./MyProfile";

export default {
  name: "Replies",
  mixins: [DrawerSetup,InternationalComponent],
  components: {Reply,UnavailableReply,ExpandedReply},

  created() {

    setTimeout(()=>{
      this.getComments();
    }, 300);

    let item = {};
    if(this.type==='unavailable'){
      item={
        type:"unavailable",
        content: this.content,
        id: this.commentId,
        animation:false
      };
    }else{
      item={
        type:"main",
        username: this.username,
        fullName: this.fullName,
        imgSrc: this.userPicture,
        date: this.date,
        content: this.content,
        id: this.commentId,
        isAvailable:true,
        animation:false

      };
    }
    this.replyList.unshift(item);
  },
  props: [
    "userPicture",
    "username",
    "fullName",
    "content",
    "isLiked",
    "likeCount",
    "isCommented",
    "commentCount",
    "date",
    "commentId", // from now on this is parentest id actually,
    "ownerId",
    "isReplyComment",
    "newsId",
    "type",
],
  data () {
    return {
      replyList: new ObservableArray([]),
      replyListFetched:false,
      limit:0,
      offset:0,
      counter: 0,
      commentFormData:{
        content:"",
        newsId:this.newsId,
        parent:this.commentId,
      },
      repliedUsername: this.username,
      sending: false,
      isParentAvailable: this.type !== 'unavailable',
    }
  },
  computed:{
    getSelectedIndex(){
      return this.selectedIndex
    },
    globalProfile(){
      return this.$store.getters.getProfile;
    },
    globalProfileFetched(){
      return this.$store.getters.getProfileFetchState;
    },
    cacheProfileState(){
      return this.$store.getters.getCacheProfileState;
    },
    profilePicture(){
      if(this.globalProfileFetched &&
          this.globalProfile.profile &&
          this.globalProfile.profile.active_profile_picture &&
          (this.globalProfile.profile.active_profile_picture.picture||
              this.globalProfile.profile.active_profile_picture.picture_raw)
      ) {
        if(this.globalProfile.profile.active_profile_picture.picture)
          return this.globalProfile.profile.active_profile_picture.picture;
        else{
          return this.globalProfile.profile.active_profile_picture.picture_raw;
        }
      }
      else
        return this.$helpers.firstLetter(this.globalProfile.first_name,this.myUsername);
    },
    myUsername(){
      if(this.cacheProfileState) {
        return (this.globalProfile.username ? this.globalProfile.username : '');
      }
      return '';
    },
    myFullName(){
      let _fullName = '';
      if(this.globalProfileFetched){
        _fullName += this.globalProfile.first_name?this.globalProfile.first_name:'';
        _fullName += ' ' + (this.globalProfile.last_name?this.globalProfile.last_name:'');
      }
      return _fullName.trim();
    },
    isCommentsFetched(){

      return this.replyListFetched;
    },
    toBeRepliedUsername() {
      if(this.commentFormData.parent === this.commentId){
        if(this.isParentAvailable){
          return '@' + this.repliedUsername;
        }else{
          return '';
        }
      }else{
        return '@' + this.repliedUsername;
      }
    }

  },
  methods: {
    pageLoaded(args){
      let page = args.object;
      page.android.setFitsSystemWindows(true);

    },
    textViewLoaded(args){
      if(this.isReplyComment) {
        setTimeout(() =>this.replyCommentOnLoaded() , 50);
      }
    },
    textViewTextChanged(args){
      let maxLine = 7;
      let TV = args.object;

      this.commentFormData.content = TV.text;
      let lineCount = TV.android.getLineCount();
      let targetHeight = TV.height;
      let maxHeight = (maxLine-1)*20 + 40;
      if(lineCount>=1){
        targetHeight = (lineCount-1)*20 + 40;
      }
      if(targetHeight>maxHeight){
        targetHeight = maxHeight;
      }
      TV.height = targetHeight;
    },
    replyCommentOnLoaded(){
      this.$refs.myComment.nativeView.focus()
    },
    replyComment(args){
      console.log("Reply click from element");
      this.commentFormData.parent = args.commentId;
      this.repliedUsername = args.username;
      setTimeout(() =>this.replyCommentOnLoaded() , 50);
    },
    deleteRepliedUser(){
      this.commentFormData.parent = this.commentId;
      this.repliedUsername = this.username;
    },
    onBackButtonTap() {
      this.$navigateBack();
    },
    radListScrollStarted(args){
      this.dismissKeyboard();
    },
    dismissKeyboard(){
      let view = this.$refs.myComment.nativeView;
      view.dismissSoftInput();
    },
    onItemTap({item}){
      console.log("Item tapped");
      this.dismissKeyboard();
    },
    onPullToRefresh({object}) {
      console.log("Pull to refresh");
      object.notifyPullToRefreshFinished();
    },
    onLoadMoreItemsRequested({object}){
      /*
      this.$nextTick(() => {
        this.getAgencyNews(this.limit, this.offset);
        object.notifyAppendItemsOnDemandFinished(true);

      });
       */
      object.notifyAppendItemsOnDemandFinished(true);
    },
    profileClick(e){
      if(this.username === this.myUsername){
        console.log("This is me");
        this.$navigateTo(MyProfile);
      }else{
        this.$navigateTo(User_Profile, {
          props: {
            profile_id: this.ownerId,
            pp_src: this.userPicture,
            username: this.username,
          }
        });
      }

    },
    sendComment(args){
      this.createNewComment();
      this.sending = true;
    },
    cleanForm(){
      this.commentFormData.content = "";
      this.commentFormData.parent = this.commentId;
      this.repliedUsername = this.username;
    },
    goToParentMessage(args){
      console.log("Go to message emitted: ", args.parentId);
      let itemIndex = 0;
      for(let i=0; i<this.replyList.length; i++){
        if(this.replyList.getItem(i).id === args.parentId){
          itemIndex = i;
          break;
        }
      }
      this.$refs.replies.scrollToIndex(itemIndex,true);

    },
    deleteComment(args){
      let response = this.deleteItem(args.commentId);
    },
    itemChangedAtIndex(i){
      if (isIOS) {
        let indexPaths = NSMutableArray.new();
        indexPaths.addObject(NSIndexPath.indexPathForRowInSection(i, event.groupIndex));
        this.$refs.replies.nativeView.ios.reloadItemsAtIndexPaths(indexPaths);
      }
      if (isAndroid) {
        this.$refs.replies.nativeView.androidListView.getAdapter().notifyItemChanged(i);
      }
    },
    async getComments(){
      console.log("Comments requested.");
      try {
        console.log(this.commentId);

        let response = await CommentsRepository.getAllRepliesOf(this.commentId);
        let comments = response.json;
        for(let i=0; i<comments.length; i++){
          let comment = comments[i];
          let imgSrc = comment.profil_photo ? comment.profil_photo.picture : this.$helpers.firstLetter(comment.user_fullname,comment.user_name);
          let type = comment.active? 'available': 'unavailable';
          let item={
            type:type,
            id:comment.id,
            username: comment.user_name,
            fullName: comment.user_fullname,
            imgSrc: imgSrc,
            date: comment.published_date_beautified["en-us"],
            content: comment.text,
            isLiked: comment.faved_by_me,
            likeCount:comment.fav_number,
            isCommented:false,
            commentCount:comment.count_of_child_comment,
            ownerId:comment.owner,
            parentUser:comment.parent_username,
            parentId:comment.parent,
            newsId:comment.news,
            animation:false,
          };
          this.replyList.push(item);
        }
        this.replyListFetched = true;

      } catch (e) {
        if (e.name === "ClientError") {
          console.log("There is a client error. Please wait for a while and try again.");
          this.$showError(this.L("There is a client error. Please wait for a while and try again."));
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured",e);
          return false;
        }
      }
    },
    async createNewComment(){
      if(this.commentFormData.content){
        try {
          console.log("Request will be sent...");
          let response = await CommentsRepository.createSingleReply(
              this.commentFormData.content,
              this.commentFormData.newsId,
              this.commentFormData.parent
          );
          if(response.json.id){
            let comment = response.json;
            console.log("Gönderim başarılı :)");
            this.cleanForm();
            let type = comment.active? 'available': 'unavailable';
            console.log(this.myUsername);
            console.log(this.myFullName);
            let item={
              type:type,
              id:comment.id,
              username: this.myUsername,
              fullName: this.myFullName,
              imgSrc: this.profilePicture,
              date: comment.published_date_beautified["en-us"],
              content: comment.text,
              isLiked: comment.faved_by_me,
              likeCount:comment.fav_number,
              isCommented:false,
              commentCount:comment.count_of_child_comment,
              ownerId:comment.owner,
              parentUser:comment.parent_username,
              parentId:comment.parent,
              newsId:comment.news,
              animation:false,
            };
            console.log("Item created.");
            // place new comment to bottom of its parent.
            for(let i=0;i<this.replyList.length;i++){
              if(this.replyList.getItem(i).id === this.commentFormData.parent){
                this.replyList.splice(i+1,0,item);
                console.log("Splice done");
                this.$refs.replies.refresh();
                this.$refs.replies.scrollToIndex(i,true);
                console.log("Refresh and scroll");
                break;
              }
            }
          }else{
            console.log("Gönderimim başarısız :(");
          }
          this.sending=false;
        }catch (e) {
          if (e.name === "ClientError") {
            console.log(e.message);
            this.$showError(this.L("There is a client error. Please wait for a while and try again."));
            return false;
          } else {
            this.$showError(this.L("There is an error. Please wait for a while and try again."));
            console.log("An error occured");
            return false;
          }
        }
      }else{
        console.log("comment data null..",this.commentFormData.content);
      }

    },
    async deleteItem(commentId){
      try {
        console.log("Request will be sent...");
        let response = await CommentsRepository.deleteComment(commentId);
        if(response.json.id){
          let comment = response.json;

          // change item type to 'unavailable'.
          for(let i=0;i<this.replyList.length;i++){
            let item = this.replyList.getItem(i);
            if(item.id === commentId){
              item.type = type;
              this.replyList.splice(i,1);
              this.itemChangedAtIndex(i);
              break;
            }
          }
          this.cleanForm();
        }else{
          console.log("Comment could not deleted.");
        }
        this.sending=false;
      }catch (e) {
        if (e.name === "ClientError") {
          console.log("There is a client error. Please wait for a while and try again.");
          this.$showError(this.L("There is a client error. Please wait for a while and try again."));
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured");
          return false;
        }
      }
    },
    showMore(args){
      /*
      let item;
      for(let i=0; i<this.replyList.length; i++){
        item = this.replyList.getItem(i);
        if(item.id === args.commentId){
          item.type = 'expanded';
          this.replyList.splice(i,1,item);
          this.itemChangedAtIndex(i);
          break;
        }
      }
      */
    },
    showLess(args){
      /*
      let item;
      for(let i=0; i<this.replyList.length; i++){

        item = this.replyList.getItem(i);
        if(item.id === args.commentId){
          item.type = 'available';
          this.replyList.splice(i,1,item);
          this.itemChangedAtIndex(i);
          break;
        }
      }

       */
    },
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../app-variables';
@import '../app-common';
@import '../comment';
// End custom common variables

// Custom styles
.action-bar{
  margin-top:-22;
}
.message-container{
  padding: 0 $xshort-padding $xshort-padding $xshort-padding;
  border-width: 1 0 0 0;
  border-radius:20;
  border-color: $seperator-color;
}
.profile-image{
  width:$comment-image-size;
  height:$comment-image-size;
  border-radius:$comment-image-size;
}
.action-icon{
  width:$comment-image-size;
  height:$comment-image-size;
  color:$accent-burgundy;
}
.new-comment-area{

  border-width: 0 0 0 0;
  font-family: $standard-font-family;
  font-size: $short-font-size;
}
.main{
  background-color: #f1f1f1;
}
.replied-user-wrapper{
  padding:$standard-padding;
  font-size: $short-font-size;
  border-width: 0 0 1 0;
  border-color: $seperator-color;
}
.replied-user{
  font-family: $quote-font;
}
</style>
