<template>
  <Page class="page">
    <ActionBar class="action-bar">
      <!--
      Use the NavigationButton as a side-drawer button in Android
      because ActionItems are shown on the right side of the ActionBar
      -->
      <NavigationButton ios:visibility="collapsed" icon="res://back" @tap="onBackButtonTap"></NavigationButton>
      <!--
      Use the ActionItem for IOS with position set to left. Using the
      NavigationButton as a side-drawer button in iOS is not possible,
      because its function is to always navigate back in the application.
      -->
      <ActionItem icon="res://back"
                  android:visibility="collapsed"
                  @tap="onBackButtonTap"
                  ios.position="left">
      </ActionItem>
      <Label class="action-bar-title" text="SAMPLE PAGE"></Label>
    </ActionBar>
    <ScrollView>
      <StackLayout >
        <Button class="btn btn-black" text="BTN-BLACK"></Button>
        <Button class="btn btn-black-outline" text="BTN-BLACK-OUTLINE"></Button>
        <Button class="btn btn-burgundy" text="BTN-BURGUNDY"></Button>
        <Button class="btn btn-burgundy-outline" text="BTN-BURGUNDY-OUTLINE"></Button>
        <Button class="btn btn-black btn-rounded" text="BTN-BLACK ROUND"></Button>
        <Button class="btn btn-black-outline btn-rounded" text="BTN-BLACK-OUTLINE ROUND"></Button>
        <Button class="btn btn-burgundy btn-rounded" text="BTN-BURGUNDY ROUND"></Button>
        <Button class="btn btn-burgundy-outline btn-rounded" text="BTN-BURGUNDY-OUTLINE ROUND"></Button>

        <StackLayout class="detail-element-container">
          <Label class="main-subtitle" :text="sampleSubtitle"></Label>
        </StackLayout>

        <!--Start of text-->
        <StackLayout class="detail-element-container">
          <Label class="detail-text-header" :text="sampleHeader"></Label>
        </StackLayout>
        <StackLayout class="detail-element-container">
          <Label class="detail-text-subheader" :text="sampleSubheader"></Label>
        </StackLayout>
        <StackLayout class="detail-element-container">
          <Label class="detail-text-standard" :text="sampleText"></Label>
        </StackLayout>
        <StackLayout class="detail-element-container">
          <Label class="detail-text-quote" :text="sampleQuoteBraced"></Label>
        </StackLayout>
        <StackLayout class="detail-element-container">
          <Label class="detail-text-standard" :text="sampleText"></Label>
        </StackLayout>
      </StackLayout>
    </ScrollView>

  </Page>

</template>

<script>
import SelectedPageService from "../shared/selected-page-service";
import {DrawerSetup} from "../mixins/drawerPageMixin";

export default {
  mixins: [DrawerSetup],
  mounted() {
    SelectedPageService.getInstance().updateSelectedPage("Profile");
  },
  data () {
    return {
      sampleSubtitle: "AJANS HABERLERİ",
      sampleHeader: "Lorem ipsum dolor sit amet",
      sampleSubheader: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. " +
          "Sed condimentum efficitur tellus, id ullamcorper velit dignissim vel. " +
          "Suspendisse quis magna et urna auctor dictum. Etiam et mauris odio.",
      sampleText: "Suspendisse molestie bibendum risus ac tincidunt. " +
          "Cras at fringilla dui, feugiat convallis enim. Cras neque felis, egestas ac augue nec, euismod volutpat enim. " +
          "Vestibulum scelerisque nisi eget viverra euismod. Suspendisse laoreet, erat et euismod imperdiet, " +
          "enim ligula convallis nisl, id fermentum odio enim nec est. " +
          "Vivamus vel tortor consequat, tristique est sit amet, facilisis ex. " +
          "Nunc in purus nec massa ultrices vestibulum quis ac risus. " +
          "Morbi iaculis, tellus id eleifend luctus, ante enim cursus nisi, non lobortis tortor elit vel elit. " +
          "Duis ut neque ut sapien fringilla iaculis. Integer hendrerit volutpat elementum. " +
          "Cras justo felis, sollicitudin id elit eget, auctor luctus massa. " +
          "Aenean blandit ipsum ex, in accumsan arcu suscipit id.\n" +
          "\n" +
          "Nullam in sollicitudin ipsum, interdum tempor orci. Aenean at mi finibus, tincidunt libero eget, pulvinar leo. " +
          "Vestibulum orci mi, sodales cursus sem nec, posuere placerat arcu. Vestibulum sem augue, auctor id turpis sit amet, " +
          "faucibus aliquam ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. " +
          "In hac habitasse platea dictumst. Donec non nisi tincidunt, convallis nunc et, consectetur quam. " +
          "Mauris ultricies metus et dui congue, sit amet efficitur mi imperdiet. " +
          "Donec massa nisl, tincidunt et felis hendrerit, faucibus imperdiet nisl. " +
          "Donec pretium ante non rhoncus egestas. Vivamus at lorem eget lorem efficitur faucibus. " +
          "Maecenas maximus est tortor, sit amet tristique risus accumsan sed.",
      sampleQuote:"Suspendisse at mauris fermentum, facilisis enim in, semper velit. Nunc et mauris malesuada, imperdiet nulla eu, lobortis augue."
    }
  },
  computed:{
    sampleQuoteBraced(){
      return "\"" + this.sampleQuote + "\"";
    }
  },

  methods: {
    onBackButtonTap() {
      this.$navigateBack();
    }
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../app-variables';
@import '../app-common';
// End custom common variables

// Custom styles



.btn-black{

}

</style>
