<template>
    <Page>
        <ModalStack dismissEnabled="true" class="modal-container">
            <GridLayout height="80%" width="80%" backgroundColor="#ffffff">
                <Label>Deneme</Label>
            </GridLayout>
        </ModalStack>
    </Page>

</template>

<script>
    export default {
        name: "Deneme"
    }
</script>

<style scoped>

</style>