<template>
  <Page class="page" ref="page" actionBarHidden="true" @loaded="onPageLoaded">
    <GridLayout rows="auto,*" :paddingTop="statusBarHeight">
      <TabView row="1" class="tab-view"
               :selectedIndex="selectedIndex" @selectedIndexChange="indexChange">
        <TabViewItem title="Agency News">
          <RadListView row="1" ref="agencyList" :scrollBarIndicatorVisible="true" for=" item in agencyNewsItems "
                       pullToRefresh="true"
                       loadOnDemandMode="Auto" loadOnDemandBufferSize="4" @loadMoreDataRequested="onLoadMoreItemsRequested"
          >
            <v-template>
              <AgencyPost
                  :post-header="item.articleName"
                  :post-sub-text="item.articleSubText"
                  :post-picture="item.articlePicture.src"
                  :pretty-date="item.articlePrettyDate"
                  :user-name="item.user.displayName"
                  :user-picture="item.user.picture"
                  :is-liked="item.isLiked"
                  :category="item.category"
                  :height="item.calculatedHeight"
                  :news-url="item.newsUrl"
                  :news-id="item.newsId"
                  @delete-item="deleteItem"
              />
            </v-template>
          </RadListView>
        </TabViewItem>
        <TabViewItem title="Users">
          <RadListView row="1" ref="userList" :scrollBarIndicatorVisible="true" for=" item in userItems "
                       pullToRefresh="true"
                       loadOnDemandMode="Auto" loadOnDemandBufferSize="4" @loadMoreDataRequested="onLoadMoreItemsRequested"
          >
            <v-template if="item.type==='user'">
              <GridLayout columns="auto,*" rows="auto,auto" orientation="horizontal" class="item-container">
                <Image col="0" row="0" rowSpan="2" :src="item.imgSrc" class="item-image"></Image>
                <Label class="username" col="1" row="0" :text="item.username" textWrap="true"/>
                <Label class="fullName" col="1" row="1" :text="item.fullName" textWrap="true"/>
              </GridLayout>
            </v-template>
            <v-template if="item.type==='notFound'">
              <GridLayout columns="*" rows="auto" orientation="horizontal" class="item-container">
                <Label class="fullName" col="0" row="1" :text="item.text" textWrap="true"/>
              </GridLayout>
            </v-template>
          </RadListView>
        </TabViewItem>
        <TabViewItem title="Hashtags">
          <GridLayout></GridLayout>
        </TabViewItem>
        <TabViewItem title="Locations">
          <GridLayout></GridLayout>
        </TabViewItem>

      </TabView>
      <GridLayout row="0" columns="auto,*" class="search-action-bar">
        <Label col="0" @tap="onBackButtonTap" text.decode="&#xf104;" class="fa left-action-icon" verticalAlignment="center"></Label>
        <GridLayout col="1" class="search-bar-container">
          <SearchBar ref="searchBar" class="search-bar" hint="Type to search..."
                     :text="searchPhrase" @textChange="onSearchTextChanged" @submit="onSearchSubmit"/>
        </GridLayout>
      </GridLayout>






    </GridLayout>
  </Page>
</template>

<script>

import {ObservableArray} from "@nativescript/core/data/observable-array";
import { isAndroid, isIOS} from "@nativescript/core/platform";
import SearchRepository from "../repositories/search";
import User_Profile from "./UserProfile";
import * as application from "@nativescript/core/application";
import * as utils from "@nativescript/core/utils";
const platformModule = require("@nativescript/core/platform");

export default {
  name: "Search",
  created() {
    console.log("Search Page is created.");
  },
  data() {
    return {
      searchPhrase:"",
      agencyNewsItems: new ObservableArray([]),
      userItems: new ObservableArray([]),
      hashtagItems: new ObservableArray([]),
      locationItems: new ObservableArray([]),
      selectedIndex: 0,
      statusBarHeight: 0
    }
  },
  computed: {
  },
  methods:{
    onPageLoaded(args){
      setTimeout(()=>this.getStatusBarHeight(),100);
    },
    getStatusBarHeight() {
      let result = 0;

      if (isAndroid) {
        const resourceId = (application.android.foregroundActivity || application.android.startActivity).getResources().getIdentifier('status_bar_height', 'dimen', 'android');
        if (resourceId) {
          result = (application.android.foregroundActivity || application.android.startActivity).getResources().getDimensionPixelSize(resourceId);

          result = utils.layout.toDeviceIndependentPixels(result);
        }
      }

      this.statusBarHeight = result;
      return result;
    },
    onBackButtonTap() {
      this.$navigateBack();
    },
    onSearchTextChanged(args){
      let text = args.object.text;
      console.log(text);
      // show suggested list
      if(this.selectedIndex===1){
        this.searchUsers(text.trim());
      }
    },
    onSearchSubmit(args){
      let searchBar = args.object;
      switch (this.selectedIndex){
        case 0: {
          this.searchAgencyNews(searchBar.text.trim());
          break;
        }
        case 1: {
          this.searchUsers(searchBar.text.trim());
          break;
        }
        case 2: {
          console.log("Case 2");
          break;
        }
        case 3: {
          console.log("Case 3");
          break;
        }
      }

      // hide keyboard and clear focus.
      searchBar.dismissSoftInput();
      if(isAndroid){
        searchBar.android.clearFocus();
      }

    },
    indexChange(args){
      this.selectedIndex = args.value;
    },
    onLoadMoreItemsRequested(){
      console.log("I need more data");
    },
    async searchAgencyNews(term){
      try {
        let response = await SearchRepository.searchNews(term);
        let responseJson = response.json;
        let res = responseJson.results;

        this.agencyNewsItems.splice(0,this.agencyNewsItems.length);

        for(let i = 0; i<res.length; i++){
          let element = res[i];
          let maxPictureHeight;
          let minPictureHeight;
          // so make calculations in order to specify new height
          element.pictures = this.$helpers.calculatePictures(element.pictures);
          maxPictureHeight = this.$helpers.getMaxHeight(element.pictures);
          minPictureHeight = this.$helpers.getMinHeight(element.pictures);
          console.log(maxPictureHeight);
          console.log(element.pictures[0].picture);
          let item = {
            newsId: element.id,
            articleName: element.title?element.title.trim():null,
            articleSubText: element.headline,
            articleDate: "",
            articlePicture: {
              src: element.pictures[0].picture,
            },
            maxPictureHeight:maxPictureHeight,
            minPictureHeight:minPictureHeight,
            maxPictureWidth:element.pictures[0].width,
            calculatedHeight:maxPictureHeight,
            articlePrettyDate: element.published_date_beautified["en-us"],
            category: "Test",
            isLiked: element.faved,
            user: {
              picture: element.agency.agency_logo,
              displayName: element.agency.name
            },
            newsUrl:element.url
          };
          this.agencyNewsItems.push(item);
        }
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block",e.message);
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
      }
    },
    async searchUsers(term){
      try {
        let response = await SearchRepository.searchUsers(term);
        let responseJson = response.json;
        let res = responseJson.results;
        console.log(res);
        this.userItems.splice(0,this.userItems.length);

        for(let i = 0; i<res.length; i++){
          let element = res[i];
          let img = this.$helpers.firstLetter(element.first_name,element.username);
          let item = {
            type: "user",
            username : element.username,
            fullName : element.first_name+" "+ element.last_name,
            imgSrc : img,
          }
          this.userItems.push(item);
        }
        if(res.length===0){
          let item = {
            type: "notFound",
            text: "User not found",
          }
          this.userItems.push(item);
        }
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
      }
    },
    deleteItem(value){
      let itemIndex = -1;
      for(let i = 0; i<this.agencyNewsItems.length; i++){
        if(this.agencyNewsItems.getItem(i).newsId === value){
          itemIndex = i;
          this.agencyNewsItems.splice(itemIndex,1);
          this.agencyNewsItems._notifyLengthChange();
          break;
        }
      }
      if(itemIndex === -1){
        this.$showError(this.L("There is an error. Please wait for a while and try again."));
      }
    },
  }
}
</script>

<style scoped lang="scss">
@import '../app';
@import '../app-common';
@import '../app-variables';

$user-item-image-size:40;
.search-action-bar{
  z-index:1;
}
.left-action-icon{
  padding:0 2*$big-padding 0 2*$big-padding;
  font-size: 28;
}
.search-bar-container{
  margin:$short-margin $short-margin 0 0;
  padding: 2 $xshort-padding 2 $xshort-padding;
  border-width: 1 1 1 1;
  border-radius: 10;
  border-color: #000;
}
.search-bar{
  border-width: 1;
  border-color: $seperator-color;
  border-radius: 10;
}
.item-container{
  padding:$xshort-padding $big-padding $xshort-padding $big-padding;
  border-width: 0 0 1 0;
  border-color: $seperator-color;
  .item-image{
    width:$user-item-image-size;
    height:$user-item-image-size;
    border-radius: $user-item-image-size;
    margin-right: $standart-margin;
  }
  .username{
    font-family: $standard-font-family;
    font-size: $short-font-size;
    vertical-align: center;
  }
  .premium-badge{
    color: darkorange;
    width:$short-font-size;
    height:$short-font-size;
    vertical-align: center;
    margin-left:$xshort-margin;
  }
  .fullName{
    font-family: $standard-font-family;
    font-size: $short-font-size;
    vertical-align: top;
    color:$secondary;
    padding-top: 0 - $short-font-size/5;
  }

}

Tabview{
  tab-text-color:$secondary;
  selected-tab-text-color:$primary;
  android-selected-tab-highlight-color:$primary;
  tab-background-color:#fff;

  z-index:0;
  margin-top:-4;
  padding-top:10;
  font-size:$short-font-size;
}
</style>
