<template>
  <Page class="page">
    <ActionBar class="action-bar">
      <!--
      Use the NavigationButton as a side-drawer button in Android
      because ActionItems are shown on the right side of the ActionBar
      -->
      <NavigationButton ios:visibility="collapsed" icon="res://back" @tap="onBackButtonTap"></NavigationButton>
      <!--
      Use the ActionItem for IOS with position set to left. Using the
      NavigationButton as a side-drawer button in iOS is not possible,
      because its function is to always navigate back in the application.
      -->
      <ActionItem icon="res://back"
                  android:visibility="collapsed"
                  @tap="onBackButtonTap"
                  ios.position="left">
      </ActionItem>
      <Label class="action-bar-title" :text="username"></Label>
    </ActionBar>
    <TabView :selectedIndex="selectedIndex" @selectedIndexChange="indexChange">
      <TabViewItem title="Subscribed">
        <GridLayout rows="*">
          <ActivityIndicator v-if="!isListsFetched" color="black" row="0" busy="true" />
          <RadListView v-else row="0" ref="subscribedList" for=" item in subscribedList " pullToRefresh="true"
                       @pullToRefreshInitiated="onPullToRefresh"
                       loadOnDemandMode="Auto" loadOnDemandBufferSize="4" @loadMoreDataRequested="onLoadMoreItemsRequested"
                       @itemTap="onItemTap"
          >
            <v-template>
              <GridLayout columns="auto,*,auto" rows="auto,auto" orientation="horizontal" class="item-container">
                <Image col="0" row="0" rowSpan="2" :src="item.imgSrc" class="item-image"></Image>

                <Label class="username" col="1" row="0" :text="item.username" textWrap="true"/>
                <Label class="fullName" col="1" row="1" :text="item.fullName" textWrap="true"/>
                <Button v-if="myUsername === username" :id="item.id" col="2" row="0" rowSpan="2" text="Cancel" class="btn-small btn-black-outline cancel-button" @tap="onCancelTap" ></Button>
              </GridLayout>
            </v-template>
          </RadListView>
        </GridLayout>
      </TabViewItem>
      <TabViewItem title="Subscribers">
        <GridLayout rows="*">
          <ActivityIndicator v-if="!isListsFetched" color="black" row="0" busy="true" />
          <RadListView v-else row="0" ref="subscriberList" for=" item in subscriberList " pullToRefresh="true"
                       @pullToRefreshInitiated="onPullToRefresh"
                       loadOnDemandMode="Auto" loadOnDemandBufferSize="4" @loadMoreDataRequested="onLoadMoreItemsRequested"
                       @itemTap="onItemTap"
                       itemDeleteAnimation="Scale"
          >
            <v-template>
              <GridLayout columns="auto,*,auto" rows="auto,auto" orientation="horizontal" class="item-container">
                <Image col="0" row="0" rowSpan="2" :src="item.imgSrc" class="item-image"></Image>

                <WrapLayout col="1" row="0" >
                  <Label class="username" :text="item.username" textWrap="true"/>
                  <Image v-if="item.isPremium" src.decode="font://&#xf005;" class="fa premium-badge"></Image>
                </WrapLayout>
                <Label class="fullName" col="1" row="1" :text="item.fullName" textWrap="true"/>
                <Button v-if="myUsername === username && !item.isBlocked" :id="item.id" col="2" row="0" rowSpan="2" text="Block" class="btn-small btn-black-outline cancel-button" @tap="onBlockTap" ></Button>
                <Button v-if="myUsername === username && item.isBlocked" :id="item.id" col="2" row="0" rowSpan="2" text="Unblock" class="btn-small btn-burgundy-outline cancel-button" @tap="onUnblockTap" ></Button>
              </GridLayout>
            </v-template>
          </RadListView>
        </GridLayout>
      </TabViewItem>
    </TabView>

  </Page>

</template>

<script>
import SelectedPageService from "../shared/selected-page-service";
import {DrawerSetup} from "../mixins/drawerPageMixin";
import SubscriptionRepository from "../repositories/subscription";
import {ObservableArray} from "@nativescript/core/data/observable-array";
import User_Profile from "./UserProfile";
import ProfileRepository from "../repositories/profile";
import { isAndroid, isIOS} from "@nativescript/core/platform";
import {Dialogs} from "@nativescript/core";

export default {
  mixins: [DrawerSetup],
  mounted() {
    SelectedPageService.getInstance().updateSelectedPage("Profile");
  },
  created() {
    setTimeout(()=>{
      this.getSubscribedList();
    }, 300);
    setTimeout(()=>{
      this.getSubscriberList();
    }, 300);
  },
  props:[
    'tabviewIndex', // 0: subscribedList,    1: subscribersList
    'username'
  ],
  data () {
    return {
      subscribedList: new ObservableArray([]),
      subscriberList: new ObservableArray([]),
      subscribedListFetched:false,
      subscriberListFetched:false,
      selectedIndex: this.tabviewIndex,
      limit:0,
      offset:0,
      counter: 0,
    }
  },
  computed:{
    getSelectedIndex(){
      return this.selectedIndex
    },
    globalProfile(){
      return this.$store.getters.getProfile;
    },
    globalProfileFetched(){
      return this.$store.getters.getProfileFetchState;
    },
    cacheProfileState(){
      return this.$store.getters.getCacheProfileState;
    },
    myUsername(){
      if(this.cacheProfileState) {
        return (this.globalProfile.username ? this.globalProfile.username : '');
      }
      return '';
    },
    isListsFetched(){
      if(this.tabviewIndex === 0 && this.subscribedListFetched){
        return true;
      }
      if(this.tabviewIndex === 1 && this.subscriberListFetched){
        return true;
      }

      return false;
    }
  },
  methods: {
    onBackButtonTap() {
      this.$navigateBack();
    },
    indexChange: function(args) {
      this.selectedIndex = args.value;
    },
    onItemTap({item}){
      console.log(item);
      this.$navigateTo(User_Profile, {
        props: {
          profile_id: item.id,
          pp_src: item.imgSrc,
          text: item.fullName,
          username: item.username,
        }

      });
    },
    onPullToRefresh({object}) {
      console.log("Pull to refresh");
      object.notifyPullToRefreshFinished();
    },
    onLoadMoreItemsRequested({object}){
      /*
      this.$nextTick(() => {
        this.getAgencyNews(this.limit, this.offset);
        object.notifyAppendItemsOnDemandFinished(true);

      });
       */
      object.notifyAppendItemsOnDemandFinished(true);
    },
    async onCancelTap(args){
      console.log("Cancel subscription",args.object.id);
      let user;
      let index = -1;
      for(let i=0; i<this.subscribedList.length; i++){
        if(args.object.id===this.subscribedList.getItem(i).id){
          user = this.subscribedList.getItem(i);
          index = i;
          break;
        }
      }
      if(index>=0 && user){
        if(user.hasSubscriptionPlan){
          console.log("Has subscription");
        }else{
          console.log("Just following. Unfollow!");
          let result = await this.unfollow(user.id);
          if(result){
            console.log("Subscription canceled succesfully");
            this.subscribedList.splice(index,1);
            this.refreshSidebarList();
          }
        }
      }
      else{
        console.log("An error occured. Please try again later");
      }
    },
    async onBlockTap(args){
      console.log("Block subscriber",args.object.id);
      let user;
      let index = -1;
      for(let i=0; i<this.subscriberList.length; i++){
        if(args.object.id===this.subscriberList.getItem(i).id){
          user = this.subscriberList.getItem(i);
          index = i;
          break;
        }
      }
      if(index>=0 && user) {
        let response = await Dialogs.confirm({
          title: "Block '" + user.username + "' ?",
          message: "We believe that everyone should see your news. " +
              "However, you can prevent the user from commenting on your news.",
          okButtonText: "Block",
          cancelButtonText: "Cancel"
        });
        if (response) {
          console.log("Ok block user");
          let result = await this.blockUser(user.id);
          if (result) {
            console.log("User blocked successfully");
            user.isBlocked = true;
            this.subscriberList.setItem(index,user);
          } else {
            console.log("Opps! Blocking user is failed. Please try again.");
          }
        } else {
          console.log("Nevermind");
        }
      }else{
        console.log("An error occured. Please try again later.");
      }
    },
    async onUnblockTap(args){
      console.log("Block subscriber",args.object.id);
      let user;
      let index = -1;
      for(let i=0; i<this.subscriberList.length; i++){
        if(args.object.id===this.subscriberList.getItem(i).id){
          user = this.subscriberList.getItem(i);
          index = i;
          break;
        }
      }
      if(index>=0 && user){
        let response = await Dialogs.confirm({
          title: "Unblock '"+user.username+"' ?",
          message: "Do you want to allow " + user.username+"'s commenting on your news?",
          okButtonText: "Unblock",
          cancelButtonText: "Cancel"
        });
        if (response) {
          console.log("Ok unblock user");
          let result = await this.unblockUser(user.id);
          if(result){
            console.log("User unblocked successfully");
            user.isBlocked = false;
            this.subscriberList.setItem(index,user);
          }else{
            console.log("Opps! Unblocking user is failed. Please try again.");
          }
        }else{
          console.log("Nevermind");
        }
      }else{
        console.log("An error occured. Please try again later.");
      }

    },
    async getSubscribedList(){
      try {
        let response = await SubscriptionRepository.getSubscribedListOfAnyone(this.username);
        let res = response.json;
        for(let i = 0; i<res.length; i++){
          let element = res[i];
          let image = element.following.profile_photo ? element.following.profile_photo.picture_raw : this.$helpers.firstLetter(element.following_full_name,element.following.username);
          let hasSubsPlan = element.subscription_plan ? true : false;
          console.log("User Id:",element.following.id);
          this.subscribedList.push(
              {
                id: element.following.id,
                fullName: element.following_full_name,
                imgSrc: image,
                username:element.following.username,
                hasSubscriptionPlan: hasSubsPlan,
              }
          )
        }
        this.subscribedListFetched = true;
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
      }
    },
    async getSubscriberList(){
      try {
        console.log(this.username);
        let response = await SubscriptionRepository.getSubscriberListOfAnyone(this.username);
        let res = response.json;
        for(let i = 0; i<res.length; i++){
          let element = res[i];
          let image = element.follower.profile_photo ? element.follower.profile_photo.picture_raw : this.$helpers.firstLetter(element.following_full_name,element.following.username);
          this.subscriberList.push(
              {
                id: element.follower.id,
                fullName: element.follower_full_name,
                imgSrc: image,
                username:element.follower.username,
                isBlocked:element.follower_is_blocked,
              }
          )
        }
        this.subscriberListFetched = true;
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
      }
    },
    async unfollow(userID){
      try {
        let response = await SubscriptionRepository.unfollow(userID);
        let res = response.json;
        if(res){
          if(res.following === userID){
            return true;
          }else{
            return false;
          }
        }
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
          return false;
        }
      }
    },
    async unsubscribe(userID){
      try {
        let response = await SubscriptionRepository.unfollow(userID);
        let res = response.json;
        for(let i = 0; i<res.length; i++){
          let element = res[i];
          let image = element.follower.profile_photo ? element.follower.profile_photo.picture_raw : ''
          this.subscriberList.push(
              {
                id: element.follower.id,
                fullName: element.follower_full_name,
                imgSrc: image,
                username:element.follower.username,
                firstLetter:element.follower_full_name.charAt(0),
              }
          )
        }
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
      }
    },
    async blockUser(userID){
      try {
        let response = await SubscriptionRepository.blockUser(userID);
        let res = response.json;
        if(res){
          return true;
        }else{
          return false;
        }
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
          return false;
        }
      }
    },
    async unblockUser(userID){
      try {
        let response = await SubscriptionRepository.unblockUser(userID);
        let res = response.json;
        if(res){
          return true;
        }else{
          return false;
        }
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
          return false;
        }
      }
    },
    refreshSidebarList(){
      this.$store.commit("setRefreshFollowingList",!this.$store.getters.getRefreshFollowingList);
    },
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../app-variables';
@import '../app-common';
// End custom common variables

// Custom styles
$following-item-image-width:50;
$following-item-image-height:50;
$following-item-image-radius:50;
.item-container{
  padding:$xshort-padding $big-padding $xshort-padding $big-padding;

  .username{
    font-family: $standard-font-family;
    font-size: $short-font-size;
    vertical-align: center;
  }
  .premium-badge{
    color: darkorange;
    width:$short-font-size;
    height:$short-font-size;
    vertical-align: center;
    margin-left:$xshort-margin;
  }
  .fullName{
    font-family: $standard-font-family;
    font-size: $short-font-size;
    vertical-align: top;
    color:$secondary;
    padding-top: 0 - $short-font-size/5;
  }

}
.item-image{
  width:$following-item-image-width;
  height:$following-item-image-height;
  border-radius: $following-item-image-radius;
  margin-right: $standart-margin;
}
.cancel-button{
  width:120;
  height:30;
  border-width: 1;
}


</style>
