<template>
  <Page @backbuttonpressed="onBackButtonPressed" @loaded="pageLoaded" class="page">
    <ActionBar class="action-bar">
      <!--
      Use the NavigationButton as a side-drawer button in Android
      because ActionItems are shown on the right side of the ActionBar
      -->
      <NavigationButton ios:visibility="collapsed" icon="res://back" @tap="onBackButtonPressed"></NavigationButton>
      <!--
      Use the ActionItem for IOS with position set to left. Using the
      NavigationButton as a side-drawer button in iOS is not possible,
      because its function is to always navigate back in the application.
      -->
      <ActionItem icon="res://navigation/menu"
                  android:visibility="collapsed"
                  ios.position="left">
      </ActionItem>
      <Label class="action-bar-title" text="PROFİLİ DÜZENLE"></Label>
      <ActionItem @tap="save" icon="res://tick" position="right">
      </ActionItem>
    </ActionBar>

    <StackLayout>
      <ScrollView>
        <GridLayout>
          <GridLayout class="profile-edit-container" rows="200, *" row="0" width="100%">

            <GridLayout row="0">
              <ImageCacheIt width="150" height="150" :src="profilePictureCandidate||profilePicture" id="profile-photo"/>
              <GridLayout @tap="onImageTap" width="150" height="150" id="profile-photo-overlay">
                <Label id="profile-photo-overlay-icon" class="fa" text.decode="&#xf030;"/>
              </GridLayout>
            </GridLayout>
              <GridLayout row="1" rows="auto, auto, auto" id="profile-information-container" class="information-container">
                <GridLayout row="0" rows="auto">
                  <MDTextField
                      :text="formData.firstName"
                      :error="formErrors.firstName"
                      @textChange="(e)=>{setFormData('firstName', e.value); clearFieldErrors();}"
                      @returnPress="unfocusFields"
                      :class="activeEditableField==='firstName'?'active':''"
                      @focus="editableOnFocus('firstName')"
                      @blur="editableOnBlur"
                      class="material-editable-field m-b-20"
                      hint="Ad"
                      returnKeyType="done"
                      variant="outline"
                  />
                </GridLayout>
                <GridLayout row="1" rows="auto">
                  <MDTextField
                      :text="formData.lastName"
                      :error="formErrors.lastName"
                      @textChange="(e)=>{setFormData('lastName', e.value);clearFieldErrors();}"
                      @returnPress="unfocusFields"
                      :class="activeEditableField==='lastName'?'active':''"
                      @focus="editableOnFocus('lastName')"
                      @blur="editableOnBlur"
                      class="material-editable-field m-b-20"
                      hint="Soyad"
                      returnKeyType="done"
                      variant="outline"
                  />
                </GridLayout>
                <GridLayout row="2" rows="auto">
                  <MDTextView
                      :text="formData.bio"
                      :error="formErrors.bio"
                      @textChange="(e)=>{setFormData('bio', e.value);clearFieldErrors();}"
                      @returnPress="unfocusFields"
                      :class="activeEditableField==='bio'?'active':''"
                      @focus="editableOnFocus('bio')"
                      @blur="editableOnBlur"
                      class="material-editable-field m-b-20"
                      hint="Bio"
                      returnKeyType="done"
                      variant="outline"
                  >

                  </MDTextView>
                </GridLayout>
              </GridLayout>
          </GridLayout>

          <GridLayout rows="*,100,*" backgroundColor="rgba(0,0,0,0.05)" v-show="loading" @touch="()=>{}" row="0">
            <!--This element locks user input while in loading state-->
            <ActivityIndicator :busy="true"></ActivityIndicator>
          </GridLayout>
        </GridLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
import SelectedPageService from "../shared/selected-page-service";
import InternationalComponent from '../mixins/internationalComponent'
import {Frame} from "@nativescript/core/ui/frame";
import {DrawerSetup} from "../mixins/drawerPageMixin";
import {isAndroid} from "@nativescript/core/platform";
import {ImageSource} from "@nativescript/core";
import {Dialogs} from "@nativescript/core";
import CameraImageSelectionContext from "./contextMenuComponents/CameraImageSelectionContext";
import {request as requestPermission, check as checkPermission} from '@nativescript-community/perms';
import * as fs from "@nativescript/core/file-system";
import AccountRepository from "../repositories/accountRepository";

export default {
  mixins: [InternationalComponent, DrawerSetup],
  async mounted() {
    SelectedPageService.getInstance().updateSelectedPage("UpdateProfile");
    this.setInitialFormData();
  },
  data() {
    return {
      selectedIndex: 0,
      activeEditableField: "",
      loading: false,
      formChanged: false,
      profilePictureCandidate: null,
      formData: {
        firstName: "",
        lastName: "",
        bio: ""
      },
      formDataInitial: {
        firstName: "",
        lastName: "",
        bio: ""
      },
      formErrors: {
        firstName: "",
        lastName: "",
        bio: ""
      }
    }
  },
  methods: {
    async onBackButtonPressed(e) {
      if (this.baseInformationChanged || this.profilePictureCandidate) {
        let response = await Dialogs.confirm({
          title: "Profil",
          message: "Bazı değişiklikleriniz kaybolacak, yine de devam edilsin mi?",
          okButtonText: "Devam Et",
          cancelButtonText: "İptal"
        });
        if (response) {
          this.$navigateBack();
        }
      } else {
        this.$navigateBack();
      }
    },
    setFormData(fieldName, value) {
      this.$set(this.formData, fieldName, value);
      this.formChanged = true;
    },
    async chooseFromGallery() {
      if (isAndroid) {
        /// Get permissions
        let response;
        try {
          response = await this.$imagePicker.authorize();
        } catch (e) {
          if (e.hasOwnProperty("android.permission.READ_EXTERNAL_STORAGE") &&
              e["android.permission.READ_EXTERNAL_STORAGE"] === false) {
            await Dialogs.alert({
              title: "Oops!",
              message: "You should give permission to select image from your gallery.",
              okButtonText: "Ok"
            });
          }
          return null;
        }

        // select from gallery
        let imageResult;
        if (response["android.permission.READ_EXTERNAL_STORAGE"] === true) {
          imageResult = await this.$imagePicker.present();
        } else {
          return null;
        }

        // Convert image asset

        try {
          if (imageResult.length === 1) {
            return await ImageSource.fromAsset(imageResult[0]);
          } else {
            return null;
          }
        } catch (e) {
          console.error(e);
          await Dialogs.alert({
            title: "Oops!",
            message: "There is an error while loading picture.",
            okButtonText: "Ok"
          });
          return null;
        }
      }
    },
    async takePicture() {
      if (isAndroid) {
        let response;
        // Get permissions
        try {
          response = await this.$camera.requestCameraPermissions();
        } catch (e) {
          console.error(e);
          if (e.hasOwnProperty("android.permission.CAMERA") &&
              e["android.permission.CAMERA"] === false) {
            await Dialogs.alert({
              title: "Oops!",
              message: "You should give permission to take picture.",
              okButtonText: "Ok"
            });
          }
          return null;
        }
        if (response["android.permission.CAMERA"]) {
          let imageAsset;
          // Take picture
          try {
            imageAsset = await this.$camera.takePicture({
              width: 512,
              height: 512,
              saveToGallery: false,
              keepAspectRatio: true
            });
          } catch (e) {
            console.error(e);
            if (String(e) === 'cancelled') {
              await Dialogs.alert({
                title: "Oops!",
                message: "There is an error while taking picture.",
                okButtonText: "Ok"
              });
            }
            return null;
          }
          // Convert image asset

          try {
            return await ImageSource.fromAsset(imageAsset);
          } catch (e) {
            console.error(e);
            await Dialogs.alert({
              title: "Oops!",
              message: "There is an error while loading picture.",
              okButtonText: "Ok"
            });
            return null;
          }
        }


      }

    },
    async cropImage(imageAsset) {
      const cropper = new this.$imageCropper.ImageCropper();
      // Wait for a while in IOS
      await new Promise((resolve, reject) => {
        setTimeout(() => resolve(), isAndroid ? 0 : 1000)
      });
      return await cropper.show(imageAsset, {
        width: 512,
        height: 512,
        lockSquare: true,
        circularCrop: true
      }, {
        toolbarTitle: "Resmi Düzenle",
        toolbarTextColor: "white",
        toolbarColor: "black",
        rootViewBackgroundColor: "black",
        hideBottomControls: true,
        setAspectRatioOptions: {
          defaultIndex: 0,
          aspectRatios: [
            {
              aspectRatioTitle: '1:1',
              aspectRatioX: 1,
              aspectRatioY: 1
            }
          ]
        }
      });
    },
    pageLoaded(args) {
      let page = args.object;
      page.android.setFitsSystemWindows(true);
    },
    async requestReadWritePermissions() {
      if (isAndroid) {
        let permissionResult = await requestPermission('storage');
        if (permissionResult["android.permission.WRITE_EXTERNAL_STORAGE"] === "authorized" &&
            permissionResult["android.permission.READ_EXTERNAL_STORAGE"] === "authorized") {
          return true;
        } else {
          await Dialogs.alert({
            title: "Oops!",
            message: "You should give storage permissions to change profile picture.",
            okButtonText: "Ok"
          });
          return false;
        }
      }
      return false;
    },
    async uploadProfilePictureAndroid(pictureObject) {
      let folder = fs.knownFolders.documents();
      let filename =
          "profile-image-" + new Date().getTime() + ".jpg";
      let path = fs.path.join(
          folder.path,
          filename
      );
      if (pictureObject.saveToFile(path, "jpeg")) {
        this.profilePictureCandidate = path;
        /**/
      } else {
        this.$showError("Resim kaydedilirken hata oluştu.");
      }

    },
    async onImageTap() {
      let bottomSheetResult = await this.$showBottomSheet(CameraImageSelectionContext, {
        transparent: true
      });
      if (bottomSheetResult === "gallery") {
        if (await this.requestReadWritePermissions()) {
          let resultImage = await this.chooseFromGallery();
          if (resultImage) {
            let croppedImage = await this.cropImage(resultImage);
            if (croppedImage.image.hasOwnProperty("android")) {
              await this.uploadProfilePictureAndroid(croppedImage.image);
            }
          }
        }
      } else if (bottomSheetResult === "camera") {
        if (await this.requestReadWritePermissions()) {
          let resultImage = await this.takePicture();
          if (resultImage) {
            let croppedImage = await this.cropImage(resultImage);
            if (croppedImage.image.hasOwnProperty("android")) {
              await this.uploadProfilePictureAndroid(croppedImage.image);
            }
          }
        }
      }
    },
    setInitialFormData() {
      if (this.globalProfileFetched) {
        this.formData.firstName = this.globalProfile.first_name;
        this.formData.lastName = this.globalProfile.last_name;
        this.formData.bio = this.globalProfile.profile.bio;
        this.formDataInitial.firstName = this.globalProfile.first_name;
        this.formDataInitial.lastName = this.globalProfile.last_name;
        this.formDataInitial.bio = this.globalProfile.profile.bio;
        this.formErrors.firstName = "";
        this.formErrors.lastName = "";
        this.formErrors.bio = "";
      }
    },
    async save() {
      if (!this.loading) {
        this.loading = true;
        // Profile picture update
        if (this.profilePictureCandidate) {
          AccountRepository.uploadProfilePicture(this.profilePictureCandidate, (data) => {
            setTimeout(() => {
                  this.$store.dispatch("fetchProfilePicture")
                }
                , 1500);
          },);

        }

        // Form update
        try {
          if (!this.baseInformationChanged) {
            this.$navigateBack();
          } else {
            const response = await AccountRepository.updateProfileData(this.formData.bio, this.formData.firstName, this.formData.lastName)
            this.$store.commit("setProfile", response.json);
            this.$navigateBack();
          }
        } catch (e) {
          let response = e.response;
          if (e.name === "ClientError") {
            if (response.statusCode !== 400 && response.json.detail) {
              this.$showError(this.L(response.json.detail));
            } else if (response.statusCode === 400) {
              if ("first_name" in response.json) {
                this.formErrors.firstName = response.json.first_name.join("\n");
              }
              if ("last_name" in response.json) {
                this.formErrors.lastName = response.json.last_name.join("\n");
              }
              if ("bio" in response.json) {
                this.formErrors.bio = response.json.bio.join("\n");
              }
            } else {
              this.$showError(this.L("There is an error. Please wait for a while and try again."));
            }
          } else {
            this.$showError(this.L("There is an error. Please wait for a while and try again."));
          }
        } finally {
          this.loading = false;
        }

      }
      /*if(this.formErrors.firstName.length>0 ||
          this.formErrors.lastName.length>0 ||
          this.formErrors.bio.length>0){
        this.$showError("Profil bilgileriniz kaydedilmedi. Hataları düzeltmeniz gerekiyor.")
      }
      else if(this.formChanged){
        try{

        }
        catch(e){
          this.$showError("Profil bilgileriniz kaydedilirken bir hata oluştu.");
        }

      }*/
    },
    onBackButtonTap() {
      this.$navigateBack();
    },
    editableOnFocus(editableKey) {
      this.$nextTick(() => {
        this.activeEditableField = editableKey;
      });
    },
    editableOnBlur(fieldName) {
      this.activeEditableField = "";
    },
    clearFieldErrors() {
      this.formErrors.firstName = "";
      this.formErrors.lastName = "";
      this.formErrors.bio = "";
    },
    unfocusFields() {
      Frame.topmost().focus();
    }

  },
  computed: {
    baseInformationChanged() {
      return (this.formData.firstName !== this.formDataInitial.firstName) ||
          (this.formData.lastName !== this.formDataInitial.lastName) ||
          (this.formData.bio !== this.formDataInitial.bio)
    },
    globalProfile() {
      return this.$store.getters.getProfile;
    },
    globalProfileFetched() {
      return this.$store.getters.getProfileFetchState;
    },
    profilePicture() {
      if (this.globalProfileFetched &&
          this.globalProfile.profile &&
          this.globalProfile.profile.active_profile_picture &&
          (this.globalProfile.profile.active_profile_picture.picture ||
              this.globalProfile.profile.active_profile_picture.picture_raw)
      ) {
        if (this.globalProfile.profile.active_profile_picture.picture)
          return this.globalProfile.profile.active_profile_picture.picture;
        else {
          return this.globalProfile.profile.active_profile_picture.picture_raw;
        }
      } else
        return 'res://unknown';
    },
    bio() {
      if (this.globalProfileFetched) {
        return (this.globalProfile.profile.bio ? this.globalProfile.profile.bio : '');
      }
      return '';
    },
  },
  watch: {
    globalProfile(to) {
      if (to) {
        this.setInitialFormData();
      }
    }
  }
};


</script>

<style scoped lang="scss">
// Start custom common variables
@import '../app-variables';
@import '../app';
// End custom common variables

// Custom styles
.action-bar{
  margin-top:-22;
}
#profile-photo {
  vertical-align: middle;
  margin-top: $standart-margin;
  margin-left: $standart-margin;
  margin-right: $standart-margin;
  border-radius: 100%;
  border-width: 2;
  border-style: solid;
  border-color: $white;
  stretch: aspectFill;
}

#profile-photo-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  vertical-align: middle;
  margin-top: 10;
  margin-left: 8;
  margin-right: 8;
  border-radius: 100%;
  border-width: 2;
  border-style: solid;
  border-color: $background;

  #profile-photo-overlay-icon {
    horizontal-align: center;
    vertical-align: middle;
    color: $white;
    font-size: 2*$big-font-size;
  }
}

#profile-information-container {
  margin-top: $standart-margin;
  margin-right: $standart-margin;
}

.profile-edit-container {
  padding: 0 $standard-padding;
}

.button-container {
  margin-top: 2 * $standart-margin;
  margin-bottom: $standart-margin;
}

.login-editable-row {
  margin: $standart-margin;
  height: $editable-row-height;
  font-family: $standard-font-family;
}

.login-editable-icon {
  margin-top: $standart-margin;
  width: $editable-icon-size;
  height: $editable-icon-size;
}

.label-active {
  color: $accent-burgundy;
}

.save-indicator {
  vertical-align: middle;
  color: $accent-burgundy;
}

</style>
