<template>
  <Page class="page">
    <ActionBar class="action-bar">
      <!--
      Use the NavigationButton as a side-drawer button in Android
      because ActionItems are shown on the right side of the ActionBar
      -->
      <NavigationButton ios:visibility="collapsed" icon="res://back" @tap="onBackButtonTap"></NavigationButton>
      <!--
      Use the ActionItem for IOS with position set to left. Using the
      NavigationButton as a side-drawer button in iOS is not possible,
      because its function is to always navigate back in the application.
      -->
      <ActionItem icon="res://back"
                  android:visibility="collapsed"
                  @tap="onBackButtonTap"
                  ios.position="left">
      </ActionItem>
      <Label class="action-bar-title" :text="getUsername"></Label>
    </ActionBar>

    <GridLayout rows="*" v-if="profileLoaded">
      <GridLayout rows="7*, 3*" row="0" >
        <GridLayout :translateY="contentTabTranslateYComputed-profileContentHeight" ref="profileContainer" row="0" rows="auto, auto, auto, auto, *, auto, auto" class="profile-container" >
          <ImageCacheIt row="0" id = "profilePhoto" width="150" height="150" :src="profilePicture" />
          <Label row="1" id = "profileName" class="p-l-16 p-r-16" :text="fullName" />
          <Label row="2" id = "username" class="p-l-16 p-r-16" :text="getUsername" />
          <WrapLayout row="3" id="location_container">
            <Label id = "location_icon" text.decode="&#xf041;" class="fa" ></Label>
            <Label id = "location" text="Location" />
          </WrapLayout>
          <ScrollView row="4">

            <Label id = "bio" :text="bio" class="detail-text-quote" />
          </ScrollView>
          <StackLayout row="5" class="information-panel" orientation="horizontal">
            <StackLayout @tap="goToSubscribers(1)" class="information-panel-item" width="33%">
              <Label class="count-value" :text="subscribersCount" />
              <Label class = "count-label"  text="Subscribers" />
            </StackLayout>
            <StackLayout @tap="goToSubscribers(0)" class="information-panel-item" width="33%">
              <Label class="count-value" :text="subscriptionCount" />
              <Label class = "count-label"  text="Subscriptions" />
            </StackLayout>
            <StackLayout @tap="goToPosts" class="information-panel-item" width="33%">
              <Label class="count-value" :text="newsCount" />
              <Label class = "count-label"  text="Posts" />
            </StackLayout>
          </StackLayout>
          <StackLayout row="6" class="subscribe-button-container">
            <button v-if="isSubscribed" class="btn btn-black btn-rounded" @tap="cancelSubscription">
              <FormattedString>
                <Span text.decode="&#xf058;" class="fa"/>
                <Span text="  "></Span>
                <Span :text="unsubscribe"/>
              </FormattedString>
            </button>
            <button v-else class="btn btn-black-outline btn-rounded"
                    @tap="makeSubscription">
              <FormattedString>
                <Span text.decode="" class="fa"/>
                <Span text="  "></Span>
                <Span :text="subscribe"/>
              </FormattedString>
            </button>
          </StackLayout>
        </GridLayout>
      </GridLayout>
      <TabView :translateY="contentTabTranslateYComputed" @loaded="onTabviewLoaded($event)" row="0" ref="contentTab" minHeight="200" :selectedIndex="selectedIndex" @selectedIndexChange="indexChange">
        <TabViewItem title="YAZILAR">
          <AbsoluteLayout :translateY="-contentTabTranslateYComputed">
            <RadListView ref="postsListView" left="0" top="0" layout="linear"  @scrolled="onScrollLists($event, 0,'postsListView', 'commentsListView')"  for=" item in postItems ">
              <v-template name="margin-element" if="item.elementType === '_top_margin_'">
                <GridLayout :height="item.height">

                </GridLayout>
              </v-template>
              <v-template>
                <StackLayout class="post-container" orientation="vertical">
                  <Label text="You don't have any post yet!"></Label>
                  <Image src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_23-2148298503.jpg?size=626&ext=jpg"></Image>
                </StackLayout>
              </v-template>

            </RadListView>
          </AbsoluteLayout>
        </TabViewItem>
        <TabViewItem title="YORUMLAR">
          <AbsoluteLayout :translateY="-contentTabTranslateYComputed">
            <RadListView ref="commentsListView" left="0" top="0" layout="linear"  @scrolled="onScrollLists($event, 1,'commentsListView','postsListView')"  for=" item in commentItems">
              <v-template name="margin-element" if="item.elementType === '_top_margin_'">
                <GridLayout :height="item.height">

                </GridLayout>
              </v-template>
              <v-template>
                <StackLayout class="post-container" orientation="vertical">
                  <Label text="You don't have any post yet!"></Label>
                  <Image src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_23-2148298503.jpg?size=626&ext=jpg"></Image>
                </StackLayout>
              </v-template>

            </RadListView>
          </AbsoluteLayout>
        </TabViewItem>
      </TabView>
    </GridLayout>


    <GridLayout v-else rows="*">
      <GridLayout rows="auto,*" row="0" width="100%">
        <StackLayout row="0">
          <ImageCacheIt id="profilePhoto" width="150" height="150" class="skeleton"/>
          <GridLayout rows="30,10,30" columns="2*,6*,2*" marginTop="10">

            <Label row="0" col="1" class="btn-rounded skeleton"/>

            <Label row="2" col="1" class="btn-rounded skeleton"/>
          </GridLayout>

          <GridLayout class="information-panel " rows="50" columns="*,*,*,*,*,*,*" orientation="horizontal">
            <Label class="btn-rounded skeleton" col="1"/>
            <Label class="btn-rounded skeleton" col="3" />
            <Label col="5" class="btn btn-rounded skeleton"/>

          </GridLayout>
        </StackLayout>
        <GridLayout rows="50" row="1" columns="*" backgroundColor="lightgrey">
          <Label row="0" class="borderBottom"/>
        </GridLayout>
      </GridLayout>
    </GridLayout>

  </Page>
</template>

<script>
import * as utils from "~/shared/utils";
import SelectedPageService from "../shared/selected-page-service";
import Home from "./Home";
import {DrawerSetup} from "../mixins/drawerPageMixin";
import ProfileRepository from "../repositories/profile"
import SubscriptionRepository from "../repositories/subscription"
import {ObservableArray} from "@nativescript/core/data/observable-array";
import {ListViewItemSnapMode, ListViewScrollPosition} from "nativescript-ui-listview";
import SubscriptedUsers from "./SubscriptedUsers";
import {isAndroid} from "@nativescript/core/platform";
import ChooseSubscriptionPlan from "./contextMenuComponents/ChooseSubscriptionPlan";
import InternationalComponent from "../mixins/internationalComponent";

export default {
  mixins: [DrawerSetup,InternationalComponent],
  mounted() {
    SelectedPageService.getInstance().updateSelectedPage("profile");
  },
  created() {
    console.log("Created..");
    setTimeout(()=>{
      this.getProfileByUsername(this.username);
    }, 300);
  },
  computed: {
    contentTabTranslateYComputed(){
      let calculatedTranslateY = this.profileContentHeight - this.contentTopTranslateY;
      if(calculatedTranslateY<0){
        return 0;
      }
      else if(calculatedTranslateY>this.profileContentHeight){
        return this.profileContentHeight;
      }
      else{
        return calculatedTranslateY;
      }
    },

    message() {
      return "<!-- Page content goes here -->";
    },
    getUsername(){
      let username = '';
      username = '@' + (this.username);
      return username.trim();
    },
    fullName() {
      let _fullName = '';
      if (this.profileLoaded) {
        _fullName += this.profile.first_name ? this.profile.first_name : '';
        _fullName += ' ' + (this.profile.last_name ? this.profile.last_name : '');
      }
      return _fullName.trim();
    },
    bio(){
      if(this.profileLoaded) {
        return (this.profile.profile.bio?this.profile.profile.bio:'');
      }
      return '';
    },
    newsCount(){
      if(this.profileLoaded){
        return String(this.profile.profile.news_count);
      }
      return '';
    },
    subscribersCount(){
      if(this.profileLoaded){
        return String(this.profile.profile.subscribers_count);
      }
      return '';
    },
    subscriptionCount(){
      if(this.profileLoaded){
        return String(this.profile.profile.subscription_count);
      }
      return '';
    },
    profilePicture(){
      if(this.profileLoaded) {
        if(this.profile.profile.active_profile_picture){
          if(this.profile.profile.active_profile_picture.picture_raw){
            return this.profile.profile.active_profile_picture.picture_raw
          }else{
            return this.$helpers.firstLetter(this.fullName,this.username);
          }
        }else{
          return this.$helpers.firstLetter(this.fullName,this.username);
        }
      }
      else
        return "res://unknown";
    },
    isSubscribed(){
      if(this.profileLoaded){
        return this.profile.profile.am_subsribing || this.profile.profile.am_following;
      }else{
        return false;
      }
    },
    userID(){
      let id = -1;
      if (this.profileLoaded) {
        console.log(this.profile.id);
        id = this.profile.id ? this.profile.id : -1;
      }
      return id;
    },

  },
  props: [
    'profile_id',
    'pp_src',
    'username'
  ],
  data() {
    return {
      Home: Home,
      selectedPage: "",
      profileBadged: true,
      is_subscribed: false,
      subscribe: "Subscribe",
      unsubscribe: "Unsubscribe",
      selectedIndex: 0,
      profileLoaded: false,
      profile: {username: this.username},
      postItems: new ObservableArray([{elementType: "_top_margin_", height: 0}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}]),
      commentItems: new ObservableArray([{elementType: "_top_margin_", height: 0}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}]),
      stepIndex:0,
      contentTopTranslateY: 0,
      profileContentHeight: 0,
      scrollPosition: ListViewScrollPosition.Right
    }
  },
  methods: {
    onBackButtonTap() {
      this.$navigateBack();
    },
    async makeSubscription(e) {

      // if user has subscription plans show options in bottom context menu
      // else just follow the user
      if(this.profile.subscription_plans.length>0){
        for(let i=0; i<this.profile.subscription_plans.length; i++){
          this.profile.subscription_plans[i].price = "1,49$/Month";
          this.profile.subscription_plans[i].hint = "You can reach all news of this author with "+
              this.profile.subscription_plans[i].subscription_name;
          let id = 1;
          this.profile.subscription_plans[i].id = id.toString();
        }
        let bottomSheetResult = await this.$showBottomSheet(ChooseSubscriptionPlan, {
          transparent: true,
          props: {
            subscription_plans: this.profile.subscription_plans
          },
        });
        if (bottomSheetResult === "free") {
          console.log("Free subsc. choosen");
          let result = await this.follow(this.userID);
          if(result){
            this.refreshSidebarList();
          }
        }else{
          console.log("Paid susbc. choosen. Plan ID: ",bottomSheetResult);
        }
      }else{
        let result = await this.follow(this.userID);
        if(result){
          this.refreshSidebarList();
        }
      }



    },
    async cancelSubscription(e) {
      console.log("Subscription Cancelled");
      let result = await this.unfollow(this.profile.id);
      console.log(result);
      if(result){
        this.refreshSidebarList();
      }
    },
    indexChange: function(args) {
      this.selectedIndex = args.value;
    },
    async follow(userId){
      try {
        let response = await SubscriptionRepository.follow(userId);
        console.log(response.json);
        if(response.json.following){
          this.profile.profile.am_following = true;
          this.profile.profile.subscribers_count += 1;
          return true;
        }else{
          this.profile.profile.am_following = false;
          return false;
        }

      } catch (e) {
        this.profile.profile.am_following = false;
        if (e.name === "ClientError") {
          console.log("There is a client error. Please wait for a while and try again.");
          this.$showError(this.L("There is a client error. Please wait for a while and try again."));
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured");
          return false;
        }
      }
    },
    async unfollow(userId){
      try {
        let response = await SubscriptionRepository.unfollow(userId);
        console.log("Unfollow");
        if(response.json.following){
          console.log("Unfollow succesfull");
          this.profile.profile.am_following = false;
          this.profile.profile.subscribers_count -= 1;
          return true;
        }else{
          console.log("Unfollow failed")
          this.profile.profile.am_following = true;
          return false;
        }

      } catch (e) {
        this.profile.profile.am_following = true;
        if (e.name === "ClientError") {
          console.log("There is a client error. Please wait for a while and try again.");
          this.$showError(this.L("There is a client error. Please wait for a while and try again."));
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured");
        }
        return false;
      }
    },
    async getProfileByUsername() {
      try {
        let response = await ProfileRepository.getAnyUserByUsername(this.username);
        if(response.json.profile){
          this.profileLoaded = true;
          this.profile = response.json;
          this.$nextTick(this.calculateProfileHeight);
        }else{
          console.log("Profile is not found");

        }
      } catch (e) {
        this.profileLoaded = false;
        if (e.name === "ClientError") {
          if(e.message == "Not Found"){
            this.$showError(this.L("Sorry. User not found"));
          }
          console.log("An error occured in if block");
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
        this.onBackButtonTap();
      }
    },
    onTabviewLoaded(event){
      const tabView = event.object;
      setTimeout(() => {
        this.calculateProfileHeight();
      },1);

    },
    calculateProfileHeight(){
      try{
        this.profileContentHeight = this.$refs.profileContainer.nativeView.getActualSize().height;
        this.postItems.setItem(0, Object.assign(this.postItems.getItem(0), {height: this.profileContentHeight}))
        this.commentItems.setItem(0, Object.assign(this.commentItems.getItem(0), {height: this.profileContentHeight}))

      }
      catch(e){

      }
    },
    onScrollLists(e, currentTabIndex, currentRefName=null, otherRefName=null){
      if(currentTabIndex !== this.selectedIndex){
        return
      }
      if(e.scrollOffset<=this.profileContentHeight){
        this.contentTopTranslateY = e.scrollOffset;
        if(otherRefName && this.$refs[otherRefName]){
          otherRefName && this.$refs[otherRefName].scrollToIndex(0, false, ListViewItemSnapMode.Start);
          otherRefName && this.$refs[otherRefName].nativeView.scrollWithAmount(e.scrollOffset, true);
        }
      }
      else{
        this.contentTopTranslateY = this.profileContentHeight;
      }
    },
    goToSubscribers(index){
      this.$navigateTo(SubscriptedUsers, {
        props: {
          tabviewIndex:index,
          username:this.username,
        }
      });
    },
    goToPosts(){
      if(this.selectedIndex !== 0){
        this.selectedIndex = 0;
      }
      setTimeout(()=>{
        this.$refs.postsListView.nativeView.scrollWithAmount(this.contentTabTranslateYComputed, true);
      }, 200);
    },
    refreshSidebarList(){
      this.$store.commit("setRefreshFollowingList",!this.$store.getters.getRefreshFollowingList);
    },
  },
  watch: {
    profileLoaded(to){

    }
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../app';
@import '../profile';
@import '../app-common';

// End custom common variables

// Custom styles

@keyframes example {
  0%   { background-color: lightgrey;}
  50%  { background-color: $seperator-color;}
  100% { background-color: lightgrey;}
}
.skeleton{
  background-color: lightgrey;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count:infinite;
}

.borderBottom{
  border-width: 0 0 2 0;
  border-color: $seperator-color;
  border-style: solid;
}

</style>
