<template>
    <Page class="page">
      <ActionBar class="action-bar">
        <!--
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
        <NavigationButton ios:visibility="collapsed" icon="res://cross" @tap="onBackButtonTap"></NavigationButton>
        <!--
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
        <ActionItem icon="res://back"
                    android:visibility="collapsed"
                    @tap="onBackButtonTap"
                    ios.position="left">
        </ActionItem>
        <Label class="action-bar-title" :text="title"></Label>
      </ActionBar>
        <GridLayout rows="*">
          <WebView ref="mainWebView" row="1" height="100%" :src="src">

          </WebView>
        </GridLayout>
    </Page>
</template>

<script>
    import SelectedPageService from "../shared/selected-page-service";
    import InternationalComponent from '../mixins/internationalComponent';
    import UpdateRenderState from '../mixins/updateRenderState';
    import {isAndroid} from "@nativescript/core/platform";
    import {DrawerSetup} from "../mixins/drawerPageMixin";

    export default {
        mixins: [InternationalComponent, DrawerSetup],
        async mounted() {
            SelectedPageService.getInstance().updateSelectedPage("webView");
            const webView = this.$refs.mainWebView.nativeView;
            if(isAndroid){
            }

        },
        computed: {

        },
        props: [
            "src",
            "title"
        ],
        data(){
            return {

            }
        },
        methods: {
            onBackButtonTap() {
              this.$navigateBack();
            }
        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    @import '../app';
    // End custom common variables

    // Custom styles

</style>
