<template>

    <GridLayout rows="auto,*" @loaded="onWrapperLoaded">
      <ScrollView ref="scrollView" id="scrollView" class="inner" row="1">
          <StackLayout>
            <AbsoluteLayout v-if="categoryList.length!==0"
                class="category-list-view">
              <RadListView ref="categoryListview"
                           for="item in categoryList"
                           orientation="horizontal"
              >
                <v-template>
                  <StackLayout orientation="horizontal" class="category-list-item" >
                    <Image :src="item.icon" class="category-icon"></Image>
                    <label :text="item.categoryName" class="category-label"></label>
                  </StackLayout>
                </v-template>
              </RadListView>
            </AbsoluteLayout>
            <GridLayout :rows="gridlayout.rows" columns="*,*,*">
              <VideoPlayer row="0" col="0" rowSpan="2" colSpan="2" class="video-player"
                           controls="false" loop="true" muted="true" fill="true"
                           src="https://www.rmp-streaming.com/media/big-buck-bunny-360p.mp4"
                           autoplay="true">
              </VideoPlayer>
              <WrapLayout row="0" col="0" rowSpan="2" colSpan="2" class="hashtag-wrapper">
                <Label  class="hashtag-video" textWrap="true" :text="postItems.getItem(0).fullName"/>
              </WrapLayout>

              <ImageCacheIt row="0" col="2" class="post-item-right" :src="postItems.getItem(1).imgSrc"/>
              <WrapLayout row="0" col="2" class="hashtag-wrapper">
                <Label class="hashtag-right" :text="postItems.getItem(1).fullName"/>
              </WrapLayout>

              <ImageCacheIt row="1" col="2" class="post-item-right" :src="postItems.getItem(2).imgSrc"/>
              <WrapLayout row="1" col="2" class="hashtag-wrapper">
                <Label class="hashtag-right " :text="postItems.getItem(2).fullName"/>
              </WrapLayout>

              <ImageCacheIt row="2" col="0" class="post-item-left" :src="postItems.getItem(3).imgSrc"/>
              <WrapLayout row="2" col="0" class="hashtag-wrapper">
                <Label class="hashtag-left " :text="postItems.getItem(3).fullName"/>
              </WrapLayout>

              <ImageCacheIt row="2" col="1" class="post-item-middle" :src="postItems.getItem(4).imgSrc"/>
              <WrapLayout row="2" col="1" class="hashtag-wrapper">
                <Label class="hashtag-middle " :text="postItems.getItem(4).fullName"/>
              </WrapLayout>

              <ImageCacheIt row="2" col="2" class="post-item-right" :src="postItems.getItem(5).imgSrc"/>
              <WrapLayout row="2" col="2" class="hashtag-wrapper">
                <Label class="hashtag-right" :text="postItems.getItem(5).fullName"/>
              </WrapLayout>
            </GridLayout>
            <Label text="Want to follow" class="follow-list-header"></Label>
            <RadListView ref="suggestedUsersListView"
                         for="item in suggestedUsersList"
                         orientation="horizontal"
                         >
              <v-template>
                  <StackLayout :id="item.id" @tap="onSuggestedUserTap" class="follow-list-item" >
                    <ImageCacheIt :src="item.imgSrc" class="cardview-image-circle"></ImageCacheIt>
                    <label :text="item.fullName" textWrap="true"></label>
                  </StackLayout>
              </v-template>
            </RadListView>

          </StackLayout>
      </ScrollView>

      <GridLayout height="62" ref="searchBarContainer" class="search-bar-container" row="0">
        <SearchBar ref="searchBar" @loaded="onSearchBarLoaded" />
      </GridLayout>
    </GridLayout>

</template>

<script>
import Home from "../Home";
import {ObservableArray} from "@nativescript/core/data/observable-array";
import {CubicBezierAnimationCurve} from "@nativescript/core/ui/animation";
import {Animation} from "@nativescript/core/ui/animation";
import {GestureStateTypes, SwipeDirection} from "@nativescript/core";
import { isAndroid, isIOS} from "@nativescript/core/platform";
import NewsRepository from "../../repositories/news";
import User_Profile from "../UserProfile";
import Search from "../Search";
const platformModule = require("@nativescript/core/platform");

const minStretch = 0;
const maxStretch = 62;
const animDuration = 250;
let animation = Animation;
let prevTranslateY = 0;
let prevScale = 0;

let prevY = -20000;
export default {
  name: "BrowseTab",
  props: ["activeTab"],
  created() {
    setTimeout(()=>{
      this.getCategories();
    }, 200);
  },
  data() {
    return {
      postItems: new ObservableArray([
        {
          id: "132569",
          fullName: "A Haber",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil1.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132568",
          fullName: "#CanOncu",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/newspicture/efc8ab76a08811eba20c0242ac12000cb5f73ad31e2a4461a2bc6df492a6815d_raw.jpg",
          username:"mr.drk94",
          isPremium:true,
        },
        {
          id: "132567",
          fullName: "Bitcoin",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/newspicture/8d2bae50a08811eba20c0242ac12000c88125d6e2b8e43daa6203f042534b021_raw",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132566",
          fullName: "#Russia",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/newspicture/d3baa114a08811eba20c0242ac12000c024dbdf4e92d4260a1f652e0d95c0858_raw.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132565",
          fullName: "Mehmet Ak",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil5.jpg",
          username:"mr.drk94",
          isPremium:true,
        },
        {
          id: "132564",
          fullName: "A Haber",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil1.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132563",
          fullName: "Emre Durak",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil2.jpg",
          username:"mr.drk94",
          isPremium:true,
        },
        {
          id: "132562",
          fullName: "Yusuf Selim Karataş",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil3.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132561",
          fullName: "Selami Öz",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil4.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
      ],),
      suggestedUsersList: new ObservableArray([
        {
          id: "65",
          fullName: "Mehmet Öztürk",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil1.jpg",
          username:"mehmetozturk4705",
          isPremium:false,
        },
        {
          id: "71",
          fullName: "Aday 2",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil2.jpg",
          username:"adayogr.2",
          isPremium:true,
        },
        {
          id: "132567",
          fullName: "Yusuf Selim Karataş",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil3.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132566",
          fullName: "Selami Öz",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil4.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132565",
          fullName: "Mehmet Ak",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil5.jpg",
          username:"mr.drk94",
          isPremium:true,
        },
        {
          id: "132564",
          fullName: "A Haber",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil1.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132563",
          fullName: "Emre Durak",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil2.jpg",
          username:"mr.drk94",
          isPremium:true,
        },
        {
          id: "132562",
          fullName: "Yusuf Selim Karataş",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil3.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
        {
          id: "132561",
          fullName: "Selami Öz",
          imgSrc: "https://journior.s3.eu-central-1.amazonaws.com/media/profile/profil4.jpg",
          username:"mr.drk94",
          isPremium:false,
        },
      ],),
      categoryList: new ObservableArray([]),
      mostlyReadedList: new ObservableArray([
        {
          categoryName:"Politics",
          icon:"font://"+String.fromCharCode(0xf004)
        },
        {
          categoryName:"Health",
          icon:"res://category_health"
        },
        {
          categoryName:"Sports",
          icon:"res://category_sports"
        },
        {
          categoryName:"Daily",
          icon:"res://category_daily"
        },
        {
          categoryName:"Breaking",
          icon:"res://category_breaking"
        },
      ]),
      rowHeight:this.getRowHeight(),
      gridlayout:{
        rows:[this.getRowHeight(),this.getRowHeight(),this.getRowHeight()]
      },
      searchBarVisible: false,
    }
  },
  computed: {
    textLabel: {
      get(){
        return this.$store.getters.getLabel;
      }
    },
  },
  methods:{
    onWrapperLoaded(args) {
      let wrapperLayout = args.object.nativeView;
      console.log("Search bar state:",this.searchBarVisible);
      let scrollView = this.$refs.scrollView.nativeView;
      let bar = this.$refs.searchBarContainer.nativeView;

      if(!this.searchBarVisible){
        bar.translateY = bar.translateY - maxStretch;

        scrollView.marginTop = -1 * maxStretch;


        bar.eachChildView((v) => {
          v.opacity = 0;
          return true;
        });
      }

      scrollView.on('pan', (args) => {
        if (args.state === GestureStateTypes.began) {
          if (animation && animation.isPlaying) {
            animation.cancel();
            const newY = scrollView.translateY - prevTranslateY;
            if (newY >= minStretch && newY <= maxStretch) {
              scrollView.translateY = newY;
              bar.translateY = newY - maxStretch;
            }
          } else {
            prevTranslateY = 0;
          }
        }
        else if (args.state === GestureStateTypes.changed) {
          if (args.deltaY < 0) {
            let newY = scrollView.translateY + args.deltaY - prevTranslateY;
            scrollView.translateY = newY;
            prevTranslateY = args.deltaY;
            prevScale = this.getScale(maxStretch, newY);

            bar.eachChildView((v) => {
              v.opacity = prevScale;
              return true;
            });

            if (newY <= maxStretch && newY >= minStretch) {
              bar.translateY = newY - maxStretch;
            }
          }
        }
        else if (args.state === GestureStateTypes.ended) {

          if (args.deltaY < 0) {
            /*
              In order to determine if search bar will be shown or not, change code below

              if (scrollView.translateY < maxStretch / 2) {
                transY = minStretch;
              }
           */
            let transY = maxStretch;
            if (args.deltaY < maxStretch / 2) {
              transY = minStretch;
            }

            const def1 = {
              target: scrollView,
              duration: animDuration,
              translate: { x: 0, y: transY },
              curve: new CubicBezierAnimationCurve(.18, .52, 0, 1)
            };

            const def2 = {
              target: bar,
              duration: animDuration,
              translate: { x: 0, y: transY - maxStretch },
              curve: new CubicBezierAnimationCurve(.18, .52, 0, 1)
            };

            const childDefs = [];
            bar.eachChildView((v) => {
              const def3 = {
                target: v,
                duration: animDuration,
                opacity: transY === maxStretch ? 1 : 0
              };
              childDefs.push(def3);
              return true;
            });

            this.searchBarVisible = transY === maxStretch;
            animation = new Animation([def1, def2, ...childDefs]);
            animation.play();

          }
        }
      });

      scrollView.on('swipe', (args) => {
        if (animation && animation.isPlaying) {
          animation.cancel();
        }
        if (args.direction === SwipeDirection.down) {

          const def1 = {
            target: bar,
            duration: animDuration,
            translate: { x: 0, y: minStretch },
            curve: new CubicBezierAnimationCurve(.18, .52, 0, 1)
          };
          const def2 = {
            target: scrollView,
            duration: animDuration,
            translate: { x: 0, y: maxStretch },
            curve: new CubicBezierAnimationCurve(.18, .52, 0, 1)
          };
          const childDefs = [];
          bar.eachChildView((v) => {
            const def3 = {
              target: v,
              duration: animDuration * 2,
              opacity: 1
            };
            childDefs.push(def3);
            return true;
          });

          animation = new Animation([def1, def2, ...childDefs]);
          animation.play();
          this.searchBarVisible = true;
        }
      });
    },
    onSearchBarLoaded(args){
      let searchBar = args.object;
      searchBar.dismissSoftInput();
      if(isAndroid){
        searchBar.android.clearFocus();
        searchBar.android.setOnQueryTextFocusChangeListener(new android.view.View.OnFocusChangeListener({
          onFocusChange:(v, hasFocus) => {
            if(hasFocus){
              this.searchBarFocused();
            }
          }
        }));
      }

    },
    getScale(fullDen, partNum) {
      return partNum / fullDen;
    },
    getRowHeight(){
      let width = platformModule.screen.mainScreen.widthDIPs;
      let height = platformModule.screen.mainScreen.heightDIPs;
      return width/3;
    },
    onSuggestedUserTap(args){
      let id = args.object.id;
      let index = -1;
      for(let i=0; i<this.suggestedUsersList.length; i++){
        if (id === this.suggestedUsersList.getItem(i).id){
          index = i;
          break;
        }
      }
      if(index>=0){
        let item = this.suggestedUsersList.getItem(index);
        this.$navigateTo(User_Profile, {
          props: {
            profile_id: item.id,
            pp_src: item.imgSrc,
            username: item.username,
          }
        });
      }
    },
    async getCategories(){
      try {
        let response = await NewsRepository.getCategories();
        let res = response.json;
        for(let i = 0; i<res.length; i++){
          let element = res[i];
          // if there is no picture in article dont push it to array
          let image = element.profile_photo ? element.profile_photo : ''
          this.categoryList.push(
              {
                id: element.id,
                categoryName: element.category_name,
                icon: element.image,
              }
          )
        }
      } catch (e) {
        if (e.name === "ClientError") {
          console.log("An error occured in if block");
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured in else block");
        }
      }
    },
    searchBarFocused(args){
      this.$navigateTo(Search);
    },
  }
}
</script>

<style scoped lang="scss">
@import '../../app';
@import '../../app-common';
@import '../../app-variables';

$follow-circle-image-size:80;
$hashtag-background:linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.3));

.search-bar-container{
  background-color: lightgrey;
  padding: $standard-padding;
}
.category-list-view{
  padding:$xshort-padding 0 $xshort-padding 0;
  height:40;
}
.category-list-item{
  border-width: 0 1 0 0;
  border-color: $seperator-color;
  padding:0 $xshort-padding 0 $xshort-padding;
}
.category-icon{
  width:$standard-font-size;
  height:$standard-font-size;
}
.category-label{
  font-size: $short-font-size;
  font-family: $standard-font-family;
  vertical-align: center;
}
.post-item-left{
  margin:0 2 2 0;
  stretch:aspectFill;
}
.post-item-middle{
  margin:0 0 2 0;
  stretch:aspectFill;
}
.post-item-right{
  margin:0 0 2 2;
  stretch:aspectFill;
}
.hashtag-wrapper{
  vertical-align: bottom;
  font-family: $standard-font-family;
  font-size: $short-font-size;
  color:$btn-text-color-primary;
  padding-left:$xxshort-padding;
  padding-bottom:$xxshort-padding;
}
.hashtag-left{
  background-image: $hashtag-background;
  margin:0 2 2 0;
  padding:0 $standard-padding 0 $standard-padding;
  border-radius: 16;
}
.hashtag-middle{
  background-image: $hashtag-background;
  margin:0 0 2 0;
  padding:0 $standard-padding 0 $standard-padding;
  border-radius: 8;
}
.hashtag-right{
  background-image: $hashtag-background;
  margin:0 0 2 2;
  padding:0 $standard-padding 0 $standard-padding;
  border-radius: 8;
}
.video-player{
  margin-bottom: 2;
}
.hashtag-video{
  background-image: $hashtag-background;
  margin:0 0 2 0;
  padding:0 $standard-padding 0 $standard-padding;
  border-radius: 8;
}

.follow-list-header{
  margin-top: $standart-margin;
  padding-left:$standard-padding;
  font-family: $main-subtitle-font;
  font-size:$standard-font-size;
}

.cardview-image-circle{
  width:$follow-circle-image-size;
  height:$follow-circle-image-size;
  border-radius: $follow-circle-image-size;
}
.follow-list-item{
  border-width: 1;
  border-color: $seperator-color;
  padding:$xshort-padding;
  margin: 0 $xshort-margin 0 $xshort-margin;
  width: 120;
  height:150;
  Label{
    text-align: center;
    font-family: $standard-font-family;
    font-size: $short-font-size;
  }
}
</style>
