<template>
<StackLayout>
    <ScrollView height="100%">
      <StackLayout>
        <StackLayout >
          <TextView
              :hint="'Başlık...'"
              class="post-editor-paragraph detail-text-header"
              v-model="headerText">

          </TextView>
        </StackLayout>
        <StackLayout v-for="paragraph in postContent" :key="paragraph.order">
          <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal">
              <StyleButton :text="'\uf032'"></StyleButton>
            </StackLayout>
          </ScrollView>
          <TextView
              :hint="'Yazmaya başla...'"
              class="post-editor-paragraph detail-text-standard">
          </TextView>
        </StackLayout>
      </StackLayout>
    </ScrollView>
</StackLayout>
</template>

<script>
    import StyleButton from './postBuildingBlocks/StyleButton';
    export default {
        name: "NewPostTab",
        props: ["activeTab"],
        components: {StyleButton},
        computed: {
            textLabel: {
                get(){
                    return this.$store.getters.getLabel;
                }
            }
        },
      data(){
          return {
            headerText: "A",
            postContent: [
              {
                order: 0,
                paragraphType: "subheader"
              }
            ]
          }
      },
      mounted(){
          let options = {
              hd: true
          }


      },
      methods:{
      },
      watch:{
          headerText(to){
            console.log(to);
          }
      }
    }
</script>

<style lang="scss" scoped>
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';

  .post-editor-paragraph{
    background-color: transparent;
    border-width: 1;
    border-color: transparent;
    padding: $short-padding;
    height: auto;
  }
  .post-editor-paragraph:focus{
    border-color: $primary;
  }

</style>
