<template >
  <StackLayout class="standard-container" >
    <GridLayout class="post-header" columns="*,auto" rows="*" width="100%" orientation="horizontal">
      <Label col="0" row="0" class="headline" textWrap="true" :text="postHeader"></Label>
      <Label col="1" row="0" @tap="showOptions" id="options-icon" text.decode="&#xf142;" class="fa"></Label>
    </GridLayout>
    <ImageCacheIt :width="pageWidth" :height="height" :src="postPicture" stretch="none"></ImageCacheIt>
    <StackLayout class="post-footer" height="48" orientation="horizontal" @tap="footerClick">
      <Image id="userPicture" :src="userPicture"></Image>
      <Label id="userName" :text="userName" width="38%"/>
      <Label id="vertical-separator" width="1%"/>
      <Label class="pretty-date" textWrap="true" :text="prettyDate" width="24%"/>
      <Label class="pretty-date" textWrap="true" :text="category" width="18%"/>
      <Image ref="likeButton" :src="likeIcon" :class="likeButtonClasses" @tap="likeClick" />
    </StackLayout>
  </StackLayout>

</template>

<script>
import {AnimationCurve} from "@nativescript/core/ui/enums";
import AgencyNews3DotsContext from "../contextMenuComponents/AgencyNews3DotsContext";
import AgencyNewsRepository from "../../repositories/agencyNewsRepository"

const platformModule = require("@nativescript/core/platform");

export default {
  name: "AgencyPost",
  components: {},
  props: [
    "postHeader",
    "postSubText",
    "postPicture",
    "postPictureHeight",
    "prettyDate",
    "userName",
    "userPicture",
    "isLiked",
    "category",
    "height",
    "newsUrl",
    "newsId",
  ],
  computed:{
    likeIcon(){
      if(this.liked){
        return "font://"+String.fromCharCode(0xf004);
      }else{
        return "font://"+String.fromCharCode(0xf08a);
      }
    },
    liked(){
      return this.newsLiked;
    },
    likeButtonClasses(){
      if(this.liked){
        return "fa like-icon red";
      }else{
        return "fa like-icon";
      }
    },
  },
  data() {

    return {
      showIndicator : true,
      pageWidth : parseInt(platformModule.screen.mainScreen.widthDIPs),
      newsLiked : this.isLiked,
    }
  },
  watch: {
    async myData(to) {
      await this.$nextTick();
      this.$refs.myCarousel.nativeView.refresh();
    },

  },
  methods: {
    likeClick() {
      if(this.liked){
        // unfav
        this.newsLiked = false;
        this.dislikeAgencyNews(this.newsId);
        this.$refs.likeButton.nativeView.animate({
          scale:{x:0.5 , y:0.5},
          curve:AnimationCurve.ease,
          duration:0
        });
        this.$refs.likeButton.nativeView.animate({
          scale:{x:1 , y:1},
          curve:AnimationCurve.ease,
          duration:250
        });
      }else{
        // fav
        this.newsLiked = true;
        this.likeAgencyNews(this.newsId);
        this.$refs.likeButton.nativeView.animate({
          scale:{x:0.5 , y:0.5},
          curve:AnimationCurve.ease,
          duration:0
        });
        this.$refs.likeButton.nativeView.animate({
          scale:{x:1 , y:1},
          curve:AnimationCurve.ease,
          duration:250
        });
      }
    },
    async likeAgencyNews(newsId){
      console.log("Will send request with: ",newsId);
      try{
        let result = await AgencyNewsRepository.likeAgencyNews(newsId);
        let res = result.json;
        if(res){
          this.newsLiked = res.fav_status;
          console.log(res.fav_count);
        }
      }
      catch (e) {
        this.newsLiked = false;
        if (e.name === "ClientError") {
          console.log("An error occured: \n",e.name,"\n",e.message);
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured: \n",e.name,"\n",e.message);
          return false;
        }

      }

    },
    async dislikeAgencyNews(newsId){
      console.log("Will send request with: ",newsId);
      try{
        let result = await AgencyNewsRepository.dislikeAgencyNews(newsId);
        let res = result.json;
        if(res){
          this.newsLiked = res.fav_status;
          console.log(res.fav_count);
        }
      }
      catch (e) {
        console.log("An error occured");
        this.newsLiked = true;
        if (e.name === "ClientError") {
          console.log("An error occured: \n",e.name,"\n",e.message);
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          return false;
        } else {
          this.$showError(this.L("There is an error. Please wait for a while and try again."));
          console.log("An error occured: \n",e.name,"\n",e.message);
          return false;
        }

      }

    },
    footerClick(){
      console.log("Footer clicked.")
    },
    async showOptions(){
      console.log("Show Options clicked");
      let bottomSheetResult = await this.$showBottomSheet(AgencyNews3DotsContext, {
        transparent: true
      });
      if (bottomSheetResult === "dontShow") {
        console.log("Dont show this");
        this.$emit('delete-item', this.newsId);
      }
    },

  }
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';

// End custom common variables
.standard-container {
  padding: 0;
  margin:0;
  .post-header{
    padding: 0 $xshort-padding 0 $xshort-padding ;
    margin: 0 $xshort-margin 0 $xshort-margin;

    font-family: $standard-font-family;
    font-weight: bold;
    font-size: $header-font-size;
    font-color: $headings-color;
    #headline {
      vertical-align: top;
      padding:
          0
          $standard-horizontal-padding
          0
          $big-padding;

    }
    #options-icon {
      vertical-align: top;
      padding:
          $standard-padding
          $big-padding
          $standard-padding
          $big-padding;
    }
  }

  .post-footer {
    padding: 0 $xshort-padding 0 $xshort-padding ;
    margin: 0 $xshort-margin 0 $xshort-margin;

    #userPicture {
      width: 30;
      height: 30;
      border-radius: 50%;
      border-width: 1;
      border-color: #a8aaae;
      strecth: aspectFill;
    }
    .like-icon{
      width:24;
      height:24;
      strecth: aspectFill;
    }
  }
}



#vertical-separator {
  border-width: 0 0 0 1;
  border-color: $seperator-color;
  border-style: solid;
}

.red {
  color: $accent-burgundy;
}
.pretty-date {
  font-size: $xshort-font-size;
  color:$secondary;
}
.carousel-container{
  padding:0;
  margin:0;
  border-color: $seperator-color;
  border-width: 1;
  border-style: solid;
}
.carousel{
  padding:0;
}
.carousel-item{
  margin:0;
  padding:0;
}
</style>
