<template >
  <StackLayout class="standard-container" >
    <GridLayout class="post-header" columns="*,auto" rows="*" width="100%" orientation="horizontal">
      <Label col="0" row="0" class="headline" textWrap="true" :text="postHeader"></Label>
      <Label col="1" row="0" @tap="showOptions" id="options-icon" text.decode="&#xf142;" class="fa"></Label>
    </GridLayout>

    <GridLayout
                :width="pageWidth" :height="maxPictureHeight" class="carousel-container">
      <Carousel ref="myCarousel"
                class="carousel"
                v-if="picturesCount>1"
                height="100%" :width="pageWidth"
                @pageChanged="myChangePageEvent"
                android:indicatorAnimation="scale"
                indicatorColor="#fff"
                indicatorPadding="-1"
                indicatorOffset="0, 20"
                :showIndicator="showIndicator"
      >
        <CarouselItem v-for="(item, i) in imageList" :key="i"
                      verticalAlignment="middle"
                      class="carousel-item"
                      @tap="myTapPageEvent"
                      :width="pageWidth" :height="item.calculatedHeight"
        >
          <GridLayout>
            <ImageCacheIt v-if="item.type==='picture'" :width="pageWidth" :height="item.calculatedHeight" :src="item.src" stretch="aspectFill" />
            <VideoPlayer  v-if="item.type ==='video'" class="video-player"
                          controls="false" loop="true" fill="true"
                          :src="item.src" autoplay="false"
                          @loaded="onVideoPlayerLoaded" @tap="onVideoTap"  @playbackStart="videoReady"
                          :ref="'news'+newsId+'image'+i"
                          :id="'news'+newsId+'image'+i">
          </VideoPlayer>
          </GridLayout>
        </CarouselItem>
      </Carousel>
    </GridLayout>

    <StackLayout class="post-footer" height="48" orientation="horizontal" @tap="footerClick">
      <Image id="userPicture" :src="userPicture"></Image>
      <Label id="userName" :text="userName" width="38%"/>
      <Label id="vertical-separator" width="1%"/>
      <Label class="pretty-date" textWrap="true" :text="prettyDate" width="24%"/>
      <Label class="pretty-date" textWrap="true" :text="category" width="18%"/>
      <Image ref="likeButton" :src="likeIcon" :class="likeButtonClasses" @tap="likeClick" />
    </StackLayout>
  </StackLayout>

</template>

<script>
import {AnimationCurve} from "@nativescript/core/ui/enums";
import AgencyNews3DotsContext from "../contextMenuComponents/AgencyNews3DotsContext";
import Vue from 'nativescript-vue';
import Vuex from 'vuex';
Vue.use(Vuex);

const platformModule = require("@nativescript/core/platform");

export default {
  name: "multiImageAgencyNews",
  components: {},
  props: [
    "postHeader",
    "postSubText",
    "postPicture",
    "postPictureHeight",
    "prettyDate",
    "userName",
    "userPicture",
    "isLiked",
    "category",
    "picturesCount",
    "listOfImages",
    "maxPictureHeight",
    "maxPictureWidth",
    "calculatedHeight",
    "newsUrl",
    "newsId",
  ],
  computed:{
    likeIcon(){
      if(this.isLiked){
        return "font://"+String.fromCharCode(0xf004);
      }else{
        return "font://"+String.fromCharCode(0xf08a);
      }
    },
    likeButtonClasses(){
      if(this.isLiked){
        return "fa like-icon red";
      }else{
        return "fa like-icon";
      }
    },
    isMuted(){
      return this.$store.getters.getMute;
    },
  },
  data() {

    return {
      imageList: this.listOfImages,
      showIndicator : true,
      pageWidth : parseInt(platformModule.screen.mainScreen.widthDIPs),
    }
  },
  watch: {
    async myData(to) {
      await this.$nextTick();
      this.$refs.myCarousel.nativeView.refresh();
    },

  },
  methods: {
    likeClick() {
      this.isLiked = !this.isLiked;
      console.log("Like button clicked");
      this.$refs.likeButton.nativeView.animate({
        scale:{x:0.5 , y:0.5},
        curve:AnimationCurve.ease,
        duration:0
      });
      this.$refs.likeButton.nativeView.animate({
        scale:{x:1 , y:1},
        curve:AnimationCurve.ease,
        duration:250
      });
    },

    footerClick(){
      console.log("Footer clicked.")
    },
    myChangePageEvent(args) {
      let newIndex = args.index;
      let newItem = this.listOfImages[newIndex];
      //stop other videos
      for(let i=0; i<this.imageList.length; i++){
        if(this.imageList[i].type==="video" && i!==newIndex){
          let itemRef = "news"+this.newsId+"image"+i;
          let videoView = this.$refs[itemRef][0];
          if(videoView.nativeView){
            console.log(videoView.nativeView);
            videoView.nativeView.pause();
          }
        }
      }
      // play new video
      if(newItem.type === "video"){
        let itemRef = "news"+this.newsId+"image"+newIndex;
        let videoView = this.$refs[itemRef][0];
        videoView.nativeView.mute(this.isMuted);
        videoView.nativeView.play();
      }

    },
    onVideoPlayerLoaded(args){
      let video = args.object;
      video.mute(this.isMuted);
      if (video.id==="news"+this.newsId+"image0"){
        video.play();
      }
    },
    onVideoTap(args){
      let video = args.object;
      let mute = !this.isMuted;
      this.setSound(mute);
      video.mute(mute);
    },
    setSound(sound){
      this.$store.commit("setMute",sound);
    },
    videoReady(args){
      args.object.mute(this.$store.getters.getMute);
    },

    myTapPageEvent: function(args) {
      console.log('Tapped page:' + this.$refs.myCarousel.nativeView.selectedPage);
    },
    async showOptions(){
      console.log("Show Options clicked");
      let bottomSheetResult = await this.$showBottomSheet(AgencyNews3DotsContext, {
        transparent: true
      });
      if (bottomSheetResult === "dontShow") {
        console.log("Dont show this");
        this.$emit('delete-item', this.newsId);
      }
    },

  }
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';
// End custom common variables
.standard-container {
  padding: 0;
  margin:0;
  .post-header{
    padding: 0 $xshort-padding 0 $xshort-padding ;
    margin: 0 $xshort-margin 0 $xshort-margin;

    font-family: $standard-font-family;
    font-weight: bold;
    font-size: $header-font-size;
    font-color: $headings-color;
    #headline {
      vertical-align: top;
      padding:
          0
          $standard-horizontal-padding
          0
          $big-padding;

    }
    #options-icon {
      vertical-align: top;
      padding:
          $standard-padding
          $big-padding
          $standard-padding
          $big-padding;
    }
  }

  .post-footer {
      padding: 0 $xshort-padding 0 $xshort-padding ;
      margin: 0 $xshort-margin 0 $xshort-margin;

      #userPicture {
        width: 30;
        height: 30;
        border-radius: 50%;
        border-width: 1;
        border-color: #a8aaae;
        strecth: aspectFill;
      }
      .like-icon{
        width:24;
        height:24;
        strecth: aspectFill;
      }
    }
}



#vertical-separator {
  border-width: 0 0 0 1;
  border-color: $seperator-color;
  border-style: solid;
}

.red {
  color: $accent-burgundy;
}
.pretty-date {
  font-size: $xshort-font-size;
  color:$secondary;
}
.carousel-container{
  padding:0;
  margin:0;
  border-color: $seperator-color;
  border-width: 1;
  border-style: solid;
}
.carousel{
  padding:0;
}
.carousel-item{
  margin:0;
  padding:0;
}
</style>
