<template >
  <StackLayout class="standard-container" >
    <GridLayout class="post-header" columns="*,auto" rows="*" width="100%" orientation="horizontal">
      <Label col="0" row="0" class="headline" textWrap="true" :text="postHeader"></Label>
      <Label col="1" row="0" @tap="showOptions" id="options-icon" text.decode="&#xf142;" class="fa"></Label>
    </GridLayout>
    <ImageCacheIt :width="pageWidth" :height="height" :src="postPicture" stretch="none"></ImageCacheIt>
    <WrapLayout >
      <Label class="sub-text" textWrap="true" @loaded="subTextLoaded" :text="postSubText" ></Label>
    </WrapLayout>
    <StandardPostFooter
      :user-picture="userPicture"
      :username="userName"
      :category="category"
      :news-id="newsId"
      :is-commented="true"
      :is-liked="false"
      :date="prettyDate"
      comment-count="1.1k"
      like-count="316"
    />

  </StackLayout>

</template>

<script>
import AgencyNews3DotsContext from "../contextMenuComponents/AgencyNews3DotsContext";
import StandardPostFooter from "../mainTabs/postBuildingBlocks/StandardPostFooter";
import { isAndroid, isIOS} from "@nativescript/core/platform";

const platformModule = require("@nativescript/core/platform");

export default {
  name: "StandardPost",
  components: {StandardPostFooter},
  props: [
    "postHeader",
    "postSubText",
    "postPicture",
    "postPictureHeight",
    "prettyDate",
    "userName",
    "userPicture",
    "isLiked",
    "category",
    "height",
    "newsUrl",
    "newsId",
  ],
  computed:{

  },
  data() {

    return {
      showIndicator : true,
      pageWidth : parseInt(platformModule.screen.mainScreen.widthDIPs),
      isCommented: false,
      subTextMaxLine: 6,
    }
  },
  watch: {
    async myData(to) {
      await this.$nextTick();
      this.$refs.myCarousel.nativeView.refresh();
    },

  },
  methods: {
    async showOptions(){
      console.log("Show Options clicked");
      let bottomSheetResult = await this.$showBottomSheet(AgencyNews3DotsContext, {
        transparent: true
      });
      if (bottomSheetResult === "dontShow") {
        console.log("Dont show this");
        this.$emit('delete-item', this.newsId);
      }
    },
    labelMaxLines(label, maxLines) {
      let line = Math.max(Number(maxLines) || 0, 1);

      if (isAndroid) {
        label.android.setMaxLines(line);
        label.android.setEllipsize(android.text.TextUtils.TruncateAt.END);
      } else if (isIOS) {
        label.ios.numberOfLines = line;
        label.ios.adjustsFontSizeToFitWidth = false;
        label.ios.lineBreakMode = NSLineBreakMode.ByTruncatingTail;
      }
    },

    subTextLoaded(args) {

      this.labelMaxLines(args.object, this.subTextMaxLine);
    }

  }
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';
// End custom common variables
.standard-container {
  padding: 0;
  margin: 0;
}
  .post-header {
    padding: 0 $xshort-padding 0 $xshort-padding;
    margin: 0 $xshort-margin 0 $xshort-margin;

    font-family: $standard-font-family;
    font-weight: bold;
    font-size: $header-font-size;
    font-color: $headings-color;

    #headline {
      vertical-align: top;
      padding: 0 $standard-horizontal-padding 0 $big-padding;

    }

    #options-icon {
      vertical-align: top;
      padding: $standard-padding $big-padding $standard-padding $big-padding;
    }
  }

.sub-text{
  margin:$standart-margin 0 0 $standart-margin;
  padding: $standard-padding;
  border-width: 0 0 0 2;
  border-color:$accent-burgundy;

}
.carousel-container{
  padding:0;
  margin:0;
  border-color: $seperator-color;
  border-width: 1;
  border-style: solid;
}
.carousel{
  padding:0;
}
.carousel-item{
  margin:0;
  padding:0;
}
</style>
