<template>
  <BaseContextMenu >
    <StackLayout>
      <ContextMenuButton class="bottom-sheet-item" result-key="dontShow" text="Do not show this news" :icon="'\uf119'"></ContextMenuButton>
    </StackLayout>
  </BaseContextMenu>
</template>

<script>
import BaseContextMenu from "./BaseContextMenu";
import ContextMenuButton from "./buildingBlocks/ContextMenuButton";
export default {
name: "AgencyNews3DotsContext",
  components: {BaseContextMenu, ContextMenuButton}
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';

</style>