<template>
<StackLayout id="base-context-container">
  <StackLayout id="base-context-header">
    <GridLayout columns="4*, 2*, 4*" width="100%">
      <StackLayout :column="1" id="base-context-head-pick">

      </StackLayout>
    </GridLayout>
  </StackLayout>
  <StackLayout id="base-context-content-container">
    <slot>

    </slot>
  </StackLayout>
</StackLayout>
</template>

<script>
export default {
name: "BaseContextMenu"
}
</script>

<style scoped lang="scss">
  @import '../../app-variables';
  @import '../../app-common';

  #base-context-container{
    background-color: $context-menu-background;
    border-radius: $context-menu-outer-radius;
  }

  #base-context-header{
    height: $context-menu-header-container-size;
    #base-context-head-pick{
      height: $context-menu-header-pick-size;
      background: $context-menu-header-pick-color;
      border-radius: $context-menu-header-pick-radius;
    }
  }
  #base-context-content-container{
    padding: $short-horizontal-padding $standard-vertical-padding
  }
</style>