<template>
  <BaseContextMenu >
    <StackLayout>
      <ContextMenuButton class="bottom-sheet-item" result-key="camera" text="Fotoğraf Çek" :icon="'\uf030'"></ContextMenuButton>
      <ContextMenuButton class="bottom-sheet-item" result-key="gallery" text="Galeriden Seç" :icon="'\uf03e'"></ContextMenuButton>
    </StackLayout>
  </BaseContextMenu>
</template>

<script>
import BaseContextMenu from "./BaseContextMenu";
import ContextMenuButton from "./buildingBlocks/ContextMenuButton";
export default {
name: "CameraImageSelectionContext",
  components: {BaseContextMenu, ContextMenuButton}
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';

</style>