<template>
  <BaseContextMenu >
      <StackLayout orientation="vertical">
        <ContextMenuButton class="bottom-sheet-item" result-key="free" text="Free Plan" :icon="'\uf119'"></ContextMenuButton>
        <SubscriptionPlanButton v-for="item in subscription_plans" :key="item.id" class="bottom-sheet-item" :result-key="item.id"
                                :icon="'\uf00c'"
                                :text="item.subscription_name"
                                :hint="item.hint"
                                :price="item.price"
        >
        </SubscriptionPlanButton>
      </StackLayout>
  </BaseContextMenu>
</template>

<script>
import BaseContextMenu from "./BaseContextMenu";
import ContextMenuButton from "./buildingBlocks/ContextMenuButton";
import SubscriptionPlanButton from "./buildingBlocks/SubscriptionPlanButton";
export default {
name: "ChooseSubscriptionPlan",
  components: {BaseContextMenu, ContextMenuButton, SubscriptionPlanButton},
  computed:{
  },
  props:[
    'subscription_plans',
  ],
  data() {
    return {

    }
  }
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';

</style>