<template>
  <BaseContextMenu >
      <StackLayout orientation="vertical">
        <ContextMenuButton v-if="isReply" class="bottom-sheet-item" horizontalAlignment="center" result-key="goToParent" text="Go to message" :icon="'\uf106'"></ContextMenuButton>
        <ContextMenuButton class="bottom-sheet-item" horizontalAlignment="center" result-key="report" text="Report this comment" :icon="'\uf12a'"></ContextMenuButton>
        <ContextMenuButton v-if="isOwnComment" class="bottom-sheet-item red" horizontalAlignment="center" result-key="delete" text="Delete" :icon="'\uf014'"></ContextMenuButton>
      </StackLayout>
  </BaseContextMenu>
</template>

<script>
import BaseContextMenu from "./BaseContextMenu";
import ContextMenuButton from "./buildingBlocks/ContextMenuButton";
import SubscriptionPlanButton from "./buildingBlocks/SubscriptionPlanButton";
export default {
name: "CommentActionsContextMenu",
  components: {BaseContextMenu, ContextMenuButton},
  computed:{
    globalProfile(){
      return this.$store.getters.getProfile;
    },
    globalProfileFetched(){
      return this.$store.getters.getProfileFetchState;
    },
    profilePicture(){
      if(this.globalProfileFetched &&
          this.globalProfile.profile &&
          this.globalProfile.profile.active_profile_picture &&
          (this.globalProfile.profile.active_profile_picture.picture||
              this.globalProfile.profile.active_profile_picture.picture_raw)
      ) {
        if(this.globalProfile.profile.active_profile_picture.picture)
          return this.globalProfile.profile.active_profile_picture.picture;
        else{
          return this.globalProfile.profile.active_profile_picture.picture_raw;
        }
      }
      else
        return 'res://unknown';
    },
    fullName(){
      let _fullName = '';
      if(this.globalProfileFetched){
        _fullName += this.globalProfile.first_name?this.globalProfile.first_name:'';
        _fullName += ' ' + (this.globalProfile.last_name?this.globalProfile.last_name:'');
      }
      return _fullName.trim();
    },
    username(){
      if(this.globalProfileFetched) {
        return this.globalProfile.username?this.globalProfile.username:'';
      }
      return '';
    },
    isOwnComment(){
      console.log(this.username,"   ",this.comment.username);
      return this.username === this.comment.username;
    },
    isReply(){
      return this.from === 'reply';
    },
  },
  props:[
    'comment',
    'from',
  ],
  data() {
    return {

    }
  }
}
</script>

<style scoped lang="scss">
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';

.red{
  color:$accent-burgundy;
}
</style>