<template>
  <BaseContextMenu>
    <StackLayout>
      <Button @tap="buttonTapped" text="Deneme"/>
    </StackLayout>
  </BaseContextMenu>
</template>

<script>
import BaseContextMenu from "./BaseContextMenu";
export default {
name: "SampleContext",
  components: {BaseContextMenu},
  data () {
    return {
    }
  },
  methods:{
    buttonTapped(){
      this.$closeBottomSheet("Yes");
    }
  }
}
</script>

<style scoped>

</style>