// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/core';
@import 'app-functions';

// Custom colors
$background-dark: #F8F8F8 !default;
$background-light: #FFFFFF !default;

$blue-dark: #022734 !default;
$blue-light: #02556E !default;
$blue-50: rgba($blue-dark, 0.5) !default;
$blue-20: rgba($blue-dark, 0.2) !default;
$blue-10: rgba($blue-dark, 0.1) !default;

$accent-dark: #3A53FF !default;
$accent-light: #4781FE !default;

$success-dark: #06CE6A !default;
$success-light: #00E676 !default;

$warning-dark: #f39c11 !default;
$warning-light: #F2C112 !default;

$error-dark: #D84039 !default;
$error-light: #ED473F !default;

$midnight-dark: #0F336D !default;
$midnight-light: #14418B !default;

$night-dark: #023141 !default;
$night-light: #01526C !default;

$page-icon-color: #D7D7D7 !default;

// Sizes
$page-content-placeholder-font-size: 20;

/**
 * Theme variables overrides
**/

// Colors
$background: #fff;
$primary: lighten(#000, 13%);
$secondary: lighten(#000, 46%);
$disabled: lighten(#000, 62%);
$accent: $accent-dark;
$error: $error-light;
$accent-burgundy: #9b002b;
$accent-orange: #f7921e;

// Color variants
$accent-burgundy-light: rgba(153, 0, 43, 0.40); //opacity %40
$accent-burgundy-half-light: rgba(153, 0, 43, 0.4); //opacity %40



// SideDrawer
$sidedrawer-brand-width:45%;


// ActionBar
$ab-background: $background;
$ab-color: $white;
$ab-font-size: 15;

// Buttons
$btn-text-color-primary:#fff;
$btn-text-color-secondary:#dfdfdf;
$btn-white-background: #ffffff;
$btn-text-color-outline:#000;
$btn-text-color-dark-accent:#353535;
$btn-border-color: #000;
$btn-burgundy-border-color: $accent-burgundy;
$btn-font-size-primary:14;
$btn-font-size-small:11;
$btn-font-size-large:17;
$btn-padding-vertical:4;
$btn-padding-horizontal:0;
$btn-border-size: 2;

//Context menu
$context-menu-background: white;
$context-menu-header-container-size: 27;
$context-menu-header-pick-size: 6;
$context-menu-header-pick-radius: 50%;
$context-menu-header-pick-color: #afafaf;
$context-menu-outer-radius: 18 18 0 0;
//Context menu buttons
$context-menu-button-height: 55;
$context-menu-button-active-color: #4f4f4f;


//Custom colors
$half-accent-text: #8f8f8f;
$item-active-background: #000;
$item-active-color: #fff;
$seperator-color : #e0e0e0;

//Text colors
$headings-color: black;
$secondary: $half-accent-text;
$text-color: #2c2c2c;

//Text Font
$standard-font-family: "Noto Sans", "NotoSans-Regular";
$bold-font-family: "Noto Sans", "NotoSans-Bold";
$button-font-family: "PT Sans", "PTSans-Regular";
$button-bold-font-family: "PT Sans", "PTSans-Bold";
$quote-font: "Playfair Display", "PlayfairDisplay-VariableFont_wght";
$main-subtitle-font: "Roboto Condensed", "RobotoCondensed-Regular";

$standard-font-size: 16;
$big-font-size: 20;
$biggest-font-size:48;
$header-font-size: 18;
$header-detail-font-size: 35;

$short-font-size: 13;
$xshort-font-size:11;
$xxshort-font-size:9;

//Size:
$full-width: 100%;
$full-height: 100%;
$comment-image-size: 40;

//Margins
$big-margin:16;
$standart-margin: 10;
$short-margin: 7;
$xshort-margin: 5;

//paddings
$standard-horizontal-padding: 11;
$short-horizontal-padding: 7;
$xshort-horizontal-padding: 5;

$standard-vertical-padding: 13;
$short-vertical-padding: 9;
$xshort-vertical-padding: 7;

$big-padding:16;
$standard-padding:13;
$short-padding:9;
$xshort-padding:7;
$xxshort-padding:4;


//border definitions
$seperator-border: 0 0 1 0;
$standard-border-radius: 8;
$button-border-width: 2;
$image-border-radius:16;

///APP-WIDE
$actionbar-height-android: 20;
$actionbar-height-ios: 21;

//Login screen
$top-logo-width: 14%;
$top-logo-font-family: $quote-font;
$top-logo-text-align: center;
$top-logo-font-size: 18;
$top-logo-text-margin: 5;
$top-logo-to-page-margin: 25;
$editable-row-height: 75;
$editable-font-size: 15;
$editable-icon-size: 18;
$button-font-size: 20;

$login-container-signup-height: 365;
$login-container-login-height: 315;

$login-container-secondary: #efeff0 !default;
$login-container-gradient: linear-gradient(to bottom, $background-light 0%, $login-container-secondary 5%, $login-container-secondary 100%);

// Profile
$profile-container-gradient:linear-gradient(to bottom, #fbfbfb, #ffffff, #ffffff, #ffffff,#fdfdfd);

// Post editing variables
$post-style-button-size: 30;
$post-style-button-font-size: 11;
