@import './app-variables';
// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
/* Font icon class*/
.fa {
    font-family: "FontAwesome";

}
// Common page class
.page-content {

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

/* Action bar*/

ActionBar .action-bar-title {
    horizontal-align: center;
    font-size: $ab-font-size;
    font-family: $bold-font-family;
    font-weight: bold;
    color: $primary;
    text-transform: uppercase;
}

/* Buttons */
.btn{
    font-family: $button-font-family;
    font-size: $btn-font-size-primary;
    padding: $btn-padding-vertical $btn-padding-horizontal;
    text-transform: uppercase;
}

.btn-black{
    background: $primary;
    color: $btn-text-color-primary;
}

.btn-burgundy{
    background: $accent-burgundy;
    color: $btn-text-color-primary;
}

.btn-black:active, .btn-burgundy:active{
    color: $btn-text-color-secondary;
}

.btn-black-outline{
    background-color: $btn-white-background;
    color: $btn-text-color-outline;
    border-color: $btn-border-color;
    border-width: $btn-border-size;
    font-weight: bold;
}
.btn-black-outline:active{
    color: lighten($btn-border-color, 10%);
    border-color: lighten($btn-border-color, 10%);
}

.btn-burgundy-outline{
    background-color: $btn-white-background;
    color: $accent-burgundy;
    border-color: $accent-burgundy;
    border-width: $btn-border-size;
    font-weight: bold;
}
.btn-burgundy-outline:active{
    color: lighten($accent-burgundy, 5%);
    border-color: lighten($accent-burgundy, 5%);
}

.btn-rounded{
    border-radius: 50%;
}

.btn-large {
    font-size: $btn-font-size-large !important;
    font-family: $button-font-family !important;
    height: 66;
}
.btn-small{
    font-family: $button-font-family;
    font-size: $btn-font-size-small;
    padding: $btn-padding-vertical $btn-padding-horizontal;
    text-transform: uppercase;
}
.main-subtitle{
    font-family: $main-subtitle-font;
    font-size: $big-font-size;
    margin: $standart-margin*2 0 $short-margin 0;
    text-transform: uppercase;
}

/* Text start */
.detail-text-standard{
    text-wrap: true;
}

.detail-text-header{
    font-weight: bold;
    font-size: $header-detail-font-size;
    text-wrap: true;
}

.detail-text-subheader{
    font-weight: bold;
    font-style: italic;
    text-wrap: true;
    color: $half-accent-text;
    margin: 0 $standart-margin;
    font-size: $big-font-size;
}

.detail-text-quote{
    margin: 0 $standart-margin;
    font-family: $quote-font;
    color: $half-accent-text;
    text-wrap: true;
}
/* Text end */

.detail-element-container{
    padding: $xshort-vertical-padding $standard-horizontal-padding;
}


/* Image start */
.bordered-thin{
    border-style: solid;
    border-width: 1;
    border-color: $seperator-color;
}

.bordered-thick{
    border-style: solid;
    border-width: 2;
    border-color: $seperator-color;
}


.bottom-sheet-item{
    font-family: $standard-font-family;
    font-size: $standard-font-size;
}


Tabview{
    tab-text-color:$secondary !important;
    selected-tab-text-color:$primary !important;
    android-selected-tab-highlight-color:$primary !important;
    background-color: $white;
}