@import './app-variables';
@import './app-common';
// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
/* Font icon class*/
.fa {
   font-family: "FontAwesome";
}

$actionIconSize: 16;

.wrapper {
   padding: $xshort-padding;
   margin: 0 $xshort-margin 0 $xshort-margin;
   border-width: 1 0 0 0;
   border-color: $seperator-color;
}
.unavailable{
   background-color:#f0f0f0;
   border-radius: 20;
   border-width:1 1 1 1;
   border-color: $seperator-color;
   padding:$standard-padding;
   color:$half-accent-text;
}
.user-picture {
   width: $comment-image-size;
   height: $comment-image-size;
   border-radius: $comment-image-size;
   border-width: 1;
   border-color: $seperator-color;
   strecth: aspectFill;
}
.content{
   font-family: $standard-font-family;
   font-size: $short-font-size;
}

.action-icon{
   width:$actionIconSize;
   height:$actionIconSize;
   strecth: aspectFill;
   color: $secondary;
}
.red {
   color: $accent-burgundy;
}
.pretty-counts{
   font-size: $short-font-size;
   color:$secondary;
   padding-right: $standard-padding;
   margin-right: $standart-margin;
   text-align: left;
}
.replies-count{
   padding: $standard-padding;
   text-align: left;
   font-family: $standard-font-family;
   font-size: $short-font-size;
   color: #3366BB;
}