@import './app-variables';
// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
/* Font icon class*/
.fa {
   font-family: "FontAwesome";
}

.profile-container{
   text-align: center;
   font-family: $standard-font-family;
}
#profilePhoto{
   vertical-align: center;
   margin-top: $standart-margin;
   border-radius: 100%;
   border-width: 2;
   border-style: solid;
   border-color: $seperator-color;
   stretch: aspectFill;
}
#username{
   color:$secondary;
   font-size: $short-font-size;
   font-family: $bold-font-family;
   padding-top: 0 - $short-font-size/5;
}
#profileName{
   font-size: $big-font-size;
   font-family: $bold-font-family;
   margin:0;
}
#location_container{
   vertical-align:center;
   horizontal-align: center;
}
#location{
   color:$secondary;
   font-size: $short-font-size;
   font-family: $standard-font-family;
}
#location_icon{
   margin-right: 4;
   color:$accent-burgundy;
}
#bio{
   font-size: $standard-font-size;
   padding-top: 0 - $short-font-size/5;
}
.information-panel{
   margin-top:40;
}
.information-panel-item{
   vertical-align: center;
}
.subscribe-button-container{
   vertical-align: center;
   margin-bottom:40;
}
.count-value{
   font-family: $bold-font-family;
   font-size:$big-font-size;
   padding-bottom:0 - $big-font-size/5;
}
.count-label{
   font-family: $main-subtitle-font;
   font-size: $short-font-size;
   color: $secondary;
   border-style: solid;
   padding-top:0 - $short-font-size/5;
}
.post-container{
   border-width: $seperator-border;
   border-color: $seperator-color;
   padding:0;
   margin:0;
}
Tabview{
   tab-text-color:$secondary;
   selected-tab-text-color:$primary;
   android-selected-tab-highlight-color:$primary;
}
