// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';

// Import common styles
@import 'app-common';


//Özelleştirmiş stiller

.material-editable-field{
  floating-color: $accent-burgundy;
  floating-color-inactive: $primary;
  variant: filled;
  color: $primary;
  background-color: $background;
  font-family: $standard-font-family;
  font-size: $editable-font-size;
  margin-left: $standart-margin;
}


