// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar .fa {
    padding: 40px;
}

.no-action-bar{
    padding-top: $actionbar-height-android;
}

//Drawer navigation custom styles
.sidebar {
    padding: $standard-padding+$actionbar-height-android 0 $standard-padding 0;
    color:$headings-color;
}